@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/Open_Sans/OpenSans-Light_0.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold_0.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular_0.ttf") format("truetype");
}
/*==========MAIN COLOR===========*/
$text-color: #303030;
$bg-color: #3654a4;
$bg-color1: rgb(127, 174, 255);
/*==========MAIN STYLE===========*/
ul,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.btn{
  padding: 0 1.25rem;
  height: 60px;
  border-radius: 30px;
  font-size: 24px;
  line-height: 55px;
  text-transform: uppercase;
  overflow: hidden;
  span:not(.icon){
    width: 100%;
    display: block;
    height: 100%;
    transition: all 0.4s ease;
  }
  &:hover{
    span:not(.icon):first-child{
      transform: scale(0);
      opacity: 0;
    }
    span:not(.icon):last-child{
      transform: translateY(-100%);
    }
  }
}
.btn-warning{
  background: linear-gradient(90deg, #FFA64F,#FF665E);
  color: #ffffff;
  border-color: #FFA64F;
  font:{
    weight: normal;
    family: "Open Sans Bold","Open Sans Regular", sans-serif;
  }
  &:hover{
    color: #ffffff;
    border-color: #FFA64F;
  }
}
body{
  font:{
    family: "Open Sans Regular",sans-serif;
    size: 16px;
    weight: normal;
  }
}
.title{
  h1{
    font:{
      size: 32px;
      family: "Open Sans Bold",sans-serif;
    }
    color: $text-color;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: relative;
    &::after{
      content: '';
      display: block;
      width: 70px;
      height: 6px;
      background-color: $bg-color;
      position: absolute;
      left: 0;
      bottom: -15px;
    }
    &.text-center::after{
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p{
    color: #808080;
  }
}
/*========ICON STYLE==============*/
.icon{
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 4px;
  vertical-align: middle;
  background-color: #ffffff;
  mask:{
    repeat: no-repeat;
    size: 90%;
    position: center center;
  }
  -webkit-mask:{
    repeat: no-repeat;
    size: 90%;
    position: center center;
  }
}
.icon-news{
  mask-image: url("../images/svg/newspaper-folded.svg");
  -webkit-mask-image: url("../images/svg/newspaper-folded.svg");
}
.icon-how-its-work{
  mask-image: url("../images/svg/invention.svg");
  -webkit-mask-image: url("../images/svg/invention.svg");
}
.icon-star{
  mask-image: url("../images/svg/stars.svg");
  -webkit-mask-image: url("../images/svg/stars.svg");
}
.icon-opportunity{
  mask-image: url("../images/svg/solar-system.svg");
  -webkit-mask-image: url("../images/svg/solar-system.svg");
}
.icon-play{
  mask-image: url("../images/svg/music-player-play.svg");
  -webkit-mask-image: url("../images/svg/music-player-play.svg");
}
.icon-key{
  mask-image: url("../images/etsp.png");
  -webkit-mask-image: url("../images/etsp.png");
}
.icon-page{
  mask-image: url("../images/send_doc.png");
  -webkit-mask-image: url("../images/send_doc.png");
}
.icon-lamp{
  mask-image: url("../images/lamp.png");
  -webkit-mask-image: url("../images/lamp.png");
}
.icon-calculator{
  mask-image: url("../images/svg/accounting.svg");
  -webkit-mask-image: url("../images/svg/accounting.svg");
}
.icon-orient-bank{
  mask-image: url("../images/brend/ofb.png");
  -webkit-mask-image: url("../images/brend/ofb.png");

}
.icon-turon{
  mask-image: url("../images/brend/turon.png");
  -webkit-mask-image: url("../images/brend/turon.png");

}
.icon-payme{
  mask-image: url("../images/brend/payme.png");
  -webkit-mask-image: url("../images/brend/payme.png");
}
.icon-ucell{
  mask-image: url("../images/brend/ucell.png");
  -webkit-mask-image: url("../images/brend/ucell.png");
}
.icon-phone{
  mask-image: url("../images/svg/phone-call.svg");
  -webkit-mask-image: url("../images/svg/phone-call.svg");
}
.icon-message{
  mask-image: url("../images/svg/envelope.svg");
  -webkit-mask-image: url("../images/svg/envelope.svg");
}
.icon-location{
  mask-image: url("../images/svg/placeholder.svg");
  -webkit-mask-image: url("../images/svg/placeholder.svg");
}
.icon-headphone{
  mask-image: url("../images/svg/headphones.svg");
  -webkit-mask-image: url("../images/svg/headphones.svg");
}
.icon-telegram{
  mask-image: url("../images/svg/telegram-logo.svg");
  -webkit-mask-image: url("../images/svg/telegram-logo.svg");
}
.icon-instagram{
  mask-image: url("../images/svg/instagram.svg");
  -webkit-mask-image: url("../images/svg/instagram.svg");
}
.icon-google{
  mask-image: url("../images/svg/icon.svg");
  -webkit-mask-image: url("../images/svg/icon.svg");
}
.icon-facebook{
  mask-image: url("../images/svg/facebook.svg");
  -webkit-mask-image: url("../images/svg/facebook.svg");
}
/*========HEADER STYLE============*/
header{
  min-height: 700px;
  background: {
    image: url("../images/header_back.png");
    size:100%;
    position: center top;
    repeat: no-repeat;
  };
  .navbar-nav{
    .btn{
      border-radius: 14px;
      font-size: 16px;
      height: 47px;
      line-height: 47px;
    }
  }
  .navbar{
    padding-left: 0;
    padding-right: 0;
  }
  .nav-link{
    color: #ffffff!important;
    font:{
      family: "Open Sans Light";
    }
    text-transform: uppercase;
    .icon{
      vertical-align: -7px;
    }
  }
  .col-md-6{
    h1{
      font:{
        size: 54px;
        family: "Open Sans Bold",sans-serif;
      }
    }
    p{
      color: rgba(255,255,255,0.6);
      font-size: 24px;
      line-height: 32px;
    }
    .img-fluid{
      position: absolute;
      left: -24%;
      top:20%;
      width: 170%;
      max-width: unset;
    }
    .btn-outline-light{
      font-family: "Open Sans Light",sans-serif;
      .icon{
        vertical-align: -3px;
      }
      &:hover{
        color:$bg-color;
        .icon{
          background-color: $bg-color;
        }
      }
    }
  }
}
/*========MAIN STYLE==============*/
main{
  .video-block{
    position: relative;
    min-height: 600px;
    .left{
      position: absolute;
      left: 0;
      top:0;
      width: 50%;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    .btn-primary{
      width: 100px;
      height: 100px;
      background-color: $bg-color;
      border-radius:50%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateX(50%) translateY(-50%);
      border: 6px solid #5089fc;
      overflow: visible;
      //outline: 6px solid rgba(80, 137, 252, 0.7);
      &::before{
        content: '';
        width: 126%;
        border:6px solid rgba(80, 137, 252, 0.7);
        height: 126%;
        position: absolute;
        left: -13%;
        top: -13%;
        display: block;
        border-radius: 50%;
      }
    }
  }
  .how-its-work{
    .img-block{
      width: 190px;
      height: 190px;
      border-radius: 50%;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
      margin: 2rem auto;
      .icon{
        width: 100%;
        height: 100%;
        background-color: $bg-color;
        border-radius: 50%;
        mask-size:50%;
        -webkit-mask-size:50%;
        &.icon-key{
          mask-size:30%;
          -webkit-mask-size:30%;
        }
      }
    }
    h4{
      text-transform: uppercase;
      font-size: 20px;
      line-height: 28px;
    }
    .row:last-child{
      position: relative;
      &::after{
        content: '';
        width: 100%;
        height: 50px;
        display: block;
        background:{
          image: url("../images/line_effect.png");
          repeat: no-repeat;
          size: 100%;
          position: center center;
        }
        position: absolute;
        bottom: -50px;
        left: 0;
      }
    }
  }
  .about{
    .list-unstyled{
      li{
        position: relative;
        padding-left: 1rem;
        padding-bottom: 1rem;
        h4{
          font:{
            size: 26px;
            weight: normal;
            family: "Open Sans Bold",sans-serif;
          }
        }
        p{
          color: #808080;
        }
        &::before{
          position: absolute;
          left: -30px;
          top: 12px;
          content: '';
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: radial-gradient(#FFA64F,#FF665E);
          display: block;
        }
      }
    }
    .carousel{
      .carousel-item{
        .icon-block{
          width: 90px;
          height: 90px;
          border-radius: 50%;
          margin-left: auto;
          background-color: #f1f1f1;
          .icon{
            width: 100%;
            height: 100%;
            display: block;
            background-color: $bg-color;
            border-radius: 50%;
            mask-size: 50%;
            -webkit-mask-size: 50%;
            mask-position: 40% center;
            -webkit-mask-position: 40% center;
          }
        }
        .col-md-7{
          font:{
            size: 24px;
            family: "Open Sans Bold",sans-serif;
          }
        }
        p{
          width: 80%;
          margin: 2rem auto;
          line-height: 26px;
          padding:0 2rem;
          color:#808080;
        }
      }
    }
  }
  .partners{
    .backgr-cl{
      background-color: #f3f3f3 ;
      .col-md-3{
      .icon{
        width:250px;
        height:170px;
        display:block;
        background-color: #7c7c7c;
        mask-size:100%;
        -webkit-mask-size:100%;
      }
    }
  }
  }
  .location{
    position:relative;
    .contacts{
      width:50%;
      height:100%;
      margin-left:50%;
      position:absolute;
      top:0;
      left:0;
      background-color: rgba(255, 255, 255, 0.85 );
      .title{
        h5{
          .icon{
            background-color: $text-color;
            width:30px;
            height:30px;
          }
        }
      }
    }
  }
}
/*========FOOTER STYLE============*/
footer{
  font-family:"Open Sans Light",sans-serif;
  background:linear-gradient(90deg,$bg-color,$bg-color1);
  .navbar{
    padding-left: 0;
    padding-right: 0;
  }
  .nav-link{
    color: #ffffff!important;
    font:{
      family: "Open Sans Light";
    }
    text-transform: uppercase;
    .icon{
      vertical-align: -7px;
    }
  }
  .col-md-2{
    .icon{
      width:50px;
      height:50px;
    }
  }
  .col-md-6{
    .logo{
      a{
        width: 40px;
        height:40px;
        background-color: $bg-color;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      .icon{
        mask-size:70%;
        -webkit-mask-size:70%;
        background-color: white;
        mask-position: center center;
        -webkit-mask-position: center center;
      }
    }
  }
}