/*============MAIN COLOR=========*/
$text-color:#e0e0e0;
$main-color:rgb(224, 147, 2);

/*============FONT STYLE=========*/
@font-face{
    font-family:"Realistica Demo";
    src:url("../fonts/Realistica-Demo.otf") format("truetype");
}
@font-face{
    font-family:"The Bredan Demo";
    src:url("../fonts/The-Bredan-Demo.otf") format("truetype");
}

.author{
    font-size:10px;
    color:$text-color;
    text-align:center;
}
.symb{
    font-size:40px;
    color:$text-color;
}
.title{
    font-size:22px;
    color:$main-color;
    text-align:center;
    font-weight:bolder;
}
.text{
    font-size:11px;
    text-align: center;
    font-weight:bold;
    color:rgb(82, 80, 80);
}
.menu{
    position: relative;
    font-size:14px;
    color:$main-color;
    font-weight:bold;
    border-bottom:1px solid $main-color;
}
.afmenu{
    font-size:10px;
    color:#757474;
}
.special{
    position:absolute;
    font-size:9px;
    top:-20px;
    right:0;
    width:50px;
    height: 12px;
    background-color:$main-color;
    color:$text-color;
}

/*============ICON STYLE=========*/

.icon{
    background-color:rgb(255, 166, 0);
    width:15px;
    height:15px;
    display:inline-block;
    margin:0 4px;
    mask:{
      repeat: no-repeat;
      size: 90%;
      position: center center;
    }
    -webkit-mask:{   
      size: 90%;
      position: center center;
    }
}
.icon-gmail{
    width:20px;
    height:20px;
    mask:{
      repeat: no-repeat;
      size: 90%;
      position: center center;
      image: url("../img/gmail.svg");
    }
    -webkit-mask:{
      repeat: no-repeat;
      size: 90%;
      position: center center;
      image:url("../img/gmail.svg");
    };
}
.icon-instagram{
    mask:{
      repeat: no-repeat;
      size: 90%;
      position: center center;
      image: url("../img/instagram.svg");
    }
    -webkit-mask:{
      repeat: no-repeat;
      size: 90%;
      position: center center;
      image:url("../img/instagram.svg");
    };
}
.icon-facebok{
    mask:{
        repeat: no-repeat;
        size: 90%;
        position: center center;
        image: url("../img/facebook.svg");
      }
      -webkit-mask:{
        repeat: no-repeat;
        size: 90%;
        position: center center;
        image:url("../img/facebook.svg");
      };
}
/*============MAIN STYLE=========*/

body{
    font:{
        family:"Realistica Demo",sans-serif;
    }
    header{
        width:100%;
        height: 100vh;
        background:url("../img/background/bgheader.png");
        background-repeat: no-repeat;
        background-size :cover;
        color:$text-color!important;
        .navbar-brand{
            text-transform: uppercase;
        }
        a{
            color:$text-color!important;
        }
        .nav-link{
            font-size:14px;
        }
        .bg-items{
            .ingredients{
                h5{
                    text-align:center;
                    font-size:75px;
                    color:$text-color!important;
                }
            }
            .btn{
                margin:0 auto;
                text-transform: uppercase;
                font-size:10px;
                border-radius: 0;
            }
            .btn-outline-dark{
                background-color:rgba(0, 0, 0, 0.658);
                color:$text-color;
            }
            .btn-outline-light{
                background-color:rgba(255, 255, 255, 0.329);
                color:$text-color;
            }
        }
        
    }
    main{
        .cook{
            background-image:url("../img/background/pattern.png");
            background-size:cover;
            background-repeat:no-repeat;
            .col-md-4{
                img{
                    margin-left:35%;
                }
            }
        }
        .tips{
            width:100%;
            background-image:url("../img/background/bgmain2.png");
            background-repeat: no-repeat;
            background-size:cover;
            .row{
                .col-md-4{
                    background-color:rgba(0, 0, 0, 0.479);
                    h4{
                        color:$text-color;
                    }
                    .text{
                        color:$text-color;
                    }
                }
            }
        }
        .mainMenu{
            background-image:url("../img/background/pattern.png");
            background-repeat: no-repeat;
            background-size:cover;
        }
        .feedback{
            background-image:url("../img/background/bgmain3.png");
            background-repeat:no-repeat;
            background-size:cover;
            .col-md-8{
                background-color:rgba(0, 0, 0, 0.863);
                .title{
                    color:$text-color;
                }
                .text{
                    color:$text-color;
                    font-size:12px;
                }
            }
        }
        .book{
            background-image:url("../img/background/pattern.png");
            background-repeat:no-repeat;
            background-size:cover;
            img{
                width: 36%;
                padding-left:3%;
                &:first-child{
                    margin-left:100px;
                }
            }
            .text{
                font-size:8px;
            }
            label{
                font-size:11px;
                color:$main-color;
            }
            input{
                border-radius:0;
                font-size:9px;
                height: 18px;
                color:#8d8d8d;
            }
            .btn{
                width:100px;
                font-size:12px;
                line-height:8px;
                border-radius:0;
            }
        }
    }

    footer{
        background-color:black;
        .col-md-4{
            .title{
                text-align:center;
                color:$text-color;
                font-size:14px;
            }
            .text{
                display:block;
                color:$text-color;
                font-size:11px;
                font-weight:lighter;
                b{
                    font-weight:bold;
                    font-size:13px;
                }
            }
            .social1{
                text-align:center;
                .icon{
                background-color:$text-color;
                }
            }
            
        }
    }
}