{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--font from googlefont-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <!--font from googlefont-->

    <!--style-->
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}"> <!--style-->

    <style>
        .cabinet__refresh__btn {
            background: #edf6fb;
            padding: 2px 5px;
            display: inline-flex;
            align-items: center;
        }

        .cabinet__refresh__btn img {
            width: 18px;
            height: 18px;
        }

        .jus-con-end {
            justify-content: flex-end;
        }

        .ml-50 {
            margin-left: 50px;
        }

        .cabinet-head-box-icon {
            border-radius: 0 !important;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <title>Tripsia</title>
</head>
<body>

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start header -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->


<header class="header-area header-area-white header-area-white wow fadeInDown" data-wow-delay="0.2s">
    <div class="light classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="dreamNav">

                <!-- Logo -->
                <a class="nav-brand" href="{% url 'tripsia-home' %}#home"><img src="{% static 'main/img/logo.png' %}"
                                                                               alt="logo"></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li><a href="{% url 'tripsia-home' %}#home">Home</a></li>
                            <li><a href="{% url 'tripsia-home' %}#about">About us</a></li>
                            <li><a href="{% url 'tripsia-home' %}#roadmap">Roadmap</a></li>
                            <li><a href="{% url 'tripsia-home' %}#team">API</a></li>
                        </ul>

                        <!-- Button -->
                        <div class="auth">
                            <div class="auth-item">
                            </div>
                            <div class="auth-item">
                                <div class="auth-desc">
                                    <span class="">{{ user.username }}</span>
                                </div>
                            </div>
                            <div class="auth-popup">
                                <ul>
                                    {#                  <li><a href="{% url 'walletcreate' %}">New Wallet</a></li>#}
                                    <li><a href="{% url 'walletaccess' %}">Access</a></li>
                                    <li><a href="{% url 'tstAccount:logout' %}">Log out</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="header-lang-wrap pos-r text-center">
                            <p class="lang-opener"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt=""></p>
                            <ul class="lang justify-content-center justify-content-lg-left">
                                <li><a href="index.html"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt="">English</a>
                                </li>
                                <li><a href="indexRU.html"><img src="{% static 'main/img/russian-flag-icon.jpg' %}"
                                                                alt="">Russian</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<main class="main-page cabinet">
    <div class="cabinet-wrap">
        <div class="cabinet-head mb-30">
            <div class="container">
                <div class="row equal-offsets">
                    <div class="col-xl-6">
                        <div class="cabinet-head-box">
                            <div class="cabinet-head-box-icon">
                                <img src="{% static 'main/images/cabinet-head-icon.png' %}" alt="">
                            </div>
                            <div class="cabinet-head-box-content">
                                <p id="user_email" style="visibility: hidden">{{ user.email }}</p>
                                <p class="cabinet-head-box-title f-semi">
                                    Address
                                </p>
                                <div class="cabinet-head-box-desc">
                                    <p id="wallet_adress" class="f-13 f-light mb-2 token-long">{{ publicKey }}</p>
                                </div>
                                {#                <p class="f-11 copy-text-out-modal mb-2 link-col">Copy is completed</p>#}
                                <div class="cabinet-head-box-images">
                                    <a class="modal-opener cabinet-head-box-img" data-id="#qrCodeModal">
                                        <img src="{% static 'main/images/qr-code.png' %}" alt="">
                                    </a>
                                    <a class="cur-p cabinet-head-box-img" id="printWindow">
                                        <img src="{% static 'main/images/print-icon.png' %}" alt="">
                                    </a>
                                    <div class="cabinet-head-box-img cur-p copy-list-text">
                                        <img src="{% static 'main/images/list-icon.png' %}" alt="">
                                    </div>
                                </div>
                                <p class="f-11 copy-text-out-modal mb-2 link-col">Copy is completed</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div
                                style="background-image: url('{% static 'main/images/head-box-bg.png' %}');"
                                class="cabinet-head-box">
                        </div>
                    </div>
                </div>


                <div class="row equal-offsets" onmouseenter="CheckBalance();">
                    <div class="col-xl-12">
                        <div class="cabinet-head-box" style="overflow: inherit!important;">
                            {#                        <div class="col-2">#}
                            {#                            <img src="/static/main/images/cabinet-head-icon-2.png" alt="" style="/* margin: auto; */">#}
                            {#                        </div>#}
                            <div class="cabinet-head-box-icon">
                                <img src="{% static 'main/images/cabinet-head-icon-2.png' %}" alt="">
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-5">
                                        <p class="cabinet-head-box-title f-semi">Balance</p>
                                    </div>
                                    <div
                                            style="align-items: center;"
                                            class="col-5 cabinet-head-box-wrap ml-50 d-flex jus-con-end">
                                        <p
                                                {#                                            style="padding: 0 20px"#}
                                                class="cabinet-head-box-refresh-text"> Balance Refresh is completed!</p>
                                        {#                                    <div class=" cabinet__refresh__btn">#}
                                        {#                                                                            <div class="cabinet-head-box-img refresh-btn cur-p" onclick="CheckBalance();">#}
                                        {#                                        <img src="/static/main/images/refresh-icon.png" alt="">#}
                                        {#                                    </div>#}
                                        {##}
                                        {#                                        <div class="">#}
                                        {#                                            <p>Refresh</p>#}
                                        {#                                       </div>#}
                                        {#                                    </div>#}
                                        <div class="col-4 col-md-offset-2" onclick="CheckBalance();">
                                            <div class="refresh-btn cur-p">
                                                <img src="/static/main/img/refresh-btn.png" alt="">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row p-0">
                                    <input id="tstValue" name="textinput" type="text" placeholder="TST"
                                           class="col-5 m-1 mr-3 form-control input-md">
                                    <input id="tst1Value" name="textinput" type="text" placeholder="TST1"
                                           class="col-5 m-1 ml-3 form-control input-md">
                                </div>
                                <div class="row">
                                    <input id="textinput" name="textinput" type="text" placeholder="TST2"
                                           class="col-5 m-1 mr-3 form-control input-md">
                                    <input id="etherBalance" name="textinput" type="text" placeholder="ETH"
                                           class="col-5 m-1 ml-3 form-control input-md">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#          <div class="row equal-offsets">#}
                {#            <div class="col-xl-12">#}
                {#            <div class="cabinet-head-box" style="overflow: inherit!important;">#}
                {#              <div class="cabinet-head-box-icon">#}
                {#                <img src="{% static 'main/images/cabinet-head-icon-2.png' %}" alt="">#}
                {#              </div>#}
                {##}
                {##}
                {#              <div class="cabinet-head-box-content">#}
                {#                <p class="cabinet-head-box-title f-semi">#}
                {#                  Balance#}
                {#                </p>#}
                {#                <div#}
                {#                  style="margin-bottom: 15px;"#}
                {#                  class="cabinet-head-box-desc">#}
                {#                    <div class="popup-tst">#}
                {#                  <p class="f-15 f-light" style="margin-bottom: 1px">{{ etherBalance }}#}
                {#                      <span style="font-size: 12px;">TST</span>#}
                {#                  </p>#}
                {#                    <!-- Button -->#}
                {#                    <div class="auth">#}
                {#                        <div class="auth-popup">#}
                {#                            <ul>#}
                {#                                <li><a>TST</a></li>#}
                {#                                <li><a>TST1</a></li>#}
                {#                                <li><a>TST2</a></li>#}
                {#                                <li><a>ETH</a></li>#}
                {#                            </ul>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    </div>#}
                {#                  <p onclick="etherBalanceCheck();" class="f-14 cabinet-head-box-refresh-text">Balance Refresh is completed!</p>#}
                {#                </div>#}
                {#                <div class="cabinet-head-box-images">#}
                {#                  <div class="cabinet-head-box-img refresh-btn cur-p">#}
                {#                    <img src="{% static 'main/images/refresh-icon.png' %}" alt="">#}
                {#                  </div>#}
                {#                </div>#}
                {#              </div>#}
                {#            </div>#}
                {#          </div>#}
                {#          </div>#}
            </div>
        </div>
        <div class="cabinet-middle">
            <div class="container">
                <div class="cabinet-middle-box">
                    <div class="cabinet-middle-box-head mb-25">
                        <span class="cabinet-middle-box-head-title f-semi box-title-disable"
                              data-id="send" onclick="getTransactionHistory(1001)">TST</span>
                        <span class="cabinet-middle-box-head-title f-semi" data-id="test"
                              onclick="getTransactionHistory(1002)">TST1</span>
                    </div>

                    <div class="cabinet-middle-box-btm" id="send">


                        <table id="tst1Table">

                            <tr>
                                <th>Address</th>
                                <th>TST value</th>
                                <th>TST type</th>
                                <th>Date</th>

                            </tr>

                            <tbody id="tst1TBody">

                            </tbody>

                        </table>


                    </div>


                    <div class="cabinet-middle-box-btm" id="test">

                        <table id="tst2Table">

                            <tr>
                                <th>Address</th>
                                <th>TST value</th>
                                <th>TST type</th>
                                <th>Date</th>

                            </tr>

                            <tbody id="tst2Body">

                            </tbody>

                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start footer -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<footer class="regular-padding footer wh-col">
    <div class="container">
        <div class="row equal-offsets text-center text-sm-left">
            <div class="col-lg-4">
                <div class="footer-logo">
                    <img src="{% static 'main/images/logo.png' %}" alt="">
                </div>
                <div class="footer-desc txt-editor">
                    <p class="wh-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                        ducimus voluptatibus neque illo id repellat quisquam? Autem
                        expedita earum quae laborum ipsum ad, a eaque officiis
                        eligendi blanditiis odio necessitatibus.</p>
                </div>
                <ul class="footer-sotsial justify-content-center justify-content-sm-start">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1">
                <p class="footer-navigate-title">NAVIGATE</p>
                <ul class="footer-navigate">
                    <li><a href="">Advertisers</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href=" ">Company</a></li>
                    <li><a href="">Connect</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <p class="footer-navigate-title">PRIVACY & TOS</p>
                <ul class="footer-navigate">
                    <li><a href="terms.html">Advertiser Agreement</a></li>
                    <li><a href="">Acceptable Use Policy</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                    <li><a href="">Technology Privacy</a></li>
                    <li><a href="">Developer Agreement</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 footer-inf-txt">
                <p class="footer-navigate-title wh-col" style="font-weight: bold!important;">
                    CONTACT US</p>
                <p class="wh-col">Mailing Address:xx00</p>
                <p class="wh-col">Suite 1100. Denver</p>
                <p class="wh-col">+999 90932 627</p>
                <p class="wh-col">support@tripsia.io</p>
            </div>
        </div>
    </div>
</footer><!--end footer-->


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start modal -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->

<div id="qrCodeModal" class="modal-wrap">
    <div class="access-modal-box qr-code-modal">
        <div class="access-modal-head qr-code-modal-head">
            <h3 class="access-modal-title">Address</h3>
            <div class="access-modal-close-btn"><img src="{% static 'main/images/close-icn.png' %}" alt=""></div>
        </div>
        <div class="access-modal-bottom qr-code-modal-bottom">
            <div id="publickKeyQr" class="qr-code-modal-img">
                {#        <img src="{% static 'main/images/qr-code-1.png' %}" alt="">#}
            </div>
            <div class="qr-code-modal-desc">
                <p id="publicKeyValue" class="f-14 copy-text">{{ publicKey }}</p>
            </div>
            <button class="success-button w-100 f-semi qr-code-modal-action-btn">Copy</button>
            <p class="text-right text-copied link-col">Copy is completed</p>
        </div>
    </div>
</div>
<!--end modal-->
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= scripts -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<!-- jQuery js -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'main/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'main/js/plugins.js' %}"></script>
<!-- Parallax js -->
<script src="{% static 'main/js/dzsparallaxer.js' %}"></script>

<script src="{% static 'main/js/jquery.syotimer.min.js' %}"></script>

<script src="{% static 'main/js/common.js' %}"></script>

<!-- script js -->
<script src="{% static 'main/js/base.js' %}"></script>
<script src="{% static 'main/js/script.js' %}"></script>
<script src="{% static 'main/js/qrcode.min.js' %}"></script>
<script src="{% static 'main/js/ehterWalletManager.js' %}?ver=2000"></script>

<script src="{% static 'main/js/web3.min.js' %}"></script>
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= scripts -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->


<script type="text/javascript">

    var publicKey = $('#publicKeyValue').text();

    new QRCode(document.getElementById("publickKeyQr"), publicKey);

    var privateKey = $('#privateKeyValue').text();

    new QRCode(document.getElementById("privateKeyQr"), privateKey);


    function downloadPageAsImage() {
        var node = document.getElementById('walletNode');
        domtoimage.toJpeg(node, {quality: 0.95})
            .then(function (dataUrl) {
                var link = document.createElement('a');
                link.download = "tripsia" + '.jpeg';
                link.href = dataUrl;
                link.click();
            });
    }

</script>


</body>
</html>
