{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--font from googlefont-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <!--font from googlefont-->

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}">
    <!--style-->

    <title>Tripsia</title>
</head>
<body>

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start header -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->


<header class="header-area header-area-white header-area-white wow fadeInDown" data-wow-delay="0.2s">
  <div class="light classy-nav-container breakpoint-off">
    <div class="container">
      <!-- Classy Menu -->
      <nav class="classy-navbar justify-content-between" id="dreamNav">

        <!-- Logo -->
        <a class="nav-brand" href="{% url 'tripsia-home' %}#home"><img src="{% static 'main/img/logo.png' %}" alt="logo"></a>

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">

          <!-- close btn -->
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>

           <!-- Nav Start -->
          <div class="classynav">
            <ul id="nav">
              <li><a href="{% url 'tripsia-home' %}#home">Home</a></li>
              <li><a href="{% url 'tripsia-home' %}#about">About us</a></li>
              <li><a href="{% url 'tripsia-home' %}#roadmap">Roadmap</a></li>
              <li><a href="{% url 'tripsia-home' %}#team">API</a></li>
            </ul>

            <!-- Button -->
            <div class="auth">
              <div class="auth-item">
              </div>
              <div class="auth-item">
                <div class="auth-desc">
                  <span class="">{{ user.username }}</span>
                </div>
              </div>
              <div class="auth-popup">
                <ul>
{#                  <li><a href="{% url 'walletcreate' %}">New Wallet</a></li>#}
                  <li><a href="{% url 'walletaccess' %}">Access</a></li>
{#                  <li class="auth-disabled"><a>My wallet</a></li>#}
                  <li><a href="{% url 'tstAccount:logout' %}">Log out</a></li>
                </ul>
              </div>
            </div>
            <div class="header-lang-wrap pos-r text-center">
              <p class="lang-opener"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt=""></p>
              <ul class="lang justify-content-center justify-content-lg-left">
                <li><a href="indexRU.html"><img src="{% static 'main/img/russian-flag-icon.jpg' %}" alt="">Russian</a></li>
                <li><a href="index.html"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt="">English</a></li>
              </ul>
            </div>
          </div>
          <!-- Nav End -->
        </div>
      </nav>
    </div>
  </div>
</header>



<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main 2 -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<main class="regular-padding main-page">
    <div class="container">
        <div class="row justify-content-center text-center" id="mainContent">
            <div class="col-lg-11">
                <div class="form-window">
                    <h2 class="form-window-title f-35 f-semi-2">Get a New Wallet</h2>
                    <p class="form-window-desc f-18 f-semi">Enter a password</p>
{#                    <from class="card" onsubmit="return false;">#}
                        {% csrf_token %}
                        <div class="form-gr">
                            <!--error class *** class="animated invalid shake" ***-->
                            <!--good class *** class="good" ***-->
                            <input
                                    required
                                    type="password" class="walletKey" id="walletPassword" min="8"
                                    placeholder="Do not forget to save this!">
                            <button class="showing-password"><img src="{% static 'main/images/eye-icon.png' %}" alt="">
                            </button>
                        </div>

                        <div class="d-f align-items-end justify-content-between form-window-txt-box weak-none">
                            <div class="in-left flex-item flex-wrap">

                                <p class="form-window-txt f-14 text-center text-md-left text-weak weak-p-none">Password
                                    strength:
                                    <span class="error-col" style="font-weight: bold;">Weak</span></p>

                                <p class="form-window-txt f-14 text-left text-good good-p-none">Password strength:
                                    <span class="success-col">Good</span></p>

                                <p class="form-window-txt f-14 text-center text-md-left weak-ckaract">The password field
                                    must be at least
                                    6
                                    characters.<span
                                            class="error-col"></span></p>
                            </div>
                            <div class="in-right flex-item">
                                <p class="form-window-txt text-right">Already have a wallet? <a
                                        href="{% url 'walletaccess' %}" class="f-semi  link">Access
                                    My
                                    Wallet</a></p>
                            </div>
                        </div>

                        <!--showing password toggle *** class="active" ***-->

                        <button id="createWalletBtn" onclick="createWallet()" class="disable-btn mb-40 btn-create"
                                type="submit">Create New Wallet
                        </button>

{#                    </from>#}

                    <p class="form-window-inf-txt form-window-txt f-14">This password encrypts your private key. This
                        does
                        not act as a
                        seed to
                        generate your keys. <br>You will need this password + your private key to unlock your wallet.
                    </p>
                    <p class="form-window-txt"></p>
                    <ul class="form-window-links">
                        <li><span class="form-window-inf-txt f-13 f-black">Already have a wallet?</span></li>
                        <li><a href="{% url 'walletaccess' %}"><span class="link f-13 f-black-2">Access My Wallet</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<!--end main 2-->


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<main style="display:none;" class="regular-padding main-page">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-10">
                <div class="form-window">
                    <h2 class="form-window-title f-semi">Create New Wallet</h2>
                    <p class="form-window-desc">Enter a password</p>
                    <div class="form-gr">
                        <!--error class *** class="animated invalid shake" ***-->
                        <!--good class *** class="good" ***-->
                        <input
                                required
                                type="password" id="walletKey" min="8" placeholder="Do not forget to save this!">
                        <button class="showing-password"><img src="{% static 'main/images/eye-icon.png' %}" alt="">
                        </button>
                    </div>
                    <div class="d-f align-items-end justify-content-between form-window-txt-box">
                        <div class="in-right flex-item">
                            <p class="form-window-txt text-right">Already have a wallet? <a href="" class="f-semi">Access
                                My
                                Wallet</a></p>
                        </div>
                    </div>

                    <div class="d-f align-items-end justify-content-between form-window-txt-box">
                        <div class="in-left flex-item flex-wrap">
                            <p class="form-window-txt f-14 text-left">Password strength: <span
                                    class="success-col">Good</span></p>
                        </div>
                        <div class="in-right flex-item">
                            <p class="form-window-txt text-right">Already have a wallet? <a href="" class="f-semi">Access
                                My
                                Wallet</a></p>
                        </div>
                    </div>

                    <!--showing password toggle *** class="active" ***-->

                    <button class="success-button form-window-action" id="modalOpener" type="submit">Create New Wallet
                    </button>

                    <p class="form-window-inf-txt form-window-txt">This password encrypts your private key. This does
                        not act as a
                        seed to
                        generate your keys. <span class="form-window-important-txt form-window-txt">You will need this password + your private key to unlock your wallet.</span>
                    </p>
                    <p class="form-window-txt"></p>
                    <ul class="form-window-links">
                        <li><a href="">How to Create a Wallet</a></li>
                        <li><a href="">Getting Started</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<!--end main-->

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start footer -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<footer class="regular-padding footer wh-col">
    <div class="container">
        <div class="row equal-offsets text-center text-sm-left">
            <div class="col-lg-4">
                <div class="footer-logo">
                    <img src="{% static 'main/images/logo.png' %}" alt="">
                </div>
                <div class="footer-desc txt-editor">
                    <p class="wh-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                        ducimus voluptatibus neque illo id repellat quisquam? Autem
                        expedita earum quae laborum ipsum ad, a eaque officiis
                        eligendi blanditiis odio necessitatibus.</p>
                </div>
                <ul class="footer-sotsial justify-content-center justify-content-sm-start">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1">
                <p class="footer-navigate-title">NAVIGATE</p>
                <ul class="footer-navigate">
                    <li><a href="">Advertisers</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href=" ">Company</a></li>
                    <li><a href="">Connect</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <p class="footer-navigate-title">PRIVACY & TOS</p>
                <ul class="footer-navigate">
                    <li><a href="terms.html">Advertiser Agreement</a></li>
                    <li><a href="">Acceptable Use Policy</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                    <li><a href="">Technology Privacy</a></li>
                    <li><a href="">Developer Agreement</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 footer-inf-txt">
                <p class="footer-navigate-title wh-col" style="font-weight: bold!important;">
                    CONTACT US</p>
                <p class="wh-col">Mailing Address:xx00</p>
                <p class="wh-col">Suite 1100. Denver</p>
                <p class="wh-col">+999 90932 627</p>
                <p class="wh-col">support@tripsia.io</p>
            </div>
        </div>
    </div>
</footer><!--end footer-->

<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'main/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'main/js/plugins.js' %}"></script>
<!-- Parallax js -->
<script src="{% static 'main/js/dzsparallaxer.js' %}"></script>

<script src="{% static 'main/js/jquery.syotimer.min.js' %}"></script>

{#<script src="{% static 'main/js/common.js' %}"></script>#}

<!-- script js -->
<script src="{% static 'main/js/script.js' %}"></script>
<script src="{% static 'main/js/base.js' %}"></script>
<script src="{% static 'main/js/ehterWalletManager.js' %}"></script>

{#<script src="{% static 'main/js/common.js' %}"></script>#}

<script>
      $('.form-window-action').on('click', function () {
        var input = $(this).closest('.form-window').find('input');
        if (input.val().length < 8) {
            input.removeClass('good');
            input.addClass('invalid shake animated');
            $('.text-weak').removeClass('weak-p-none');
            $('.weak-ckaract').removeClass('weak-p-none');
            $('.text-good').addClass('good-p-none');
            $('.weak-none').addClass('weak-active');
        } else {
            input.removeClass('invalid');
            input.addClass('good');
            $('.weak-ckaract').addClass('weak-p-none');
            $('.text-weak').addClass('weak-p-none');
            $('.text-good').removeClass('good-p-none');
            modalOpen();
        }
    }); // end form actions

    // **********
// ******* walletKey actions ********
// *********
    $(document).on('input', '.walletKey', function () {
        var val = $(this).val();
        if (val.length < 8) {
            $(this).removeClass('good');
            $(this).addClass('invalid shake animated');
            $('.text-weak').removeClass('weak-p-none');
            $('.weak-ckaract').removeClass('weak-p-none');
            $('.text-good').addClass('good-p-none');
            $('.weak-none').addClass('weak-active');
            $('.form-window-links').addClass('hidden')
            $('.btn-create').removeClass('success-button').addClass('disable-btn')
        } else if (val.length === 0) {
            $('.weak-none').removeClass('weak-active');
        } else {
            $(this).removeClass('invalid');
            $(this).addClass('good');
            $('.weak-ckaract').addClass('weak-p-none');
            $('.text-weak').addClass('weak-p-none');
            $('.text-good').removeClass('good-p-none');
            $('.btn-create').addClass('success-button').removeClass('disable-btn')
        }
    }); // end walletkey


     var showingPassword = false;
     $(document).on('click', '.showing-password', function () {
         showingPassword = !showingPassword;
         var type = showingPassword ? 'text' : 'password';
         $(this).parent().find('input').attr('type', type)
     });    //showing password


    // **********
    // ******* user auth action ********
    // *********
    $(document).on('click', '.auth', function () {
        $(this).toggleClass('active');
    });// user auth action
</script>

</body>
</html>
