<!--{% load static %}-->

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Tripsia</title>

    <!-- Favicon -->
    <link rel="icon" href="../../static/main/img/core-img/favicon.ico">
    <!--href="{% static 'main/img/core-img/favicon.ico' %}"-->

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../../static/main/css/style.css">
    <!--href="{% static 'main/css/style.css' %}">-->
    <link rel="stylesheet" href="../../static/main/css/main.css">
    <!--href="{% static 'main/css/main.css' %}">-->
    <link rel="stylesheet" href="../../static/main/css/style.min.css">
    <!--href="{% static 'main/css/style.min.css' %}">-->

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="../../static/main/css/responsive.css">
    <!--href="{% static 'main/css/responsive.css' %}">-->

    <style>
        .dark.breakpoint-on .classy-navbar .classy-menu{
            background-color:rgb(142, 68, 238)!important;
        }
        .dark.breakpoint-on .classynav>ul>li>a{
            background-color:rgb(142, 68, 238)!important;
        }
        .article{
            border:1px solid aqua!important;
        }
        .ui-content-download::before{
            content:''!important;
        }
        h2.panding-title {
            padding-left: 50px;
        }

        .section_5-slider-trumb{
            background-color:rgb(126, 65, 223);
        }
        #section_5-slider-circle .data_cir{
            background-color:rgb(126, 65, 223);
        }
        #section_5-slider-circle .data_cir::before {
            background-color:rgb(126, 65, 223);
        }
        #section_5-slider-circle .data_cir .data_cir-content .roadmap_img{
            border:2px solid rgb(126, 65, 223);
        }

        .features .services-block-four{
            background-color:white;
        }

        .welcome_area {
            /*background-image: url("{% static 'main/img/bg-1.png' %}");*/
            background-image: url("../../static/main/BWW_IMAGES/bg@3x.png");
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
           

        }
        .classy-nav-container a{
            color:white!important;
        }

        .regular-padding {
            /*background-image: url("{% static 'main/img/bg-2.png' %}");*/
            background-image:url("../../static/main/img/bg-2.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .regular-padding .row {
            padding-top: 220px;
        }

        .main-4 {
            /*background-image: url("{% static 'main/img/bg-3.png' %}");*/
            background-image: url("../../static/main/img/bg-3.png");
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 120px;
        }

        .header-area.sticky, .header-area.in-inner-page{
            background-color:rgb(142, 68, 238)!important;
        }

        .our_services_area {
            /*background-image: url("{% static 'main/img/bg-5.png' %}");*/
            background-image: url("../../static/main/img/bg-5.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .partners {
            /*background-image: url("{% static 'main/img/bg-2.png' %}");*/
            background-image: url("../../static/main/img/bg-2.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .partners .container {
            padding-top: 280px;
        }

        .main-ilustration-9 {
            /*background: url("../../static/main/BWW_IMAGES/phone@2x.png") no-repeat center 50% !important;*/
        }

        .wallet-box {
            width: 130px !important;
            height: 96px !important;
        }

        .wallet-box-icon {
            margin: 0;
        }

        .wallet-box-icon img {
            width: 52px;
            height: 51px;
            margin: 0 auto;
        }

        .wallet-box-desc {
            font-weight: bolder !important;
            text-align: center;
            margin: 0;
        }
        @media(max-width:550px){
            .charact{
                height:150vh!important;
            }
            .charact h4{
                font-size:0.8rem;
            }
            .charact p{
                font-size:0.8rem;
            }
        }

        @media (max-width: 768px) {
            .main-service .fadeInLeftBig .row {
                width: 92% !important;
                right: 7% !important;
                top: 150px;
            }

            .main-service .fadeInLeftBig .row .col-4 a {
                width: 96% !important;
            }


            .section_5-slider-trumb {
                left: calc(40vw + 8px);
            }

            #section_5-slider-circle .data_cir {
                margin-left: calc(40vw + 2px);
            }

            #section_5-slider-circle .data_cir-content {
                width: 140px;
            }

            #section_5-slider-circle .data_cir-content div {
                font-size: 12px;
                width: 150px;
            }
        }

    </style>

</head>

<body class="light-version">
<!-- Preloader -->
<div id="preloader" class="d-none">
    <div class="preload-content">
        <div id="dream-load"></div>
    </div>
</div>


<!-- ##### Header Area Start ##### -->
<header class="header-area wow fadeInDown header-inner-page" data-wow-delay="0.2s">
    <div class="light classy-nav-container breakpoint-off bg-transparent" >
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="dreamNav">

                <!-- Logo -->
                <a class="nav-brand" href="#"><img class="img-fluid" src="../../static/main/BWW_IMAGES/group-9@2x.png" alt="logo"/></a>
                    <!--src="{% static 'main/img/logo_.png' %}"-->


                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler" data-target="#nav">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu" >

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav text-white">
                        <ul id="nav">
                            <li class="active" style="border-right: 1px solid white;"><a href="#home">Home</a></li>
                            <li style="border-right: 1px solid white;"><a href="#about">About us</a></li>
                            <li style="border-right: 1px solid white;"><a href="#roadmap">Roadmap</a></li>
                            <li><a href="#team">API</a></li>
                        </ul>

                        <!-- Button -->

                        <!--{% if user.is_authenticated %}-->
                            <!-- Button -->
                            <div class="auth d-none">
                                <div class="auth-item">
                                </div>
                                <div class="auth-item">
                                    <div class="auth-desc">
                                        <span class=""><!--{{ user.username }}--></span>
                                    </div>
                                </div>
                                <div class="auth-popup">
                                    <ul>
                                        <!--{#-->                      <li><a href="#">
                                        <!--href="{% url 'walletcreate' %}"-->
                                        New Wallet</a></li><!--#}-->
                                        <li><a href="#">
                                            <!--href="{% url 'walletaccess' %}">-->
                                            Access</a></li>
                                        <!--{#-->                    <li class="auth-disabled"><a href="#">My wallet</a></li><!--#}-->
                                        <li><a href="#">
                                            <!--href="{% url 'tstAccount:logout' %}">-->
                                            Log out</a></li>
                                    </ul>
                                </div>
                            </div>

                        <!--{% else %}-->
                            <!--<div class="header-account-wrap">
                                <a href="#" class="btn login-btn ml-10">Login</a>
                                <!--href="{% url 'tstAccount:get_login' %}"-->
                                <!--<a href="#" class="btn login-btn ml-10">Signup</a>-->
                                <!--href="{% url 'tstAccount:get_signup' %}"-->
                            <!--</div>-->
                        <!--{% endif %}-->

                        <div class="header-lang-wrap pos-r text-center">
                            <p class="lang-opener"><img src="../../static/main/img/usa-flag-icon.jpg" alt="">
                                <!--src="{% static 'main/img/usa-flag-icon.jpg' %}"--> </p>
                            <ul class="lang justify-content-center justify-content-lg-left">
                                <li><a href="index.html"><img src="../../static/main/img/usa-flag-icon.jpg" alt="">
                                    <!--src="{% static 'main/img/usa-flag-icon.jpg' %}"-->English</a>
                                </li>
                                <li><a href="indexRU.html"><img src="../../static/main/img/russian-flag-icon.jpg" alt="">
                                    <!--src="{% static 'main/img/russian-flag-icon.jpg' %}"-->Russian</a></li>
                            </ul>
                        </div>

                        <!-- Nav End -->
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Welcome Area Start ##### -->
<section class="welcome_area clearfix auto-init  fullwidth" id="home">

    <!-- Hero Content -->
    <div class="hero-content transparent">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Welcome Content -->
                <div class="col-12 col-lg-5 col-md-12">
                    <div class="welcome-content">
                        <!--<div class="promo-section">
                            <div class="integration-link">
                                <div class="integration-icon">
                                    <p class="badge">Update</p>
                                </div>
                                <span class="integration-text">Travel Anywhere in the world with us!</span>
                            </div>
                        </div>
                        <h1 class="b-text bold wow fadeInUp" data-wow-delay="0.2s">The Most Powerful Travel
                            Platform</h1>
                        <p class="wow fadeInUp" data-wow-delay="0.3s">We have over 15 year exprience in business
                            consultting arena.
                            We have over 15 year exprience in business consultting arena.</p>-->
                            <img src="../../static/main/BWW_IMAGES/page-1@2x.png" alt="">
                    </div>
                    
                </div>
                
                <!-- Welcome Video Area -->
                <div class="col-12 col-lg-7 col-md-12">
                    <div class="main-ilustration main-ilustration-9 wow fadeInUp"  data-wow-delay="0.5s">
                        <img class="w-75" src="../../static/main/BWW_IMAGES/phone@2x.png" alt="" style="margin-top:100px;margin-left:50px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Welcome Area End ##### -->


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main service -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<section
        id="store"
        style="margin-top: -50px; position: relative;z-index: 1;"
        class="d-none main-service ">
    <div class="container">
        <div class="row p-0" style="position:relative;">
            <!--{#  -->  <div class="container main-service wh-col"><!--#}-->
            <!--{#  -->  <div class="row equal-offsets"><!--#}-->
            <!--{#  -->    <div data-wow-duration="0.5s" class="wow fadeInLeft col-lg-6 d-none"><!--#}-->
            <!--{#  -->      <!--#}-->
            <!--{##}-->
            <!--{#  -->      <!--#}-->
            <!--{#  -->      <a href="#" class="first main-service-box new-service-box">
                            <!--href="{% url 'walletcreate' %}"--> <!--#}-->
            <!--{#  -->        <div class="main-service-icon"><!--#}-->
            <!--{#  -->          <img src="../../static/main/img/service-icon-1.png" alt="">
            <!--    -->        <!--src="{% static 'main/img/service-icon-1.png' %}"--> <!--#}-->
            <!--{#  -->        </div><!--#}-->
            <!--{#  -->        <div class="main-service-desc"><!--#}-->
            <!--{#  -->          <h2 class="main-service-title">Create A New Wallet</h2><!--#}-->
            <!--{#  -->          <div class="txt-editor main-service-content ov-h"><!--#}-->
            <!--{#  -->            <p>Obtain an TST address and generate<!--#}-->
            <!--{#  -->              your private key. Saving and<!--#}-->
            <!--{#  -->              safekeeping the key will be<!--#}-->
            <!--{#  -->              your responsibility.</p><!--#}-->
            <!--{#  -->          </div><!--#}-->
            <!--{#  -->        </div><!--#}-->
            <!--{#  -->      </a><!--#}-->
            <!--{#  -->    </div><!--#}-->

            <div
                    data-wow-duration="0.5s"
                    data-wow-delay="0.2s"
                    class="wow fadeInRightBig col-lg-6">
                <div style="  height: 152px;
                        background-image: url('../../static/main/img/green.png');
                        background-size:cover;
                        background-repeat:no-repeat;
                        ">

                    <!--<img src="{% static 'main/img/green.png' %}" alt="green area" class="" style="position:relative;">-->
                    <div class="w-75 pl-5" style="
                          top:10px;
                            color:white;text-align: left;">
                        <h2 class="text-white pt-4 pl-3" style="font-size:22px;font-weight:bolder;">
                            Access My Wallet
                        </h2>
                        <p class="text-white py-md-3 pl-3" style="font-size:13px;">
                            Send or check your TST and Tokens, purchase ENS domains, interact with
                            smart contracts, more!
                        </p>
                    </div>
                </div>


                <!-- Access My Wallet Pre -->
                <!--
{#        <a href="{% url 'walletaccess' %}" class="second main-service-box">#}
          <div class="main-service-icon">
{#            <img src="{% static 'main/img/service-icon-2.png' %}" alt="">#}
          </div>
          <div class="main-service-desc">
            <h2 class="main-service-title panding-title">Access My Wallet</h2>
            <div class="txt-editor main-service-content ov-h">
              <p>Send or check your TST and Tokens,
                purchase ENS domains, interact with
                smart contracts, more! </p>
            </div>
          </div>
        </a>-->
            </div>
            <div data-wow-duration="0.5s" data-wow-delay="0.2s" class="wow fadeInLeftBig">
                <div class="row" style="
                        width: 540px;position:absolute;right:90px;top:0;
                        /*background-image:url('{% static 'main/img/blue.png' %}');*/
                        background-image: url('../../static/main/img/blue.png');
                        background-repeat:no-repeat;
                        background-size:cover;
                        height: 152px;  ">

                 <!--{% if user.is_authenticated %}-->
                    <!--<div class="col-md-4 p-0 pt-4 offset-md-1 pl-md-4 col-4">
                            <a class="modal-opener wallet-box p-0 m-0 " data-id="#accessModal">
                                <div class="wallet-box-icon justify-content-center pt-3">
                                    <img src="/static/main/images/wallet-icon.png" alt=""><!--src="{% static 'main/images/wallet-icon.png' %}"-->
                                <!--</div>
                                <div class="wallet-box-desc pb-4">
                                    <p class="wallet-box-title f-semi f-15">MetaMask</p>
                                </div>
                            </a>
                    </div>-->

                    <!--<div class="col-md-3 p-0 pt-4 pl-sm-2 col-4">
                        <a class="modal-opener wallet-box p-0 m-0 " data-id="#keystoreModal">
                            <div class="wallet-box-icon justify-content-center pt-3">
                                <img src="/static/main/images/wallet-icon-3.png" alt=""><!--src="{% static 'main/images/wallet-icon-3.png' %}"-->
                            <!--</div>
                            <div class="wallet-box-desc pb-4">
                                <p class="wallet-box-title f-semi f-15">Keystore</p>
                            </div>
                        </a>
                    </div>-->

                    <!--<div class="col-md-4 p-0 pt-4 pl-md-3 col-4">
                        <a data-id="#privateKeyModal" class="modal-opener wallet-box p-0 m-0">
                            <div class="wallet-box-icon justify-content-center pt-3">
                                <img src="/static/main/images/wallet-icon-2.png" alt=""><!--src="{% static 'main/images/wallet-icon-2.png' %}"-->
                            <!--</div>
                            <div class="wallet-box-desc pb-4">
                                <p class="wallet-box-title f-semi f-15">Private Key</p>

                            </div>
                        </a>
                    </div>-->


                <!--{% else %}-->

                        <div class="col-md-4 p-0 pt-4 offset-md-1 pl-md-4 col-4">
                            <a class="modal-opener wallet-box p-0 m-0 " href="#"> <!--href="{% url 'tstAccount:get_login' %}">-->
                                <div class="wallet-box-icon justify-content-center pt-3">
                                    <img src="../../static/main/images/wallet-icon.png" alt=""><!--src="{% static 'main/images/wallet-icon.png' %}"-->
                                </div>
                                <div class="wallet-box-desc pb-4">
                                    <p class="wallet-box-title f-semi f-15">MetaMask</p>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-3 p-0 pt-4 pl-sm-2 col-4">
                        <a class="modal-opener wallet-box p-0 m-0 " href="#"><!--href="{% url 'tstAccount:get_login' %}"-->
                            <div class="wallet-box-icon justify-content-center pt-3">
                                <img src="../../static/main/images/wallet-icon-3.png" alt="" style="width:100%;"><!--src="{% static 'main/images/wallet-icon-3.png' %}"-->
                            </div>
                            <div class="wallet-box-desc pb-4">
                                <p class="wallet-box-title f-semi f-15">Keystore</p>
                            </div>
                        </a>
                        </div>

                        <div class="col-md-4 p-0 pt-4 pl-md-3 col-4">
                        <a class="modal-opener wallet-box p-0 m-0" href="#"><!--href="{% url 'tstAccount:get_login' %}">-->
                            <div class="wallet-box-icon justify-content-center pt-3">
                                <img src="../../static/main/images/wallet-icon-2.png" alt=""> <!--src="{% static 'main/images/wallet-icon-2.png' %}"-->
                            </div>
                            <div class="wallet-box-desc pb-4">
                                <p class="wallet-box-title f-semi f-15">Private Key</p>

                            </div>
                        </a>
                        </div>

                <!--{% endif %}-->

                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</section><!--end main service-->

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start modal -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<div class="modal-wrap" id="accessModal">
        <div class="access-modal-box">
            <div class="access-modal-head">
                <h3 class="access-modal-title f-semi-2">Access by MetaMask</h3>
                <div class="access-modal-close-btn"><img src="../../static/main/images/close-icn.png" alt=""></div>
                <!--src="{% static 'main/images/close-icn.png' %}"-->
            </div>

            <div class="access-modal-bottom">
                <div class="access-modal-images">
                    <div class="access-modal-img">
                        <div class="access-modal-wrap">
                            <img src="../../static/main/images/access-foto-1.png" alt="">
                            <!--src="{% static 'main/images/access-foto-1.png' %}"-->
                        </div>
                    </div>
                    <div class="access-modal-img">
                        <div class="access-modal-wrap">
                            <img src="../../static/main/images/access-foto-2.png" alt=""><!--src="{% static 'main/images/access-foto-2.png' %}"-->
                        </div>
                    </div>
                </div>
                <p class="access-modal-desc">
                    Please use TripsiaTokenWallet on a secure <br>(SSL/HTTPS) connection to connect.
                </p>
                <!--{#-->      <a  href="#" style="width: 225px; margin-left: auto; margin-right: auto;" class="disable-btn checking access-btn f-semi-2">
                               <!--href="{% url 'cabinet' %}"--> <!--#}-->
                <!--{#-->         <h3 class="lh-50 f-18">"<!--#}-->
                <!--{#-->        Access My Wallet</h3><!--#}-->
                <!--{#-->      </a><!--#}-->
                <div>
                    <button type="submit" onclick="connectToMetaMask(10001);  "
                            class="disable-btn checking access-btn f-semi-2"
                            style="width: 225px; margin-left: auto; margin-right: auto;">
                        <h3 class="lh-50 f-18">Access My Wallet</h3>
                    </button>
                </div>
                <p class="access-modal-check">
                    <input type="checkbox" id="access">
                    <label for="access">
                        <span class="check-icon"></span>
                        <span class="access-checkbox">To Access my Wallet, I accept <a
                                href="{% url 'termsconditions' %}"
                                class="link-col">Terms</a></span>
                    </label>
                </p>

                <div class="access-modal-action-wrap">
                    <div class="access-modal-action-wrap-item">
                        <a style="width: 200px"
                           href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en"
                           class="disable-btn on-hover-active fx-c">Download MetaMask for Chrome</a>
                    </div>
                    <div class="access-modal-action-wrap-item">
                        <button
                                style="width: 200px"
                                class="disable-btn on-hover-active">Download MetaMask for other browsers
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="modal-wrap" id="keystoreModal">
    <div class="access-modal-box">
        <div class="access-modal-head">

            <h3 class="access-modal-title f-semi-2 f-20">Access by Keystore/ JSON File</h3>
            <div class="access-modal-close-btn"><img  src="../../static/main/images/close-icn.png" alt=""></div><!--src="{% static 'main/images/close-icn.png' %}"-->
        </div>

        <div class="access-modal-bottom">
            <form onsubmit="return false;">
                <!--{% csrf_token %}-->
                <p class="access-modal-semi-title">
                    Selected File
                </p>
                <!--{#-->      <input id="keystoreFile file" type="file" class="hidden"><!--#}-->
                <!--{#-->      <button class="success-button access-modal-top-btn w-100 mb-25 f-semi-2 f-16 file-btn"><h4>Upload Keystore/ JSON<!--#}-->
                <!--{#-->       File</h4></button><!--#}-->
                <div class="form-gr form-group">
                    <label for="keystoreFile"
                           class="success-button access-modal-top-btn w-100 mb-25 f-semi-2 f-16 file-btn fx-c"><span
                            class="letter">Upload Keystore/ JSON File</span> </label>
                    <input type="file" id="keystoreFile" style="display: none;">
                </div>
                <p class="access-modal-desc">
                    If you must, please double-check the URL & SSL cert.
                    <br>
                    It should say <a href="https://token.tripsia.io" class="text-color">https://token.tripsia.io</a>
                    in your URL bar
                </p>
                <p class="access-modal-semi-title">
                    Enter a Keystore Password
                    <span class="cabinet-select-inf-text-error show-handler-txt error-txt">Passphrase given is incorrect!</span>
                </p>

                <div class="form-gr private-form-group">
                    <input type="password" id="walletPassword" value="{{ publicKey }}" class="inputEdit">
                    <button class="showing-password">
                        <img  src="../../static/main/images/eye-icon.png" alt=""><!--src="{% static 'main/images/eye-icon.png' %}"-->
                    </button>
                </div>
                <button type="submit"
                        style="max-width: none"
                        class="disable-btn w-100 access-modal-bottom-btn changeButton checking"
                        onclick="importWallet(1001)"
                        data-id="errorTxt">
                    <img src="../../static/main/images/refresh-icon.png" alt=""><!--src="{% static 'main/images/repeat-icon.png' %}"-->
                    <h3 class="lh-50 f-18">Access My Wallet</h3></button>
            </form>
        </div>
    </div>
</div>
<div class="modal-wrap" id="privateKeyModal">
    <div class="access-modal-box">
        <div class="access-modal-head">
            <h3 class="access-modal-title">Access by Private Key</h3>
            <div class="access-modal-close-btn"><img src="../../static/main/images/close-icn.png" alt=""></div><!--src="{% static 'main/images/close-icn.png' %}"-->
        </div>

        <div class="access-modal-bottom">
            <p class="flex-text access-modal-semi-title">
                <span class="f-semi">Enter a Private Key</span>
                <span class="cabinet-select-inf-text-error show-handler-txt error-txt">Passphrase given is incorrect!</span>
            </p>
            <form action="" onsubmit="return false;">
                <div class="form-gr mb-25">
                    <input type="password" id="privateKey" class="inputEdit">
                </div>

                <p class="access-modal-desc">
                    If you must, please double-check the URL & SSL cert.
                    <br>
                    It should say <a href="https://token.tripsia.io" class="text-color">https://token.tripsia.io</a>
                    in your URL bar
                </p>

                <button onclick="importWalletByPrivateKey(10001);"
                        style="max-width: none"
                        class="disable-btn w-100 access-modal-bottom-btn changeButton checking">
                    <img src="../../static/main/images/repeat-icon.png" alt=""><!--src="{% static 'main/images/repeat-icon.png' %}"-->
                    <h3 class="lh-50 f-18">Access My Wallet</h3>
                </button>
            </form>
        </div>
    </div>
</div>

<div style="display: none;" class="modal-wrap">
    <div class="access-modal-box">
        <div class="access-modal-head">
            <h3 class="access-modal-title">Access by MetaMask</h3>
            <div class="access-modal-close-btn"><img src="../../static/main/images/close-icn.png" alt=""></div><!--src="{% static 'main/images/close-icn.png' %}"-->
        </div>

        <div class="access-modal-bottom">
            <div class="access-modal-images">
                <div class="access-modal-img">
                    <div class="access-modal-wrap">
                        <img src="../../static/main/images/access-foto-1.png" alt=""><!--src="{% static 'main/images/access-foto-1.png' %}"-->
                    </div>
                </div>

                <div class="access-modal-wrap">
                    <img src="../../static/main/images/access-foto-2.png" alt=""><!--src="{% static 'main/images/access-foto-2.png' %}"-->
                </div>
            </div>
        </div>
        <p class="access-modal-desc">
            Please use AsiaTradingPayWallet on a secure (SSL/HTTPS) connection to connect.
        </p>
        <button
                style="
         max-width: 220px;"
                class="success-button access-modal-top-btn"><h3>Access My Wallet</h3></button>
        <p class="access-modal-check">
            <input type="checkbox" id="access">
            <label for="access">
                <span class="check-icon"></span>
                <span>To Access my Wallet, I accept <a href="#"
                                                       class="link-col">Terms</a></span><!--href="{% url 'termsconditions' %}"-->
            </label>
        </p>
        <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en"
           class="success-button access-modal-bottom-btn">Download MetaMask for Chrome</a>
        <button class="success-button access-modal-bottom-btn">Download MetaMask for other browsers</button>
    </div>

</div>
<!--end modal-->


<section class="regular-padding" style="background-image:url('../../static/main/BWW_IMAGES/group-16.png');
                                        background-size:cover;
                                        background-repeat:no-repeat;
                                        background-position: center;">
    <div class="container">
        <div class="row pt-0">
            <div class="col-lg-6">
                <div class="who-we-contant">
                    <div class="dream-dots text-left wow fadeInUp d-none" data-wow-delay="0.2s"
                         style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <img src="../../static/main/img/svg/section-icon-3.svg" alt=""><!--src="{% static 'main/img/svg/section-icon-3.svg' %}"-->
                    </div>
                    <h4 class="wow fadeInUp pt-5" data-wow-delay="0.3s">BWW Introduction</h4>
                    <p class="wow mb-4 fadeInUp" data-wow-delay="0.4s">
                        BWW is an open platform that eliminates the absurdities
                        and tyranny of large travel agencies, and allows them to go on
                        authentic, reliable and quality trips. A platform that
                        eliminates unnecessary fees generated by the wrong travel
                        structure, and, with true travel, creates a sound travel structure.
                        A safe and comfortable trip. A trusted and reliable trip.
                    </p>
                    <span class="wow fadeInUp link-col f-semi d-none" data-wow-delay="0.6s" href="#">Try it with
            Tripsia!</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="welcome-video-area fadeInUp" data-wow-delay="0.5s">
                    <!-- Welcome Thumbnail -->
                    <div class="welcome-thumb">
                        <div class="welcome-thumb-dots">
                            <span></span><span></span><span></span>
                        </div>
                        <img src="../../static/main/images/video-bg.png" alt=""><!--src="{% static 'main/images/video-bg.png' %}"-->
                    </div>
                    <!-- Video Icon -->
                    <div class="video-icon">
                        <a href="https://www.youtube.com/watch?v=gbXEPHsTkgU" class="btn dream-btn video-btn"
                           id="videobtn"><i
                                class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============================BWW Charateristics===========================-->

<section class="charact" style="background-image: url('../../static/main/BWW_IMAGES/group-15.png');
                background-size: cover;
                background-position: center;
                background-repeat:no-repeat;
                height:100vh;">
    <div class="container  text-center">
        <div class="row pt-4">
            <div class="col-md-4 offset-md-4">
                <h3 class="text-white" style="border-radius:23px;background-color:rgba(126, 65, 223, 0.6);">
                    BWW characteristics
                </h3>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-10 offset-md-1 mr-5 col-sm-12 col-12">
                <p class="text-white">
                    BWW token is on ETH-based token. Built on a trusted and reliable blockchain technology foundation.<br/>BWW brings about a revolution in the overall industry of payment
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="px-1 col-md-2  offset-md-1 col-sm-4 offset-sm-2 col-4 offset-2 ">
                <div class="card text-center">
                    <img src="../../static/main/BWW_IMAGES/vector-smart-object.png" alt="" class="card-img img-fluid w-75 pl-3 ml-2 py-3">
                    <div class="card-title">
                        <h4 style="color:rgba(97, 0, 253, 0.925);">
                            Wallet
                        </h4>
                    </div>
                    <div class="card-text">
                        <p class="pb-5" style="line-height: 23px;">
                            Meet Wallet, powered by Real Time without any more pay details!
                        </p>
                    </div>
                </div>
            </div>
            <div class="px-1 col-md-2 col-sm-4 col-4 ">
                <div class="card text-center">
                    <img src="../../static/main/BWW_IMAGES/vector-smart-object.png" alt="" class="card-img img-fluid w-75 pl-3 ml-2 py-3">
                    <div class="card-title">
                        <h4 style="color:rgba(97, 0, 253, 0.925);">
                            All time
                        </h4>
                    </div>
                    <div class="card-text">
                        <p class="pb-4" style="line-height: 23px;">
                            Enjoy the convenience of making payments anytime, anywhere with a simple click
                        </p>
                    </div>
                </div>
            </div>
            <div class="px-1 col-md-2 offset-md-0 col-sm-4 offset-sm-2 col-4 offset-2 pt-sm-3 pt-3 pt-md-0">
                <div class="card text-center">
                    <img src="../../static/main/BWW_IMAGES/vector-smart-object.png" alt="" class="card-img img-fluid w-75 pl-3 ml-2 py-3">
                    <div class="card-title">
                        <h4 style="color:rgba(97, 0, 253, 0.925);">
                            Remmitance
                        </h4>
                    </div>
                    <div class="card-text">
                        <p class="pb-4" style="line-height: 23px;">
                            Send money at a lower cost than banks and existing service providers
                        </p>
                    </div>
                </div>
            </div>
            <div class="px-1 col-md-2 col-sm-4  col-4 pt-sm-3 pt-3 pt-md-0">
                <div class="card text-center">
                    <img src="../../static/main/BWW_IMAGES/vector-smart-object.png" alt="" class="card-img img-fluid w-75 pl-3 ml-2 py-3">
                    <div class="card-title">
                        <h4 style="color:rgba(97, 0, 253, 0.925);">
                            Card
                        </h4>
                    </div>
                    <div class="card-text">
                        <p class="pb-4" style="line-height: 23px;">
                            BWW card systems offer a wide variaty of coins for quick, easy, and safe payments.
                        </p>
                    </div>
                </div>
            </div>
            <div class="px-1 col-md-2 offset-md-0 col-sm-4 offset-sm-4 col-4 offset-4 pt-sm-3 pt-3 pt-md-0">
                <div class="card text-center">
                    <img src="../../static/main/BWW_IMAGES/vector-smart-object.png" alt="" class="card-img img-fluid w-75 pl-3 ml-2 py-3">
                    <div class="card-title">
                        <h4 style="color:rgba(97, 0, 253, 0.925);">
                            Escrow
                        </h4>
                    </div>
                    <div class="card-text">
                        <p class="pb-4" style="line-height: 23px;">
                            With BWW escrow, you don't have to meet and trade in person anymore
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= pb-0 start main About-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<section class="section-padding-100-0 pb-0 d-none">
    <div class="container">
        <div class="row main-about justify-content-between">
            <div class="main-about-img">
                <img src="../../static/main/img/main-about-img.png" alt=""><!--src="{% static 'main/img/main-about-img.png' %}"-->
            </div>
            <div class="col-lg-5">
                <div class="main-about-box">
                    <div class="main-about-head" id="about">
                        <span class="main-about-title">Mobile Payment System</span>
                    </div>
                    <div class="main-about-content">
                        <p class="main-about-decs">
                            Our payment system is convenient and safe
                            based on patented technology. Mobile
                            payments are easy to pay from anywhere in
                            the world. It includes all payment solutions
                            related to travel, all information is stored on
                            a trusted blockchain.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="main-about-box">
                    <div class="main-about-head">
                        <span class="main-about-title">FOR Distributor</span>
                    </div>
                    <div class="main-about-content">
                        <p class="main-about-decs">
                            Travel Distributors can receive precise data
                            about travel through Tripsia's platform.
                            Through use patterns, symbols and information on
                            travelers, specific, valuefriendly travel packages
                            can be planned and developed.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="main-about-box">
                    <div class="main-about-head">
                        <span class="main-about-title">FOR Service Provider</span>
                    </div>
                    <div class="main-about-content">
                        <p class="main-about-decs">
                            Actual travel service provider can receive due
                            compensation, and can easily utilize the data of
                            tripsia to plan, register and market products.
                            In addition, a transparent and reliable service
                            process can be viewed through the payment
                            system for all travel packages.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="main-about-box">
                    <div class="main-about-head">
                        <span class="main-about-title">FOR Traveler</span>
                    </div>
                    <div class="main-about-content">
                        <p class="main-about-decs">
                            It solves only limited travel information through
                            some of the big travel agencies, which are problems
                            that we are experiencing so far. This allows you to get
                            real travel information and enjoy a truly high-quality,
                            low-cost trip through a transparent structure.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--start main About-->


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main token-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<section class="section-padding-100-0 main-4 d-none">
    <div class="container main-token">
        <div class="section-heading text-center pt-5">
            <!-- Dream Dots -->
            <div class="dream-dots pt-5 justify-content-center fadeInUp" data-wow-delay="0.2s">
                <img src="../../static/main/img/svg/section-icon-4.svg" alt=""><!--src="{% static 'main/img/svg/section-icon-4.svg' %}"-->
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s">Tripsia Token Platform is</h2>
            <p class="fadeInUp main-token-desc f-15" data-wow-delay="0.4s">Tripsia's platform changes the corrupt
                structure of the travel industry
                as a whole and provides new opportunities
                for travel industry workers. It also reducesoverall operating costs by improving the quality of service
                in the
                travel industry.
                .</p>

            <div class="main-token-img">
                <img src="../../static/main/img/info.png" alt=""><!--src="{% static 'main/img/info.png' %}"-->
            </div>
        </div>
    </div>
</section><!--end main token-->
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main token-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<section class="section-padding-100-0 d-none">
    <div class="container main-token">
        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                <img  src="../../static/main/img/svg/section-icon-5.svg" alt=""><!--src="{% static 'main/img/svg/section-icon-5.svg' %}"-->
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s">Tripsia POI Mining is</h2>
            <p class="main-token-desc fadeInUp f-15" data-wow-delay="0.4s">tripsia POI Mining system offers many
                benefits to participants who play
                an important role in the ecosystem. The more people who
                engage in travel or enjoy traveling, the more rewards they make, the more they treat people who play
                positive
                roles in the real
                ecosystem. In addition, all these processes are automated mining systems by A.I Logic, which support
                thorough
                transparency and
                reliability because they are in a way that humans cannot intervene. Also, the more TSTs you have, the
                greater
                the rewards you get.</p>

            <div class="main-token-img">
                <img src="../../static/main/img/page-5.png" alt=""><!--src="{% static 'main/img/page-5.png' %}"-->
            </div>
        </div>
    </div>
</section><!--end main token-->


<!-- ##### Our Services Area Start ##### -->
<section class="our_services_area section-padding-100-0 clearfix d-none" id="services">
    <div class="container">

        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                <img src="../../static/main/img/svg/section-icon-1.svg" alt=""><!--src="{% static 'main/img/svg/section-icon-1.svg' %}"-->
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s">Tripsia characteristics</h2>
            <p class="fadeInUp" data-wow-delay="0.4s">Tripsia token is an ETH-based token. Built on a trusted and
                reliable
                blockchain technology foundation,
                tripsia brings about a revolution in the overall industry of travel.</p>
        </div>


        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.2s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img  src="../../static/main/img/main-service-icon-1.png" alt=""><!--src="{% static 'main/img/main-service-icon-1.png' %}"-->
                    </div>
                    <h6>Tripsia Gateway</h6>
                    <p>we are provides an interaction gateway for a
                        variety of content. It is provided in API format
                        and SDK format. In addition, Main Platform
                        A.I. provides the appropriate Acceleration
                        Service for travel information.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="../../static/main/img/main-service-icon-2.png" alt=""><!--src="{% static 'main/img/main-service-icon-2.png' %}"-->
                    </div>
                    <h6>Tripsia API</h6>
                    <p>We will provide various modules for each
                        member of the ecosystem. We want to
                        provide separate assets to respond to OS,
                        device and platform.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.4s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="../../static/main/img/main-service-icon-3.png" alt=""><!--src="{% static 'main/img/main-service-icon-3.png' %}"-->
                    </div>
                    <h6>Exchange Service</h6>
                    <p>We can exchange it with other Token, even
                        if it is not through a separate exchange. It's
                        also available on-site in real time.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.5s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="../../static/main/img/main-service-icon-4.png" alt=""><!--src="{% static 'main/img/main-service-icon-4.png' %}"-->
                    </div>
                    <h6>Tripsia Wallet</h6>
                    <p>We offer easy and easy wallets to perform
                        the various functions involved in the trip.
                        This makes it easy for anyone who is new to
                        blockchain to use the payment system.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.6s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="../../static/main/img/main-service-icon-5.png"  alt=""><!--src="{% static 'main/img/main-service-icon-5.png' %}"-->
                    </div>
                    <h6>Advertisement Manager</h6>
                    <p>We have an advertising management
                        system that allows travel agents to purchase
                        advertising items and apply them directly.
                        Advertising services provide the Advertising
                        Manager system for ad managers.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.7s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="../../static/main/img/main-service-icon-6.png"  alt=""><!--src="{% static 'main/img/main-service-icon-6.png' %}"-->
                    </div>
                    <h6>Tripsia Information Service</h6>
                    <p>We provide you with the desired travel
                        information through a systematic and quality
                        internal information processing system.
                        I promise that the information
                        provided is reliable.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Our Services Area End ##### -->

<!-- ##### token-distribution Area start ##### -->
<section class="token-distribution section-padding-100" style="background-image:url('../../static/main/BWW_IMAGES/bg-7.png');
                                                               background-size:cover;
                                                               background-repeat:no-repeat;
                                                               background-position: center;">
    <div class="container">

        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <div class="dream-dots justify-content-center fadeInUp d-none" data-wow-delay="0.2s">
                <img src="../../static/main/img/svg/section-icon-4.svg" alt=""><!--src="{% static 'main/img/svg/section-icon-4.svg' %}"-->
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s" style="color:rgba(97, 0, 253, 0.925);">Our ICO Distribution</h2>
            <!--{#-->      <p class="fadeInUp d-none" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis<!--#}-->
            <!--{#-->        accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p><!--#}-->
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="text-center mb-30 d-none">Tripsia Token Value</h2>
            <div class="token-allocation">
                <img src="../../static/main/BWW_IMAGES/layer-3@2x.png" class="center-block" alt=""><!--src="{% static 'main/img/graph-1.png' %}"-->
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="text-center mb-30 d-none">Token Distrbution</h2>
            <div class="token-allocation">
                <img src="../../static/main/BWW_IMAGES/layer-4@2x.png" class="center-block" alt=""><!--src="{% static 'main/img/graph-2.png' %}"-->
            </div>
        </div>
    </div>

</section>
<!-- ##### token-distribution Area End ##### -->

<!-- ##### Token counter Start ##### -->
<!--{#--><div class="faq-timeline-area section-padding-100" style="background:#fff;padding-bottom:70px"><!--#}-->
<!--{#--><div class="container"><!--#}-->
<!--{#  -->  <div class="row"><!--#}-->
<!--{#  -->    <div class="col-12 col-lg-7 col-md-12"><!--#}-->
<!--{#  -->      <div class="section-heading"><!--#}-->
<!--{#  -->        <!-- Dream Dots --><!--#}-->
<!--{#  -->        <div class="dream-dots wow fadeInUp d-none" data-wow-delay="0.2s"><!--#}-->
<!--{#  -->          <img src="../../static/main/img/svg/section-icon-1.svg"  alt=""><!--src="{% static 'main/img/svg/section-icon-1.svg' %}"--><!--#}-->
<!--{#  -->        </div><!--#}-->
<!--{#  -->        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Download Token WhitePaper</h2><!--#}-->
<!--{#  -->        <p class="wow fadeInUp" data-wow-delay="0.4s" style="margin-left:0">Lorem ipsum dolor sit amet, consectetur<!--#}-->
<!--{#  -->          adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p><!--#}-->
<!--{#  -->      </div><!--#}-->
<!--{##}-->
<!--{#  -->      <div class="row"><!--#}-->
<!--{##}-->
<!--{#  -->        <div class="col-md-4 col-sm-4 col-4"><!--#}-->
<!--{#  -->          <a href="#"><!--#}-->
<!--{#  -->            <div class="article box-shadow ui-content-download"><!--#}-->
                         <img  src="../../static/main/BWW_IMAGES/group-12@2x.png" class="flag-img" alt="">
<!--{#  -->              <i class="ui-content-download article__icon"><!--#}-->
<!--{#  -->                <!--src="{% static 'main/img/flags/uk.png' %}"--><!--#}-->
<!--{#  -->              </i><!--#}-->
<!--{#  -->              <h3 class="article__title">English</h3><!--#}-->
<!--{#  -->            </div><!--#}-->
<!--{#  -->          </a><!--#}-->
<!--{#  -->        </div><!--#}-->

<!--{#  -->        <div class="col-md-4 col-sm-4 col-4"><!--#}-->
<!--{#  -->          <a href="#"><!--#}-->
<!--{#  -->            <div class="article box-shadow ui-content-download"><!--#}-->
                         <img  src="../../static/main/BWW_IMAGES/group-13@2x.png" class="flag-img" alt="">
<!--{#  -->              <i class="ui-content-download article__icon"><!--#}-->
<!--{#  -->                <!--src="{% static 'main/img/flags/fr.png' %}"--><!--#}-->
<!--{#  -->              </i><!--#}-->
<!--{#  -->              <h3 class="article__title">Korean</h3><!--#}-->
<!--{#  -->            </div><!--#}-->
<!--{#  -->          </a><!--#}-->
<!--{#  -->        </div><!--#}-->
<!--{##}-->
<!--{#  -->        <div class="col-md-4 col-sm-4 col-4"><!--#}-->
<!--{#  -->          <a href="#"><!--#}-->
<!--{#  -->            <div class="article box-shadow ui-content-download"><!--#}-->
                         <img  src="../../static/main/BWW_IMAGES/group-14@2x.png" class="flag-img" alt="">
<!--{#  -->              <i class=" article__icon"><!--#}-->
<!--{#  -->                <!--src="{% static 'main/img/flags/cn.png' %}"--><!--#}-->
<!--{#  -->              </i><!--#}-->
<!--{#  -->              <h3 class="article__title">Chinese</h3><!--#}-->
<!--{#  -->            </div><!--#}-->
<!--{#  -->          </a><!--#}-->
<!--{#  -->        </div><!--#}-->
<!--{##}-->
<!--{#  -->      </div><!--#}-->
<!--{#  -->    </div><!--#}-->
<!--{##}-->
<!--{#  -->    <div class="col-12 col-lg-5 offset-lg-0 col-md-8 offset-md-2 col-sm-10 offset-sm-1"><!--#}-->
<!--{##}-->
<!--{#  -->      <div class="ico-counter"><!--#}-->
<!--{#  -->        <div class="counter-down"><!--#}-->
<!--{##}-->
<!--{#  -->          <div class="content"><!--#}-->
<!--{#  -->            <div class="conuter-header"><!--#}-->
<!--{#  -->              <h3 class="text-center">TOKEN SALE ENDS IN</h3><!--#}-->
<!--{#  -->            </div><!--#}-->
<!--{#  -->            <div class="counterdown-content"><!--#}-->
<!--{##}-->
<!--{#  -->              <!-- Countdown  --><!--#}-->
<!--{#  -->              <div class="count-down titled circled text-center"><!--#}-->
<!--{#  -->                <div class="simple_timer"></div><!--#}-->
<!--{#  -->              </div><!--#}-->
<!--{#  -->              <div class="ico-progress"><!--#}-->
<!--{#  -->                <ul class="list-unstyled list-inline clearfix mb-10"><!--#}-->
<!--{#  -->                  <li class="title">33m</li><!--#}-->
<!--{#  -->                  <li class="strength">75m</li><!--#}-->
<!--{#  -->                </ul><!--#}-->
<!--{#  -->                <!-- skill strength --><!--#}-->
<!--{#  -->                <div class="current-progress"><!--#}-->
<!--{#  -->                  <div class="progress-bar has-gradient" style="width: 75%"></div><!--#}-->
<!--{#  -->                </div><!--#}-->
<!--{#  -->                <span class="pull-left">Softcap in 103 days</span><!--#}-->
<!--{#  -->                <span class="pull-right">Token Hardcap</span><!--#}-->
<!--{#  -->              </div><!--#}-->
<!--{#  -->              <div class="text-center"><!--#}-->
<!--{#  -->                <a href="#" class="button mt-30">Buy More Tokens</a><!--#}-->
<!--{#  -->              </div><!--#}-->
<!--{#  -->            </div><!--#}-->
<!--{##}-->
<!--{#  -->          </div><!--#}-->
<!--{##}-->
<!--{#  -->        </div><!--#}-->
<!--{#  -->      </div><!--#}-->
<!--{##}-->
<!--{#  -->    </div><!--#}-->
<!--{#  -->  </div><!--#}-->
<!--{#  --></div><!--#}-->
<!--{# --> </div><!--#}-->
<!-- ##### Token counter Area End ##### -->


<!-- ##### Blog Area Start ##### -->
<section
        style="
                background-image: url('../../static/main/BWW_IMAGES/group-11@2x.png');
                background-repeat: no-repeat;
                background-size:cover;"
        class="our_blog_area clearfix section-padding-100-0" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <!-- Dream Dots -->
                    <div class="dream-dots justify-content-center wow fadeInUp d-none" data-wow-delay="0.2s">
                        <img src="../../static/main/img/svg/section-icon-1.svg" alt=""><!--src="{% static 'main/img/svg/section-icon-1.svg' %}"-->
                    </div>
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">News</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s"> BWW news to open the world. </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <!-- Single Blog Post -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Post Thumbnail -->
                    <div class="blog_thumbnail">
                        <img src="../../static/main/img/blog-img/1.jpg" alt=""><!--src="{% static 'main/img/blog-img/1.jpg' %}"-->
                    </div>
                    <!-- Post Content -->
                    <div class="blog-content">
                        <!-- Dream Dots -->

                        <div class="post-meta mt-20">
                            <p>By <a href="#" class="post-author">ADMIN</a> <a href="#">Apr 10, 2018</a> <a href="#"
                                                                                                            class="post-comments">7
                                comments</a></p>
                        </div>
                        <a href="" class="post-title">
                            <h4>BWW will upload on Web</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione
                            sapiente
                            repellat.</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Post Thumbnail -->
                    <div class="blog_thumbnail">
                        <img src="../../static/main/img/blog-img/2.jpg" alt=""><!--src="{% static 'main/img/blog-img/2.jpg' %}"-->
                    </div>
                    <!-- Post Content -->
                    <div class="blog-content">
                        <!-- Dream Dots -->

                        <div class="post-meta mt-20">
                            <p>By <a href="#" class="post-author">ADMIN</a> <a href="#">Apr 10, 2018</a> <a href="#"
                                                                                                            class="post-comments">7
                                comments</a></p>
                        </div>
                        <a href="" class="post-title">
                            <h4>BWW will upload on Web</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione
                            sapiente
                            repellat.</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Post Thumbnail -->
                    <div class="blog_thumbnail">
                        <img src="../../static/main/img/blog-img/3.jpg" alt=""><!--src="{% static 'main/img/blog-img/3.jpg' %}"-->
                    </div>
                    <!-- Post Content -->
                    <div class="blog-content">
                        <!-- Dream Dots -->

                        <div class="post-meta mt-20">
                            <p>By <a href="#" class="post-author">ADMIN</a> <a href="#">Apr 10, 2018</a> <a href="#"
                                                                                                            class="post-comments">7
                                comments</a></p>
                        </div>
                        <a href="" class="post-title">
                            <h4>BWW will upload on Web</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione
                            sapiente
                            repellat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Blog Area End ##### -->


<!-- ##### Our roadmap Area start ##### -->
<section class="roadmap section-padding-100">
    <div class="section-heading text-center">
        <!-- Dream Dots -->
        <div class="dream-dots justify-content-center fadeInUp d-none" data-wow-delay="0.2s">
            <img src="../../static/main/img/main-service-icon-5.png" alt=""><!--src="{% static 'main/img/svg/section-icon-5.svg' %}"-->
        </div>
        <h2 class="fadeInUp" data-wow-delay="0.3s" id="roadmap" style="color:rgb(126, 65, 223);">Our ICO Roadmap</h2>
        <p class="fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis
            accumsan
            nisi Ut ut felis congue nisl hendrerit commodo.</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="section_5-content">
                <div class="section_5-slider-trumb"></div>
                <div id="section_5-slider-circle">
                    <div style="left:10%" class="data_cir cir_0" data-date="Q2 2017">
                        <div class="data_cir-content">
                            <div><span class="roadmap_content_info">Emergence and design of the idea</span><span
                                    class="roadmap_img"><img src="../../static/main/img/roadmap-icons/1.svg"
                                                             alt=""></span></div><!--src="{% static 'main/img/roadmap-icons/1.svg' %}"-->
                        </div>
                    </div>
                    <div style="left:20%" class="data_cir cir_1" data-date="Q3 2017">
                        <div class="data_cir-content">
                            <div>
                                <div class="roadmap_content_info">
                                    <ul>
                                        <li><span>built our team</span></li>
                                        <li><span>company establishment</span></li>
                                        <li><span>legal issues setting</span></li>
                                        <li><span> concept development</span></li>
                                    </ul>
                                </div>
                                <span class="roadmap_img"><img src="../../static/main/img/roadmap-icons/2.svg" alt=""></span><!--src="{% static 'main/img/roadmap-icons/2.svg' %}"-->
                            </div>
                        </div>
                    </div>
                    <div style="left:30%" class="data_cir cir_2" data-date="Q4 2017">
                        <div class="data_cir-content">
                            <div>
                                <div class="roadmap_content_info">
                                    <ul>
                                        <li>
                                            <span> start development of the ealier version and crypto wallet version</span>
                                        </li>
                                        <li><span>negotiations on partnerships</span></li>
                                    </ul>
                                </div>
                                <span class="roadmap_img"><img src="../../static/main/img/roadmap-icons/3.svg" alt=""></span><!--src="{% static 'main/img/roadmap-icons/3.svg' %}"-->
                            </div>
                        </div>
                    </div>
                    <div style="left:40%" class="data_cir cir_3" data-date="Q1 2018">
                        <div class="data_cir-content">
                            <div>
                                <div class="roadmap_content_info">
                                    <ul>
                                        <li><span>website launch</span></li>
                                        <li><span>White Paper published</span></li>
                                        <li><span>Private and Pre-sale start</span></li>
                                    </ul>
                                </div>
                                <span class="roadmap_img"><img src="../../static/main/img/roadmap-icons/4.svg" alt=""></span><!--src="{% static 'main/img/roadmap-icons/4.svg' %}"-->
                            </div>
                        </div>
                    </div>
                    <div style="left:50%" class="data_cir cir_4 red_crc" data-date="Q2 2018">
                        <div class="data_cir-content">
                            <div>
                                <div class="roadmap_content_info">
                                    <ul>
                                        <li><span>Crowdsale</span></li>
                                        <li><span>marketing campaign</span></li>
                                        <li><span>listing to the major exchanges</span></li>
                                    </ul>
                                </div>
                                <span class="roadmap_img"><img src="../../static/main/img/roadmap-icons/5.svg" alt=""></span><!--src="{% static 'main/img/roadmap-icons/5.svg' %}"-->
                            </div>
                        </div>
                    </div>
                    <div style="left:60%" class="data_cir cir_5 next" data-date="Q3 2018">
                        <div class="data_cir-content">
                            <div>
                                <div class="roadmap_content_info">
                                    <ul>
                                        <li><span>Crypto Wallet version release</span></li>
                                        <li><span>Testnet launch</span></li>
                                        <li><span> Platform ealier version development</span></li>
                                    </ul>
                                </div>
                                <span class="roadmap_img"><img src="../../static/main/img/roadmap-icons/6.svg" alt=""></span><!--src="{% static 'main/img/roadmap-icons/6.svg' %}"--> 
                            </div>
                        </div>
                    </div>
                    <div style="left:70%" class="data_cir cir_6 next" data-date="Q4 2018">
                        <div class="data_cir-content">
                            <div>
                                <div class="roadmap_content_info">
                                    <ul>
                                        <li><span>Mobile App</span></li>
                                        <li><span>Explorer</span></li>
                                        <li><span>new partnerships and new marketplace support</span></li>
                                    </ul>
                                </div>
                                <span class="roadmap_img"><img src="../../static/main/img/roadmap-icons/7.svg" alt=""></span><!--src="{% static 'main/img/roadmap-icons/7.svg' %}"-->
                            </div>
                        </div>
                    </div>
                    <div style="left:80%" class="data_cir cir_7 next" data-date="Q1 2019">
                        <div class="data_cir-content">
                            <div>
                                <div class="roadmap_content_info">
                                    <ul>
                                        <li><span>Mainnet launch</span></li>
                                        <li><span>Wallet beta-version release</span></li>
                                        <li><span>Masternodes implementation</span></li>
                                    </ul>
                                </div>
                                <span class="roadmap_img"><img src="../../static/main/img/roadmap-icons/8.svg" alt=""></span><!--src="{% static 'main/img/roadmap-icons/8.svg' %}"-->
                            </div>
                        </div>
                    </div>
                    <div style="left:90%" class="data_cir cir_8 next" data-date="Q2 2019">
                        <div class="data_cir-content">
                            <div>
                                <div class="roadmap_content_info">
                                    <ul>
                                        <li><span> Platform integration to electronic marketplaces</span></li>
                                        <li><span>Zero Fee</span></li>
                                    </ul>
                                </div>
                                <span class="roadmap_img"><img src="../../static/main/img/roadmap-icons/9.svg" alt=""></span><!--src="{% static 'main/img/roadmap-icons/9.svg' %}"-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Our roadmap Area End ##### -->


<!-- ##### Our features Area start ##### -->
<section class="features section-padding-100" style="background-image: url('../../static/main/BWW_IMAGES/group-10.png');
                                                     background-repeat: no-repeat;
                                                     background-size:cover;">
    <div class="container">
        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <img src="{% static 'main/img/svg/section-icon-4.svg' %}" alt="">
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;color:rgb(126, 65, 223);">Our Application</h2>
            <p class="fadeInUp d-none" data-wow-delay="0.4s"
               style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="services-column col-lg-5 col-lg-offset-1 col-md-10 offset-md-1 col-xs-10 offset-xs-1">

                <!--Services Block Four-->
                <div class="services-block-four">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="../../static/main/BWW_IMAGES/icon-1@3x.png" alt=""><!--src="{% static 'main/img/svg/feature1.png' %}"-->
                        </div>
                        <h3><a href="#">Measure the customer experience</a></h3>
                        <div
                                class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium modi
                            assumenda beatae provident non ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>

                    </div>
                </div>

                <!--Services Block Four-->
                <div class="services-block-four">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="../../static/main/BWW_IMAGES/icon-2@3x.png" alt=""><!--src="{% static 'main/img/svg/feature2.svg' %}"-->
                        </div>
                        <h3><a href="#">Multi-device testing made simple</a></h3>
                        <div
                                class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aut
                            repudiandae harum, fugit.
                        </div>
                    </div>
                </div>

                <!--Services Block Four-->
                <div class="services-block-four" style="margin-bottom:0">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="../../static/main/BWW_IMAGES/icon-3@3x.png" alt=""><!--src="{% static 'main/img/svg/feature3.png' %}"-->
                        </div>
                        <h3><a href="#">Launch quickly with reusable templates</a></h3>
                        <div
                                class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia maiores,
                            ducimus animi a..
                        </div>
                    </div>
                </div>

            </div>
            <div class="service-img-wrapper col-lg-6 col-md-12 col-sm-12">
                <div class="image-box">
                    <img src="../../static/main/BWW_IMAGES/group-3@3x.png" class="center-block img-responsive phone-img" alt=""><!--#}--><!--src="{% static 'main/img/phone1.png' %}"-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Our features Area End ##### -->


<section class="partners section-padding-100-0" style="background-image: url('../../static/main/img/world-map-bg.png');
                                                       background-repeat: no-repeat;
                                                       background-size:cover;">
    <div class="container pt-4">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <div class="dream-dots justify-content-center wow fadeInUp d-none" data-wow-delay="0.2s">
                        <img src="../../static/main/img/svg/section-icon-3.svg" alt=""><!--src="{% static 'main/img/svg/section-icon-3.svg' %}"-->
                    </div>
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Our Partner</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Tripsia news to open the world. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-0" style="padding:50px 0 70px;overflow:hidden">
        <div class="client-logo-row">
            <div class="client-logo"><img src="../../static/main/img/clients/1.png" alt=""></div><!--src="{% static 'main/img/clients/1.png' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/2.png" alt=""></div><!--src="{% static 'main/img/clients/2.png' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/3.svg" alt=""></div><!--src="{% static 'main/img/clients/3.svg' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/4.png" alt=""></div><!--src="{% static 'main/img/clients/4.png' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/5.svg" alt=""></div><!--src="{% static 'main/img/clients/5.svg' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/6.svg" alt=""></div><!--src="{% static 'main/img/clients/6.svg' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/7.svg" alt=""></div><!--src="{% static 'main/img/clients/7.svg' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/8.png" alt=""></div><!--src="{% static 'main/img/clients/8.png' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/9.png" alt=""></div><!--src="{% static 'main/img/clients/9.png' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/10.png" alt=""></div><!--src="{% static 'main/img/clients/10.png' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/11.png" alt=""></div><!--src="{% static 'main/img/clients/11.png' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/12.png" alt=""></div><!--src="{% static 'main/img/clients/12.png' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/13.png" alt=""></div><!--src="{% static 'main/img/clients/13.png' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/14.png" alt=""></div><!--src="{% static 'main/img/clients/14.png' %}"-->
            <div class="client-logo"><img src="../../static/main/img/clients/15.png" alt=""></div><!--src="{% static 'main/img/clients/15.png' %}"-->
        </div>
    </div>

</section>

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start footer -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<footer class="regular-padding footer wh-col" style="background-image:url('../../static/main/BWW_IMAGES/rectangle-6.png');
        background-size:cover;background-repeat:no-repeat;">
    <div class="container">
        <div class="row equal-offsets text-center text-sm-left" style="padding:0;">
            <div class="col-lg-4">
                <div class="footer-logo">
                    <img src="../../static/main/BWW_IMAGES/logo@2x.png" alt=""><!--src="{% static 'main/img/logo_.png' %}"-->
                </div>
                <div class="footer-desc txt-editor">
                    <p class="wh-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                        ducimus voluptatibus neque illo id repellat quisquam? Autem
                        expedita earum quae laborum ipsum ad, a eaque officiis
                        eligendi blanditiis odio necessitatibus.</p>
                </div>
                <ul class="footer-sotsial justify-content-center justify-content-sm-start">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1">
                <p class="footer-navigate-title wh-col">NAVIGATE</p>
                <ul class="footer-navigate">
                    <li><a href="">Advertisers</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href=" ">Company</a></li>
                    <li><a href="">Connect</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <p class="footer-navigate-title wh-col">PRIVACY & TOS</p>
                <ul class="footer-navigate">
                    <li><a href="/termsconditions/">Advertiser Agreement</a></li>
                    <li><a href="">Acceptable Use Policy</a></li>
                    <li><a href="/privacypolicy/">Privacy Policy</a></li>
                    <li><a href="">Technology Privacy</a></li>
                    <li><a href="">Developer Agreement</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 footer-inf-txt">
                <p class="footer-navigate-title wh-col" style="font-weight: bold!important;">
                    CONTACT US</p>
                <p class="wh-col">Mailing Address:xx00</p>
                <p class="wh-col">Suite 1100. Denver</p>
                <p class="wh-col">+999 90932 627</p>
                <p class="wh-col">support@tripsia.io</p>
            </div>
        </div>
    </div>
</footer><!--end footer-->
<!-- ########## All JS ########## -->
<!-- jQuery js -->
<script src="../../static/main/js/jquery.min.js"></script><!--src="{% static 'main/js/jquery.min.js' %}"-->
<!-- Popper js -->
<script src="../../static/main/js/popper.min.js"></script><!--src="{% static 'main/js/popper.min.js' %}"-->
<!-- Bootstrap js -->
<script src="../../static/main/js/bootstrap.min.js"></script><!--src="{% static 'main/js/bootstrap.min.js' %}"-->
<!-- All Plugins js -->
<script src="../../static/main/js/plugins.js"></script><!--src="{% static 'main/js/plugins.js' %}"-->
<!-- Parallax js -->
<script src="../../static/main/js/dzsparallaxer.js"></script><!--src="{% static 'main/js/dzsparallaxer.js' %}"-->

<script src="../../static/main/js/jquery.syotimer.min.js"></script><!--src="{% static 'main/js/jquery.syotimer.min.js' %}"-->

<script src="../../static/main/js/tsp_common.js"></script><!--src="{% static 'main/js/common.js' %}"-->

<!-- script js -->
<script src="../../static/main/js/script.js"></script><!--src="{% static 'main/js/script.js' %}"-->

<!-- trpsia js -->
<script src="../../static/main/js/base.js"></script><!--src="{% static 'main/js/base.js' %}"-->
<script src="../../static/main/js/ehterWalletManager.js"></script><!--src="{% static 'main/js/ehterWalletManager.js' %}"-->

</body>

</html>
