{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Tripsia</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'main/img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}">

  <!-- Responsive Stylesheet -->
  <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">

</head>

<body class="light-version">
<!-- Preloader -->
<div id="preloader">
  <div class="preload-content">
    <div id="dream-load"></div>
  </div>
</div>


<!-- ##### Header Area Start ##### -->
<header class="header-area wow fadeInDown in-inner-page" data-wow-delay="0.2s">
  <div class="light classy-nav-container breakpoint-off">
    <div class="container">
      <!-- Classy Menu -->
      <nav class="classy-navbar justify-content-between" id="dreamNav">

        <!-- Logo -->
        <a class="nav-brand" href="{% url 'tripsia-home' %}#home"><img src="{% static 'main/img/logo-w.png' %}" alt="logo"></a>

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">

          <!-- close btn -->
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>

         <!-- Nav Start -->
          <div class="classynav">
            <ul id="nav">
              <li><a href="{% url 'tripsia-home' %}#home">Home</a></li>
              <li><a href="{% url 'tripsia-home' %}#about">About us</a></li>
              <li><a href="{% url 'tripsia-home' %}#roadmap">Roadmap</a></li>
              <li><a href="{% url 'tripsia-home' %}#team">API</a></li>
            </ul>

            <!-- Button -->
            <div class="header-account-wrap">
              <a href="#" class="active btn login-btn ml-10">Login</a>
              <a href="{% url 'tstAccount:get_signup' %}" class="btn login-btn ml-10">Signup</a>
            </div>

            <div class="header-lang-wrap pos-r text-center">
              <p class="lang-opener"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt=""></p>
              <ul class="lang justify-content-center justify-content-lg-left">
                <li><a href="indexRU.html"><img src="{% static 'main/img/russian-flag-icon.jpg' %}" alt="">Russian</a></li>
                <li><a href="index.html"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt="">English</a></li>
              </ul>
            </div>
          </div>
          <!-- Nav End -->
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->

<section class="account">
  <div
    class="account-wrap">
    <div class="account-wrap-inner">
      <div class="account-content">
        <h3 class="account-title">Welcome!</h3>
        <p class="link-col account-txt-info">Please check the address bar before logging in.</p>
        <p class="account-min-txt-desc mb-30">Please use Tripsia Wallet on a secure (SSL/HTTPS) connection to
          connect.</p>
        <form id="login-form">
        {% csrf_token %}
          <div class="form-group  account-location-bar">
            <input class="form-control" value="http://token.tripsia.io/api/v1/user/login/" readonly type="text" >
          </div>
          <p class="form-label">Login ID</p>
          <div class="form-group user wth-icon">
              {% comment %}<input class="form-control account-wrap-user" placeholder="Username" required type="text">{% endcomment %}
              <input type="text" id="username" name="username" class="form-control account-wrap-user" placeholder="Username" required type="text">
          </div>
          <p class="form-label">Password</p>
          <div class="form-group wth-icon password">
            {% comment %}<input class="form-control" required placeholder="Password" type="password">{% endcomment %}
              <input class="form-control" required placeholder="Password" type="password" id="password" name="password" id="exampleInputPassword">
          </div>
          <div class="form-group wth-check">
            <input class="wth-check-control" id="loginCheck" type="checkbox">
            <label class="cur-p" for="loginCheck">
              <i class="fa fa-check-circle-o"></i>
              <span>Keep me Login ID</span>
            </label>
          </div>
  <p class=" " id="errorMsg"> </p>
          <div class="account-action-wrap">
            <button class="btn mb-2 success-button account-wrap-btn  w-100" type="submit"  id="login">Log in</button>
          </div>
          <p class="text-left f-11">Don't you have an account yet? <a href="{% url 'tstAccount:get_signup' %}" class="f-semi link-col">Sign up</a></p>
        </form>
      </div>
    </div>
    <div
      style="background-image: url('{% static 'main/img/bg-img/login-bg.png' %}')"
      class="account-wrap-right">

    </div>
  </div>
</section>


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start footer -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<footer class="regular-padding footer wh-col">
  <div class="container">
    <div class="row equal-offsets text-center text-sm-left">
      <div class="col-lg-4">
        <div class="footer-logo">
          <img src="{% static 'main/img/logo-w.png' %}" alt="">
        </div>
        <div class="footer-desc txt-editor">
          <p class="wh-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
            ducimus voluptatibus neque illo id repellat quisquam? Autem
            expedita earum quae laborum ipsum ad, a eaque officiis
            eligendi blanditiis odio necessitatibus.</p>
        </div>
        <ul class="footer-sotsial justify-content-center justify-content-sm-start">
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1">
        <p class="footer-navigate-title wh-col">NAVIGATE</p>
        <ul class="footer-navigate">
          <li><a href="">Advertisers</a></li>
          <li><a href="">Developers</a></li>
          <li><a href="">Resources</a></li>
          <li><a href=" ">Company</a></li>
          <li><a href="">Connect</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <p class="footer-navigate-title wh-col">PRIVACY & TOS</p>
        <ul class="footer-navigate">
          <li><a href="terms.html">Advertiser Agreement</a></li>
          <li><a href="">Acceptable Use Policy</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="">Technology Privacy</a></li>
          <li><a href="">Developer Agreement</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 footer-inf-txt">
        <p class="footer-navigate-title wh-col" style="font-weight: bold!important;">
          CONTACT US</p>
        <p class="wh-col">Mailing Address:xx00</p>
        <p class="wh-col">Suite 1100. Denver</p>
        <p class="wh-col">+999 90932 627</p>
        <p class="wh-col">support@tripsia.io</p>
      </div>
    </div>
  </div>
</footer><!--end footer-->


<!-- ########## All JS ########## -->
<!-- jQuery js -->
<!-- jQuery js -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'main/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'main/js/plugins.js' %}"></script>
<!-- Parallax js -->
<script src="{% static 'main/js/dzsparallaxer.js' %}"></script>

<script src="{% static 'main/js/jquery.syotimer.min.js' %}"></script>

<script src="{% static 'main/js/common.js' %}"></script>

<!-- script js -->
<script src="{% static 'main/js/script.js' %}"></script>
<script src="{% static 'main/js/base.js' %}"></script>


<!-- AJAX -->

<script language="javascript">
    $.getCookie = function(c_name){
        if(document.cookie.length > 0){
            c_start = document.cookie.indexOf(c_name+"=");
            if(c_start != -1){
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(';', c_start);
                if(c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start, c_end));
            }
        }
        return "";
    }
    $(function(){
        $('#login').click(function () {

           $.ajax({
                url: '/api/v1/user/web_post_login',
                dataType: "json",
                method: "POST",
                data: {
                  username: $('#username').val(),
                  password: $('#password').val()
                },
                success: function(response){
                    if (response['status'] === 'success'){
                        console.log(response);
                        window.location.href = "/";
                    }
                    else if (response['status'] === 'fail'){
                        var message = response['message'];
                        $('#errorMsg').text(message);
                    }
                    {#console.log(response);#}
                    {#window.location.href = "/";#}
                }
            });
        });

    });
</script>


</body>

</html>
