{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Cryptorica - Multipurpose Template</title>

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}">

  <!-- Responsive Stylesheet -->
  <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">

</head>

<body class="light-version">
<!-- Preloader -->
<div id="preloader">
  <div class="preload-content">
    <div id="dream-load"></div>
  </div>
</div>


<!-- ##### Header Area Start ##### -->
<header class="header-area wow fadeInDown in-inner-page" data-wow-delay="0.2s">
  <div class="light classy-nav-container breakpoint-off">
    <div class="container">
      <!-- Classy Menu -->
      <nav class="classy-navbar justify-content-between" id="dreamNav">

        <!-- Logo -->
        <a class="nav-brand" href="{% url 'tripsia-home' %}#home"><img src="{% static 'main/img/logo-w.png' %}" alt="logo"></a>


        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">

          <!-- close btn -->
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>

           <!-- Nav Start -->
          <div class="classynav">
            <ul id="nav">
              <li><a href="{% url 'tripsia-home' %}#home">Home</a></li>
              <li><a href="{% url 'tripsia-home' %}#about">About us</a></li>
              <li><a href="{% url 'tripsia-home' %}#roadmap">Roadmap</a></li>
              <li><a href="{% url 'tripsia-home' %}#team">API</a></li>
            </ul>

            <!-- Button -->
            <div class="header-account-wrap">
              <a href="{% url 'tstAccount:get_login' %}" class="btn login-btn ml-10">Login</a>
              <a href="#" class="active btn login-btn ml-10">Signup</a>
            </div>

            <div class="header-lang-wrap pos-r text-center">
              <p class="lang-opener"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt=""></p>
              <ul class="lang justify-content-center justify-content-lg-left">
                <li><a href="indexRU.html"><img src="{% static 'main/img/russian-flag-icon.jpg' %}" alt="">Russian</a></li>
                <li><a href="index.html"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt="">English</a></li>
              </ul>
            </div>
          </div>
          <!-- Nav End -->
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->

<section class="account">
  <div
    class="account-wrap ">
    <div class="account-wrap-inner">
      <div class="account-content">
        <h3 class="account-title">Sign up!</h3>
        <form action="" method="post" id="login-form">
            {% csrf_token %}
{#          user email          #}
          <div class="form-group user wth-icon">
            <input id="username" name="username" class="form-control" placeholder="Username" type="text">
          </div>
          <div class="form-group wth-icon password">
             <input type="password" id="password" name="password" class="form-control form-control-lg border-left-0"  placeholder="Password">
          </div>
          <div class="form-group wth-icon password">
            <input type="password" id="confirm_password" name="confirm_password" class="form-control form-control-lg border-left-0" placeholder="Check Password">
          </div>
          <div class="form-group wth-icon user">
            <select class="form-control f-14" name="nation_country" id="nation_country">
              <option value="0" disabled hidden selected>Nation Country</option>
              <option value="Afghanistan">Afghanistan</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option value="Antarctica">Antarctica</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bermuda">Bermuda</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
              <option value="Botswana">Botswana</option>
              <option value="Bouvet Island">Bouvet Island</option>
              <option value="Brazil">Brazil</option>
              <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
              <option value="Brunei Darussalam">Brunei Darussalam</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Canada">Canada</option>
              <option value="Cape Verde">Cape Verde</option>
              <option value="Cayman Islands">Cayman Islands</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Christmas Island">Christmas Island</option>
              <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo">Congo</option>
              <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
              <option value="Cook Islands">Cook Islands</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cote D'ivoire">Cote D'ivoire</option>
              <option value="Croatia">Croatia</option>
              <option value="Cuba">Cuba</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
              <option value="Faroe Islands">Faroe Islands</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="French Guiana">French Guiana</option>
              <option value="French Polynesia">French Polynesia</option>
              <option value="French Southern Territories">French Southern Territories</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Gibraltar">Gibraltar</option>
              <option value="Greece">Greece</option>
              <option value="Greenland">Greenland</option>
              <option value="Grenada">Grenada</option>
              <option value="Guadeloupe">Guadeloupe</option>
              <option value="Guam">Guam</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-bissau">Guinea-bissau</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
              <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
              <option value="Honduras">Honduras</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of Korea
              </option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Macao">Macao</option>
              <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of
              </option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Martinique">Martinique</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mayotte">Mayotte</option>
              <option value="Mexico">Mexico</option>
              <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
              <option value="Moldova, Republic of">Moldova, Republic of</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montserrat">Montserrat</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Namibia">Namibia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Netherlands Antilles">Netherlands Antilles</option>
              <option value="New Caledonia">New Caledonia</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Niue">Niue</option>
              <option value="Norfolk Island">Norfolk Island</option>
              <option value="Northern Mariana Islands">Northern Mariana Islands</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palau">Palau</option>
              <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Pitcairn">Pitcairn</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Puerto Rico">Puerto Rico</option>
              <option value="Qatar">Qatar</option>
              <option value="Reunion">Reunion</option>
              <option value="Romania">Romania</option>
              <option value="Russian Federation">Russian Federation</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Saint Helena">Saint Helena</option>
              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
              <option value="Saint Lucia">Saint Lucia</option>
              <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
              <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
              <option value="Samoa">Samoa</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Serbia and Montenegro">Serbia and Montenegro</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Solomon Islands">Solomon Islands</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich
                Islands
              </option>
              <option value="Korea, Republic of">South Korea</option>
              <option value="Spain">Spain</option>
              <option value="Sri Lanka">Sri Lanka</option>
              <option value="Sudan">Sudan</option>
              <option value="Suriname">Suriname</option>
              <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
              <option value="Swaziland">Swaziland</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syrian Arab Republic">Syrian Arab Republic</option>
              <option value="Taiwan, Province of China">Taiwan, Province of China</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
              <option value="Thailand">Thailand</option>
              <option value="Timor-leste">Timor-leste</option>
              <option value="Togo">Togo</option>
              <option value="Tokelau">Tokelau</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
              <option value="Tuvalu">Tuvalu</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States">United States</option>
              <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Viet Nam">Viet Nam</option>
              <option value="Virgin Islands, British">Virgin Islands, British</option>
              <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
              <option value="Wallis and Futuna">Wallis and Futuna</option>
              <option value="Western Sahara">Western Sahara</option>
              <option value="Yemen">Yemen</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>
          </div>

          <div class="form-group   user wth-icon">
              <input id="email" name="email" class="form-control account-wrap-user" placeholder="E-mail" type="email" required>
          </div>

          <div class="form-group wth-icon password">
              <input id="opt_password" name="opt_password" class="form-control" placeholder="OTP Password(Four characters)" type="password">
          </div>
          <div class="form-group password wth-icon">
              <input id="confirm_opt_password" name="confirm_opt_password" class="form-control opacity" placeholder="Check OTP Password(Four characters)" type="password" >
          </div>
          <div class="account-check-wrap account-check-wrap-top">
            <input type="checkbox" id="check-account">
            <label for="check-account"><span class="account-check-square"></span>The entire of Consent</label>
          </div>
          <div class="account-check-wrap account-check-wrap-disable account-check-wrap-bottom ">
            <input  type="checkbox" id="check-account-1">
            <label for="check-account-1"><span class="account-check-square"></span>
              <span class="f-light f-11">[Requirement] Acceptance of Terms and Conditions</span>
              <a href="{% url 'termsconditions' %}" class="f-11 ml-3">Detail</a></label>
          </div>
          <div class="account-check-wrap account-check-wrap-disable account-check-wrap-bottom ">
            <input type="checkbox" id="check-account-2">
            <label for="check-account-2" ><span class="account-check-square"></span>
              <span class="f-light f-11">[Requirement] Agreeing with Privacy Policy</span>
              <a href="{% url 'privacypolicy' %}" class="f-11 ml-3">Detail</a></label>
          </div>
            <div class="account-check-wrap account-check-wrap-disable account-check-wrap-bottom ">
                <input type="checkbox" id="check-account-3">
                <label for="check-account-3"><span class="account-check-square"></span><span class="f-light f-11">[Select] The entire of Consent</span></label>
            </div>
          <div class="account-action-wrap">
            {% comment %}<p class="error-col hidden-txt f-13 f-light mb-3">Please check your ID and password.</p>{% endcomment %}
            <button type="submit" class="btn mb-2 success-button account-wrap-btn w-100" id="signup">Sign up
            </button>
          </div>
        </form>
      </div>
    </div>
    <div
      style="background-image: url('{% static 'main/img/sign-up-bg.png' %}')"
      class="account-wrap-right"></div>
  </div>
</section>


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start footer -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<footer class="regular-padding footer wh-col">
  <div class="container">
    <div class="row equal-offsets text-center text-sm-left">
      <div class="col-lg-4">
        <div class="footer-logo">
          <img src="{% static 'main/img/logo-w.png' %}" alt="">
        </div>
        <div class="footer-desc txt-editor">
          <p class="wh-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
            ducimus voluptatibus neque illo id repellat quisquam? Autem
            expedita earum quae laborum ipsum ad, a eaque officiis
            eligendi blanditiis odio necessitatibus.</p>
        </div>
        <ul class="footer-sotsial justify-content-center justify-content-sm-start">
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1">
        <p class="footer-navigate-title wh-col">NAVIGATE</p>
        <ul class="footer-navigate">
          <li><a href="">Advertisers</a></li>
          <li><a href="">Developers</a></li>
          <li><a href="">Resources</a></li>
          <li><a href=" ">Company</a></li>
          <li><a href="">Connect</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <p class="footer-navigate-title wh-col">PRIVACY & TOS</p>
        <ul class="footer-navigate">
          <li><a href="terms.html">Advertiser Agreement</a></li>
          <li><a href="">Acceptable Use Policy</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="">Technology Privacy</a></li>
          <li><a href="">Developer Agreement</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 footer-inf-txt">
        <p class="footer-navigate-title wh-col" style="font-weight: bold!important;">
          CONTACT US</p>
        <p class="wh-col">Mailing Address:xx00</p>
        <p class="wh-col">Suite 1100. Denver</p>
        <p class="wh-col">+999 90932 627</p>
        <p class="wh-col">support@tripsia.io</p>
      </div>
    </div>
  </div>
</footer><!--end footer-->


<!-- ########## All JS ########## -->
<!-- jQuery js -->
<!-- jQuery js -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'main/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'main/js/plugins.js' %}"></script>
<!-- Parallax js -->
<script src="{% static 'main/js/dzsparallaxer.js' %}"></script>

<script src="{% static 'main/js/jquery.syotimer.min.js' %}"></script>

<script src="{% static 'main/js/common.js' %}"></script>

<!-- script js -->
<script src="{% static 'main/js/script.js' %}"></script>

<script src="{% static 'main/js/base.js' %}"></script>


<!-- AJAX -->
<script>

    $(function(){
        $('#signup').click(function () {
            if($('#username').val().length == 0 || $('#email').val().length == 0) {
                alert("PLease fill out the form below");
                return false;
            }
            if($('#password').val() !== $('#confirm_password').val()){
                    alert("The password you have entered is not valid!");
                    return false;
            }
            if($('#opt_password').val() !== $('#confirm_opt_password').val()){
                    alert("The OPT you have entered is not valid!");
                    return false;
            }

           $.ajax({
                url: '/api/v1/user/post_signup',
                dataType: "json",
                method: "POST",
                data: {
                    username: $('#username').val(),
                    email: $('#email').val(),
                    password: $('#password').val(),
                    nation_country: $('#nation_country').val(),
                    opt_password:$('#opt_password').val()
                },
                success: function(response){
                    console.log(response);
                    if (response['status'] === 'success') {
                    window.location.href = "/api/v1/user/login";
                    }
                    else if(response['status'] === 'fail'){
                        alert("The username already exists. Please use a different username. Try signing up again");
                    }
                },
               error: function (error) {
                console.log(error);
                alert("Try signing up again");
                return false;
            }
            });
        });

    });
</script>

</body>

</html>
