{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--font from googlefont-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <!--font from googlefont-->

    <!-- Favicon -->
    <link rel="icon" href="{% static 'main/img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}">

  <!-- Responsive Stylesheet -->
  <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">

    <!--style-->

    <title>TRIPSIA</title>
</head>
<body>
<!-- ##### Header Area Start ##### -->
<header class="header-area wow fadeInDown in-inner-page" data-wow-delay="0.2s">
    <div class="light classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="dreamNav">

                <!-- Logo -->
                <a class="nav-brand" href="{% url 'tsp_index' %}#home"><img src="{% static 'main/img/logo-w.png' %}" alt="logo"></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                     <!-- Nav Start -->
                      <div class="classynav">
                        <ul id="nav">
                          <li><a href="{% url 'tsp_index' %}#home">Home</a></li>
                          <li><a href="{% url 'tsp_index' %}#about">About us</a></li>
                          <li><a href="{% url 'tsp_index' %}#roadmap">Roadmap</a></li>
                          <li><a href="{% url 'tsp_index' %}#team">API</a></li>
                        </ul>

                        <!-- Button -->
                        <div class="header-account-wrap">
                            <a href="{% url 'tstAccount:get_login' %}" class="btn login-btn ml-10">Login</a>
                     <a href="{% url 'tstAccount:get_signup'%}" class="btn login-btn ml-10">Signup</a>
                        </div>

                        <div class="header-lang-wrap pos-r text-center">
                            <p class="lang-opener"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt=""></p>
                            <ul class="lang justify-content-center justify-content-lg-left">
                                <li><a href="indexRU.html"><img src="{% static 'main/img/russian-flag-icon.jpg' %}" alt="">Russian</a></li>
                                <li><a href="index.html"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt="">English</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<main class="regular-padding main-page">
    <div class="container"><div class="row justify-content-center">
            <div class="col-md-10">
                <div class="text-box">
                    <h2 class="text-box-title f-semi text-center">TRIPSIA Terms of Conditions</h2>
                    <div class="txt-editor base-col">
                        <p class="f-semi">-Last updated: April 1, 2019-</p>
                        <p>
                          Be safe & secure: We highly recommend that you read our guide on How to Prevent Loss & Theft
                            for some
                            recommendations on how to be proactive about your security.
                        </p>
                        <p>
                            Always backup your keys: wallet.asiatradecap.com & AsiaTradingPayWallet (ATPW) are not "web
                            wallets". You
                            do not create an account or give us your funds to hold onto. No data leaves your computer /
                            your browser.
                            We make it easy for you to create, save, and access your information and interact with the
                            blockchain.</p>
                        <p>
                            We are not responsible for any loss: Ethereum, wallet.asiatradecap.com &
                            AsiaTradingPayWallet (ATPW), and
                            some of the underlying Javascript libraries we use are under active development. While we
                            have thoroughly
                            tested & tens of thousands of wallets have been successfully created by people all over the
                            globe, there is
                            always the possibility something unexpected happens that causes your funds to be lost.
                            Please do not invest
                            more than you are willing to lose, and please be careful.
                        </p>
                        <p>
                            License Copyright ⓒ 2019 Asung tech korea.
                        </p>
                        <p> Permission is hereby granted, free of charge, to any person obtaining a copy of this
                            software
                            and associated
                            documentation files (the "Software"), to deal in the Software without restriction, including
                            without limitation
                            the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
                            of
                            the Software, and
                            to permit persons to whom the Software is furnished to do so, subject to the following
                            conditions:
                        </p>
                        <p> The above copyright notice and this permission notice shall be included in all copies or
                            substantial portions
                            of the Software.</p>
                        <p class="text-uppercase f-semi">
                            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
                            INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                            PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
                            LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
                            OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
                            OTHER DEALINGS IN THE SOFTWARE.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> <!--end main-->

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start footer -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<footer class="regular-padding footer wh-col">
    <div class="container">
        <div class="row equal-offsets text-center text-sm-left">
            <div class="col-lg-4">
                <div class="footer-logo">
                    <img src="{% static 'main/images/logo.png' %}" alt="">
                </div>
                <div class="footer-desc txt-editor">
                    <p class="wh-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                        ducimus voluptatibus neque illo id repellat quisquam? Autem
                        expedita earum quae laborum ipsum ad, a eaque officiis
                        eligendi blanditiis odio necessitatibus.</p>
                </div>
                <ul class="footer-sotsial justify-content-center justify-content-sm-start">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1">
                <p class="footer-navigate-title">NAVIGATE</p>
                <ul class="footer-navigate">
                    <li><a href="">Advertisers</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href=" ">Company</a></li>
                    <li><a href="">Connect</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <p class="footer-navigate-title">PRIVACY & TOS</p>
                <ul class="footer-navigate">
                    <li><a href="terms.html">Advertiser Agreement</a></li>
                    <li><a href="">Acceptable Use Policy</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                    <li><a href="">Technology Privacy</a></li>
                    <li><a href="">Developer Agreement</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 footer-inf-txt">
                <p class="footer-navigate-title wh-col" style="font-weight: bold!important;">
                    CONTACT US</p>
                <p class="wh-col">Mailing Address:xx00</p>
                <p class="wh-col">Suite 1100. Denver</p>
                <p class="wh-col">+999 90932 627</p>
                <p class="wh-col">support@tripsia.io</p>
            </div>
        </div>
    </div>
</footer><!--end footer-->


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= scripts -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<!-- jQuery js -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'main/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'main/js/plugins.js' %}"></script>
<!-- Parallax js -->
<script src="{% static 'main/js/dzsparallaxer.js' %}"></script>

<script src="{% static 'main/js/jquery.syotimer.min.js' %}"></script>

<script src="{% static 'main/js/common.js' %}"></script>

<!-- script js -->
<script src="{% static 'main/js/script.js' %}"></script>
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= scripts -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->

</body>
</html>
