{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--font from googlefont-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
  <!--font from googlefont-->

  <!--style-->
   <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}">
  <!--style-->

  <title>Tripsia</title>
</head>
<body>
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start header -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->


<header class="header-area header-area-white header-area-white wow fadeInDown" data-wow-delay="0.2s">
  <div class="light classy-nav-container breakpoint-off">
    <div class="container">
      <!-- Classy Menu -->
      <nav class="classy-navbar justify-content-between" id="dreamNav">

        <!-- Logo -->
        <a class="nav-brand" href="{% url 'tripsia-home' %}#home"><img src="{% static 'main/img/logo.png' %}" alt="logo"></a>

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">

          <!-- close btn -->
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>

           <!-- Nav Start -->
          <div class="classynav">
            <ul id="nav">
              <li><a href="{% url 'tsp_index' %}#home">Home</a></li>
              <li><a href="{% url 'tsp_index' %}#about">About us</a></li>
              <li><a href="{% url 'tsp_index' %}#roadmap">Roadmap</a></li>
              <li><a href="{% url 'tsp_index' %}#team">API</a></li>
            </ul>

            <!-- Button -->
            <div class="auth">
              <div class="auth-item">
              </div>
              <div class="auth-item">
                <div class="auth-desc">
                  <span class="">{{ user.username }}</span>
                </div>
              </div>
              <div class="auth-popup">
                <ul>
{#                  <li><a href="{% url 'walletcreate' %}">New Wallet</a></li>#}
                  <li><a href="{% url 'tsp_walletaccess' %}">Access</a></li>
{#                  <li class="auth-disabled"><a>My wallet</a></li>#}
                </ul>
              </div>
            </div>
            <div class="header-lang-wrap pos-r text-center">
              <p class="lang-opener"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt=""></p>
              <ul class="lang justify-content-center justify-content-lg-left">
                <li><a href="indexRU.html"><img src="{% static 'main/img/russian-flag-icon.jpg' %}" alt="">Russian</a></li>
                <li><a href="index.html"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt="">English</a></li>
              </ul>
            </div>
          </div>
          <!-- Nav End -->
        </div>
      </nav>
    </div>
  </div>
</header>


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<main class="regular-padding main-page">
  <div class="container text-center">
    <h2 class="main-page-title f-semi-2 text-center">Access My Wallet</h2>
{#    <p class="main-page-desc">Do not have a wallet? <a class="link f-semi" href="{% url 'walletcreate' %}">Create A New#}
{#      Wallet</a></p>#}
  </div>
  <div class="container">
    <div class="row justify-content-center equal-offsets">
      <div class="col-lg-4">
        <a class="modal-opener wallet-box" data-id="#accessModal">
          <div class="wallet-box-icon">
            <img src="{% static 'main/images/wallet-icon.png' %}" alt="">
          </div>
          <div class="wallet-box-desc">
            <p class="wallet-box-title f-semi f-20">MetaMask / Mist</p>
            <div class="wallet-box-content txt-editor f-16">Use the MetaMask extension to access my wallet</div>
          </div>
        </a>
      </div>


      <div class="col-lg-4">
        <a class="modal-opener wallet-box" data-id="#keystoreModal">
          <div class="wallet-box-icon">
            <img src="{% static 'main/images/wallet-icon-3.png' %}" alt="">
          </div>
          <div class="wallet-box-desc">
            <p class="wallet-box-title f-semi f-20">Keystore / JSON File</p>
            <div class="wallet-box-content txt-editor f-16">Use the Keystore / JSON File to access my wallet
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4">
        <a data-id="#privateKeyModal" class="modal-opener wallet-box">
          <div class="wallet-box-icon">
            <img src="{% static 'main/images/wallet-icon-2.png' %}" alt="">
          </div>
          <div class="wallet-box-desc">
            <p class="wallet-box-title f-semi f-20">Private Key</p>
            <div class="wallet-box-content txt-editor f-16">Use the Private Key to access my wallet</div>
          </div>
        </a>
      </div>

    </div>
  </div>
</main>


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start footer -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<footer class="regular-padding footer wh-col">
  <div class="container">
    <div class="row equal-offsets text-center text-sm-left">
      <div class="col-lg-4">
        <div class="footer-logo">
          <img src="{% static 'main/images/logo.png' %}" alt="">
        </div>
        <div class="footer-desc txt-editor">
          <p class="wh-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
            ducimus voluptatibus neque illo id repellat quisquam? Autem
            expedita earum quae laborum ipsum ad, a eaque officiis
            eligendi blanditiis odio necessitatibus.</p>
        </div>
        <ul class="footer-sotsial justify-content-center justify-content-sm-start">
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1">
        <p class="footer-navigate-title">NAVIGATE</p>
        <ul class="footer-navigate">
          <li><a href="">Advertisers</a></li>
          <li><a href="">Developers</a></li>
          <li><a href="">Resources</a></li>
          <li><a href=" ">Company</a></li>
          <li><a href="">Connect</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <p class="footer-navigate-title">PRIVACY & TOS</p>
        <ul class="footer-navigate">
          <li><a href="terms.html">Advertiser Agreement</a></li>
          <li><a href="">Acceptable Use Policy</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="">Technology Privacy</a></li>
          <li><a href="">Developer Agreement</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 footer-inf-txt">
        <p class="footer-navigate-title wh-col" style="font-weight: bold!important;">
          CONTACT US</p>
        <p class="wh-col">Mailing Address:xx00</p>
        <p class="wh-col">Suite 1100. Denver</p>
        <p class="wh-col">+999 90932 627</p>
        <p class="wh-col">support@tripsia.io</p>
      </div>
    </div>
  </div>
</footer><!--end footer-->

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start modal -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->

<div class="modal-wrap" id="accessModal">
  <div class="access-modal-box">
    <div class="access-modal-head">
      <h3 class="access-modal-title f-semi-2">Access by MetaMask</h3>
      <div class="access-modal-close-btn"><img src="{% static 'main/images/close-icn.png' %}" alt=""></div>
    </div>

    <div class="access-modal-bottom">
      <div class="access-modal-images">
        <div class="access-modal-img">
          <div class="access-modal-wrap">
            <img src="{% static 'main/images/access-foto-1.png' %}" alt="">
          </div>
        </div>
        <div class="access-modal-img">
          <div class="access-modal-wrap">
            <img src="{% static 'main/images/access-foto-2.png' %}" alt="">
          </div>
        </div>
      </div>
      <p class="access-modal-desc">
        Please use TripsiaTokenWallet on a secure <br>(SSL/HTTPS) connection to connect.
      </p>
{#      <a href="{% url 'cabinet' %}"#}
{#         style="width: 225px; margin-left: auto; margin-right: auto;"#}
{#         class="disable-btn checking access-btn f-semi-2"><h3 class="lh-50 f-18">Access My Wallet</h3>#}
{#      </a>#}
        <div>
            <button type="submit" onclick="connectToMetaMask(10002);  "class="disable-btn checking access-btn f-semi-2" style="width: 225px; margin-left: auto; margin-right: auto;">
            <h3 class="lh-50 f-18">Access My Wallet</h3>
            </button>
        </div>
      <p class="access-modal-check">
        <input type="checkbox" id="access">
        <label for="access">
          <span class="check-icon"></span>
          <span class="access-checkbox">To Access my Wallet, I accept <a href="{% url 'termsconditions' %}"
                                                                         class="link-col">Terms</a></span>
        </label>
      </p>

      <div class="access-modal-action-wrap">
        <div class="access-modal-action-wrap-item">
            <a style="width: 200px" href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en"
                                       class="disable-btn on-hover-active fx-c">Download MetaMask for Chrome</a>
        </div>
        <div class="access-modal-action-wrap-item">
          <button
            style="width: 200px"
            class="disable-btn on-hover-active">Download MetaMask for other browsers
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-wrap" id="keystoreModal">
  <div class="access-modal-box">
    <div class="access-modal-head">

      <h3 class="access-modal-title f-semi-2 f-20">Access by Keystore/ JSON File</h3>
      <div class="access-modal-close-btn"><img src="{% static 'main/images/close-icn.png' %}" alt=""></div>
    </div>

    <div class="access-modal-bottom">
        <form onsubmit="return false;">
            {% csrf_token %}
      <p class="access-modal-semi-title">
        Selected File
      </p>
{#      <input id="keystoreFile file" type="file" class="hidden">#}
{#      <button#}
{#        class="success-button access-modal-top-btn w-100 mb-25 f-semi-2 f-16 file-btn"><h4>Upload Keystore/ JSON#}
{#        File</h4></button>#}
        <div class="form-gr form-group">
            <label for="keystoreFile" class="success-button access-modal-top-btn w-100 mb-25 f-semi-2 f-16 file-btn fx-c"><span class="letter">Upload Keystore/ JSON File</span> </label>
            <input type="file" id="keystoreFile" style="display: none;">
        </div>
      <p class="access-modal-desc">
        If you must, please double-check the URL & SSL cert.
        <br>
        It should say <a href="https://token.tripsia.io" class="text-color">https://token.tripsia.io</a>
        in your URL bar
      </p>
      <p class="access-modal-semi-title">
        Enter a Keystore Password
        <span class="cabinet-select-inf-text-error show-handler-txt error-txt">Passphrase given is incorrect!</span>
      </p>

      <div class="form-gr private-form-group">
        <input type="password" id="walletPassword" value="{{ publicKey }}" class="inputEdit">
        <button class="showing-password">
          <img src="{% static 'main/images/eye-icon.png' %}" alt="">
        </button>
      </div>
      <button  type="submit"
         style="max-width: none"
         class="disable-btn w-100 access-modal-bottom-btn changeButton checking" onclick="importWallet(1005)"
         data-id="errorTxt">
        <img src="{% static 'main/images/repeat-icon.png' %}" alt="">
          <h3 class="lh-50 f-18">Access My Wallet</h3></button> </form>
    </div>
  </div>
</div>
<div class="modal-wrap" id="privateKeyModal">
  <div class="access-modal-box">
    <div class="access-modal-head">
      <h3 class="access-modal-title">Access by Private Key</h3>
      <div class="access-modal-close-btn"><img src="{% static 'main/images/close-icn.png' %}" alt=""></div>
    </div>

    <div class="access-modal-bottom">
      <p class="flex-text access-modal-semi-title">
        <span class="f-semi">Enter a Private Key</span>
        <span class="cabinet-select-inf-text-error show-handler-txt error-txt">Passphrase given is incorrect!</span>
      </p>
        <form action="" onsubmit="return false;">
      <div class="form-gr mb-25">
        <input type="password" id="privateKey" class="inputEdit">
      </div>

      <p class="access-modal-desc">
        If you must, please double-check the URL & SSL cert.
        <br>
        It should say <a href="https://token.tripsia.io" class="text-color">https://token.tripsia.io</a>
        in your URL bar
      </p>

      <button onclick="importWalletByPrivateKey(10002);"
         style="max-width: none"
         class="disable-btn w-100 access-modal-bottom-btn changeButton checking">
        <img src="{% static 'main/images/repeat-icon.png' %}" alt="">
        <h3 class="lh-50 f-18">Access My Wallet</h3>
      </button></form>
    </div>
  </div>
</div>

<div style="display: none;" class="modal-wrap">
  <div class="access-modal-box">
    <div class="access-modal-head">
      <h3 class="access-modal-title">Access by MetaMask</h3>
      <div class="access-modal-close-btn"><img src="{% static 'main/images/close-icn.png' %}" alt=""></div>
    </div>

    <div class="access-modal-bottom">
      <div class="access-modal-images">
        <div class="access-modal-img">
          <div class="access-modal-wrap">
            <img src="{% static 'main/images/access-foto-1.png' %}" alt="">
          </div>
        </div>

          <div class="access-modal-wrap">
            <img src="{% static 'main/images/access-foto-2.png' %}" alt="">
          </div>
        </div>
      </div>
      <p class="access-modal-desc">
        Please use AsiaTradingPayWallet on a secure (SSL/HTTPS) connection to connect.
      </p>
      <button
        style="
        max-width: 220px;"
        class="success-button access-modal-top-btn"><h3>Access My Wallet</h3></button>
      <p class="access-modal-check">
        <input type="checkbox" id="access">
        <label for="access">
          <span class="check-icon"></span>
          <span>To Access my Wallet, I accept <a href="{% url 'termsconditions' %}" class="link-col">Terms</a></span>
        </label>
      </p>
      <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en"
                                       class="success-button access-modal-bottom-btn">Download MetaMask for Chrome</a>
      <button class="success-button access-modal-bottom-btn">Download MetaMask for other browsers</button>
    </div>

</div>
<!--end modal-->
<!-- jQuery js -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'main/js/plugins.js' %}"></script>
<!-- Parallax js -->
<script src="{% static 'main/js/dzsparallaxer.js' %}"></script>

<script src="{% static 'main/js/jquery.syotimer.min.js' %}"></script>

<script src="{% static 'main/js/common.js' %}"></script>

<!-- script js -->
<script src="{% static 'main/js/script.js' %}"></script>

<!-- trpsia js -->
<script src="{% static 'main/js/base.js' %}"></script>
<script src="{% static 'main/js/ehterWalletManager.js' %}"></script>

</body>
</html>
