{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--font from googlefont-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <!--font from googlefont-->
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}">
    <title>Tripsia</title>
</head>
<body>

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div id="walletNode">
                <div class="qr-head-2 d-f">
                    <div class="">
                        <img class="qr-head-img" src="{% static 'main/images/qr-logo.png' %}" alt="">
                    </div>
                    <div class="">
                        <span class="f-semi">TRIPSIA Token Wallet</span> <span
                            class="f-11">http://token.tripsia.io/</span>
                    </div>

                </div>
                <div class="qr-wrap">
                    <div class="qr-content ">
                        <p class="qr-content-title f-14">Your Address :</p>
                        <p id="publicKeyValue" class="qr-content-desc f-12">{{ publicKey }}</p>
                        <p class="qr-content-title f-14">Your Private Key: </p>
                        <p id="privateKeyValue" class="qr-content-desc f-12">{{ privateKey }}</p>
                    </div>
                    <div class="qr-images">
                        <div class="qr-image">
                            <div id="publickKeyQr" class="qr-image-item">
                                {#                            <img src="{% static 'main/images/qr-code.png' %}" alt="">#}
                            </div>
                            <p class="link f-black">Your Address</p>
                        </div>
                        <div class="qr-image">
                            <div id="privateKeyQr" class="qr-image-item">
                                {#                            <img src="{% static 'main/images/qr-code.png' %}" alt="">#}
                            </div>
                            <p class="link f-black">Your Private Key</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qr-bottom">
                <ul>
                    <li><a class="cur-p" onclick="downloadPageAsImage()" download>
                        <img
                                src="{% static 'main/images/download-ico.png' %}" alt="">Download</a>
                    </li>
                    <li><a class="cur-p" id="printPageBtn"><img src="{% static 'main/images/print-icon.png' %}" alt="">Print</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= scripts -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<!-- jQuery js -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'main/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'main/js/plugins.js' %}"></script>
<!-- Parallax js -->
<script src="{% static 'main/js/dzsparallaxer.js' %}"></script>

<script src="{% static 'main/js/jquery.syotimer.min.js' %}"></script>

<script src="{% static 'main/js/common.js' %}"></script>
<script src="{% static 'main/js/qrcode.min.js' %}"></script>
<script src="{% static 'main/js/dom-to-image.min.js' %}"></script>
<!-- script js -->
<script src="{% static 'main/js/script.js' %}"></script>
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= scripts -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->

<script type="text/javascript">

    var publicKey = $('#publicKeyValue').text();

    new QRCode(document.getElementById("publickKeyQr"), publicKey);

    var privateKey = $('#privateKeyValue').text();

    new QRCode(document.getElementById("privateKeyQr"), privateKey);


    function downloadPageAsImage() {
        var node = document.getElementById('walletNode');
        domtoimage.toJpeg(node, {quality: 0.95})
            .then(function (dataUrl) {
                var link = document.createElement('a');
                link.download = "tripsia" + '.jpeg';
                link.href = dataUrl;
                link.click();
            });
    }

</script>
</body>
</html>
