{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--font from googlefont-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
  <!--font from googlefont-->
  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}">

  <!-- Responsive Stylesheet -->
  <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">

 <title>Tripsia</title>
</head>
<body>

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start header -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->


<header class="header-area header-area-white header-area-white wow fadeInDown" data-wow-delay="0.2s">
  <div class="light classy-nav-container breakpoint-off">
    <div class="container">
      <!-- Classy Menu -->
      <nav class="classy-navbar justify-content-between" id="dreamNav">

       <!-- Logo -->
                <a class="nav-brand" href="{% url 'tsp_index' %}#home"><img src="{% static 'main/img/logo.png' %}"
                                                                          alt="logo"></a>

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">

          <!-- close btn -->
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>

          <!-- Nav Start -->
          <div class="classynav">
            <ul id="nav">
              <li><a href="{% url 'tsp_index' %}#home">Home</a></li>
              <li><a href="{% url 'tsp_index' %}#about">About us</a></li>
              <li><a href="{% url 'tsp_index' %}#roadmap">Roadmap</a></li>
              <li><a href="{% url 'tsp_index' %}#team">API</a></li>
            </ul>

            <!-- Button -->
            <div class="auth">
              <div class="auth-item">
              </div>
              <div class="auth-item">
                <div class="auth-desc">
                  <span class="">{{ user.username }}</span>
                </div>
              </div>
              <div class="auth-popup">
                <ul>
{#                    <li><a href="{% url 'walletcreate' %}">New Wallet</a></li>#}
                    <li><a href="{% url 'walletaccess' %}">Access</a></li>
{#                    <li class="auth-disabled"><a>My wallet</a></li>#}
                    <li><a href="{% url 'tstAccount:logout' %}">Log out</a></li>
                </ul>
              </div>
            </div>



            <div class="header-lang-wrap pos-r text-center">
              <p class="lang-opener"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt=""></p>
              <ul class="lang justify-content-center justify-content-lg-left">
                <li><a href="index.html"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt="">English</a></li>
                <li><a href="indexRU.html"><img src="{% static 'main/img/russian-flag-icon.jpg' %}" alt="">Russian</a></li>
              </ul>
            </div>
          </div>
          <!-- Nav End -->
        </div>
      </nav>
    </div>
  </div>
</header>

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<main class="regular-padding main-page">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-11">
        <div class="form-window">
          <h2 class="form-window-title f-semi-2">Save your Private Key<br>
            <span class="form-window-txt text-center f-16 f-black-2">Already have a wallet? <a href="{% url 'walletaccess' %}}" class="f-semi  link">Access My Wallet</a></span>
          </h2>

          <div class="form-gr"><input type="text" class="in-input" value="{{ privateKey }}" readonly></div>
           <a href="{% url 'saveprivate' %}}" class="success-button lh-50 mb-25 f-16" id="printWindow">PRINT PAPER WALLET</a>

          <div class="warning-txt-box">
            <p><span class="error-col">** Do not lose it! ** </span>It cannot be recovered if you lose it.</p>
            <p><span class="error-col">** Do not share it!  **  </span> Your funds will be stolen if you use this file
              on a malicious/phishing site.</p>
            <p><span class="error-col">** Make a backup!  **  </span>Secure it like
              the millions of dollars it may one day be worth.</p>
          </div>
          <p class="form-window-txt"></p>
        </div>
      </div>
    </div>
  </div>
</main><!--end main-->

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start footer -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<footer class="regular-padding footer wh-col">
  <div class="container">
    <div class="row equal-offsets text-center text-sm-left">
      <div class="col-lg-4">
        <div class="footer-logo">
          <img src="{% static 'main/images/logo.png' %}" alt="">
        </div>
        <div class="footer-desc txt-editor">
          <p class="wh-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
            ducimus voluptatibus neque illo id repellat quisquam? Autem
            expedita earum quae laborum ipsum ad, a eaque officiis
            eligendi blanditiis odio necessitatibus.</p>
        </div>
        <ul class="footer-sotsial justify-content-center justify-content-sm-start">
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1">
        <p class="footer-navigate-title">NAVIGATE</p>
        <ul class="footer-navigate">
          <li><a href="">Advertisers</a></li>
          <li><a href="">Developers</a></li>
          <li><a href="">Resources</a></li>
          <li><a href=" ">Company</a></li>
          <li><a href="">Connect</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <p class="footer-navigate-title">PRIVACY & TOS</p>
        <ul class="footer-navigate">
          <li><a href="terms.html">Advertiser Agreement</a></li>
          <li><a href="">Acceptable Use Policy</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="">Technology Privacy</a></li>
          <li><a href="">Developer Agreement</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 footer-inf-txt">
        <p class="footer-navigate-title wh-col" style="font-weight: bold!important;">
          CONTACT US</p>
        <p class="wh-col">Mailing Address:xx00</p>
        <p class="wh-col">Suite 1100. Denver</p>
        <p class="wh-col">+999 90932 627</p>
        <p class="wh-col">support@tripsia.io</p>
      </div>
    </div>
  </div>
</footer><!--end footer-->
<!-- jQuery js -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'main/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'main/js/plugins.js' %}"></script>
<!-- Parallax js -->
<script src="{% static 'main/js/dzsparallaxer.js' %}"></script>

<script src="{% static 'main/js/jquery.syotimer.min.js' %}"></script>

<script src="{% static 'main/js/common.js' %}"></script>

<!-- script js -->
<script src="{% static 'main/js/script.js' %}"></script>




</body>
</html>
