{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Tripsia</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'main/img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">

    <style>
        h2.panding-title {
            padding-left: 50px;
        }

        .welcome_area {
            background-image: url("{% static 'main/img/bg-tsp-1.png' %}");
            background-repeat: no-repeat;
            background-size: cover;

        }

        .regular-padding {
            background-image: url("{% static 'main/img/bg-2.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .regular-padding .row {
            padding-top: 220px;
        }

        .main-4 {
            background-image: url("{% static 'main/img/bg-3.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 120px;
        }

        .our_services_area {
            background-image: url("{% static 'main/img/bg-5.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .partners {
            background-image: url("{% static 'main/img/bg-2.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .partners .container {
            padding-top: 280px;
        }

        .main-ilustration-9 {
            background: url(/static/main/img/phone-tsp-1.png) no-repeat center 50% !important;
        }

        .wallet-box {
            width: 130px !important;
            height: 96px !important;
        }

        .wallet-box-icon {
            margin: 0;
        }

        .wallet-box-icon img {
            width: 52px;
            height: 51px;
            margin: 0 auto;
        }

        .wallet-box-desc {
            font-weight: bolder !important;
            text-align: center;
            margin: 0;
        }

        @media (max-width: 768px) {
            #store{
                top: 1000px;
            }
            .main-service .fadeInLeftBig .row {
                width: 92% !important;
                right: 7% !important;
                top: 150px;
            }

            .main-service .fadeInLeftBig .row .col-4 a {
                width: 96% !important;
            }

            .section_5-slider-trumb {
                left: calc(40vw + 8px);
            }

            #section_5-slider-circle .data_cir {
                margin-left: calc(40vw + 2px);
            }

            #section_5-slider-circle .data_cir-content {
                width: 140px;
            }

            #section_5-slider-circle .data_cir-content div {
                font-size: 12px;
                width: 150px;
            }
        }

        header{
            background-color: #026c76;
            opacity: 0.9;
        }



    </style>

</head>

<body class="light-version">
<!-- Preloader -->
<div id="preloader">
    <div class="preload-content">
        <div id="dream-load"></div>
    </div>
</div>


<!-- ##### Header Area Start ##### -->
<header class="header-area wow fadeInDown header-inner-page" data-wow-delay="0.2s;">
    <div class="light classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="dreamNav">

                <!-- Logo -->
                <a class="nav-brand" href="#"><img class="img-fluid" src="{% static 'main/img/logo-tsp-1.png' %}"
                                                   alt="logo"/></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav align-items-start">
                        <ul id="nav">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About us</a></li>
                            <!--<li><a href="#roadmap">Roadmap</a></li>--->
                            <li><a href="#team">API</a></li>
                        </ul>

                        <div style="padding-top:7px;">
                            <span style="width: 100px; border-radius:15px;border:1px solid white;">
                                <a href="#" class="px-4">
                                    Access
                                </a>
                            </span>
                        </div>

                        <div class="header-lang-wrap pos-r text-center">
                            <p class="lang-opener"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt=""></p>
                            <ul class="lang justify-content-center justify-content-lg-left">
                                <li><a href="index.html"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt="">English</a>
                                </li>
                                <li><a href="indexRU.html"><img src="{% static 'main/img/russian-flag-icon.jpg' %}"
                                                                alt="">Russian</a></li>
                            </ul>
                        </div>

                        <!-- Nav End -->
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Welcome Area Start ##### -->
<section class="welcome_area clearfix auto-init  fullwidth" id="home" style="position:relative;">

    <!-- Hero Content -->
    <div class="hero-content transparent">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Welcome Content -->
                <div class="col-12 col-lg-5 col-md-12">
                    <div class="welcome-content " style="margin-top: -115px;">
                        <!--<div class="promo-section">
                            <div class="integration-link">
                                <div class="integration-icon">
                                    <p class="badge">Update</p>
                                </div>
                                <span class="integration-text">Travel Anywhere in the world with us!</span>
                            </div>
                        </div>-->
                        <h1 class="b-text bold wow fadeInUp" data-wow-delay="0.2s">
                            <span class="text-white" style="font-size: 26px;">
                                The Decentralised Payment for
                            </span>
                            <span style="font-size: 45px;color: #0c787c;">
                                E-Commerce
                            </span>
                            <span style="font-size:45px;" class="text-white">
                                Ecosystem
                            </span>
                        </h1>
                        <p class="wow fadeInUp" data-wow-delay="0.3s" style="font-size:15px; color:rgba(0,0,0,0.7);">
                            Tripsia Pay special infrastructure allows e-commerce and
                            service providers to standardize compensation programs
                            and expose the public to the cryptocurrency economy.
                            Tripsia Platform is completely transparent and provides
                            an interface that is easily accessible to the public. You can
                            easily and transparently enjoy small payments that occur
                            every day through Tripsia Touch and Pay.

                        </p>
                        <button class="btn text-white" type="button" style="border-radius:20px;background-color:#0c5a66;">
                            Whitepaper
                        </button>
                    </div>
                </div>
                <!-- Welcome Video Area -->
                <div class="col-12 col-lg-7 col-md-12">
                    <div class="main-ilustration main-ilustration-9 wow fadeInUp" style="" data-wow-delay="0.5s">

                    </div>
                </div>
            </div>
            <div id="store" class="row p-0 main-service" style="position: absolute;bottom: 102px;">

            <div
                    data-wow-duration="0.5s"
                    data-wow-delay="0.2s"
                    class="wow fadeInRightBig col-lg-6 col-md-6 col-sm-12 col-12" style="background-color: white; border-radius:5px;color:#0c5a66;">
                <div>

                    <!--<img src="{% static 'main/img/green.png' %}" alt="green area" class="" style="position:relative;">-->
                    <div class="w-75 pl-5" style="
                        text-align: left;">
                        <h2 class="pt-4 pl-3" style=font-size:22px;font-weight:bolder;">
                            Access My Wallet
                        </h2>
                        <p class="py-md-3 pl-3" style="font-size:13px;">
                            Send or check your TST and Tokens, purchase ENS domains, interact with
                            smart contracts, more!
                        </p>
                    </div>
                </div>
            </div>
            <div data-wow-duration="0.5s" data-wow-delay="0.2s" class="wow fadeInLeftBig col-lg-6 col-md-6 col-sm-12 col-12" style="background-color:#e3f5ef;">
                <div class="row pl-3 mx-0">

                    <div class="col-md-4 p-0 pt-md-4 pt-lg-4 pt-sm-0 offset-md-1 pl-md-4 col-4">
                        <a class="modal-opener wallet-box p-0 m-0 " data-id="#accessModal">
                            <div class="wallet-box-icon justify-content-center pt-3">
                                <img src="{% static 'main/images/wallet-icon.png' %}" alt="">
                            </div>
                            <div class="wallet-box-desc pb-4">
                                <p class="wallet-box-title f-semi f-15">MetaMask</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 p-0 pt-md-4 pt-lg-4 pt-sm-0 pl-sm-2 col-4">
                        <a class="modal-opener wallet-box p-0 m-0 " data-id="#keystoreModal">
                            <div class="wallet-box-icon justify-content-center pt-3">
                                <img src="{% static 'main/images/wallet-icon-3.png' %}" alt="">
                            </div>
                            <div class="wallet-box-desc pb-4">
                                <p class="wallet-box-title f-semi f-15">Keystore</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 p-0 pt-md-4 pt-lg-4 pt-sm-0 pl-md-3 col-4">
                        <a data-id="#privateKeyModal" class="modal-opener wallet-box p-0 m-0">
                            <div class="wallet-box-icon justify-content-center pt-3">
                                <img src="{% static 'main/images/wallet-icon-2.png' %}" alt="">
                            </div>
                            <div class="wallet-box-desc pb-4">
                                <p class="wallet-box-title f-semi f-15">Private Key</p>

                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        </div>

    </div>

    <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main service -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
    <!--end main service-->


</section>
<!-- ##### Welcome Area End ##### -->




<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start modal -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<div class="modal-wrap" id="accessModal">
    <div class="access-modal-box">
        <div class="access-modal-head">
            <h3 class="access-modal-title f-semi-2">Access by MetaMask</h3>
            <div class="access-modal-close-btn"><img src="{% static 'main/images/close-icn.png' %}" alt=""></div>
        </div>

        <div class="access-modal-bottom">
            <div class="access-modal-images">
                <div class="access-modal-img">
                    <div class="access-modal-wrap">
                        <img src="{% static 'main/images/access-foto-1.png' %}" alt="">
                    </div>
                </div>
                <div class="access-modal-img">
                    <div class="access-modal-wrap">
                        <img src="{% static 'main/images/access-foto-2.png' %}" alt="">
                    </div>
                </div>
            </div>
            <p class="access-modal-desc">
                Please use TripsiaTokenWallet on a secure <br>(SSL/HTTPS) connection to connect.
            </p>
            <div>
                <button type="submit" onclick="connectToMetaMask(10002);  "
                        class="disable-btn checking access-btn f-semi-2"
                        style="width: 225px; margin-left: auto; margin-right: auto;">
                    <h3 class="lh-50 f-18">Access My Wallet</h3>
                </button>
            </div>
            <p class="access-modal-check">
                <input type="checkbox" id="access">
                <label for="access">
                    <span class="check-icon"></span>
                    <span class="access-checkbox">To Access my Wallet, I accept <a
                            href="{% url 'tsp_termsconditions' %}"
                            class="link-col">Terms</a></span>
                </label>
            </p>

            <div class="access-modal-action-wrap">
                <div class="access-modal-action-wrap-item">
                    <a style="width: 200px"
                       href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en"
                       class="disable-btn on-hover-active fx-c">Download MetaMask for Chrome</a>
                </div>
                <div class="access-modal-action-wrap-item">
                    <button
                            style="width: 200px"
                            class="disable-btn on-hover-active">Download MetaMask for other browsers
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-wrap" id="keystoreModal">
    <div class="access-modal-box">
        <div class="access-modal-head">

            <h3 class="access-modal-title f-semi-2 f-20">Access by Keystore/ JSON File</h3>
            <div class="access-modal-close-btn"><img src="{% static 'main/images/close-icn.png' %}" alt=""></div>
        </div>

        <div class="access-modal-bottom">
            <form onsubmit="return false;">
                {% csrf_token %}
                <p class="access-modal-semi-title">
                    Selected File
                </p>
                {#      <input id="keystoreFile file" type="file" class="hidden">#}
                {#      <button#}
                {#        class="success-button access-modal-top-btn w-100 mb-25 f-semi-2 f-16 file-btn"><h4>Upload Keystore/ JSON#}
                {#        File</h4></button>#}
                <div class="form-gr form-group">
                    <label for="keystoreFile"
                           class="success-button access-modal-top-btn w-100 mb-25 f-semi-2 f-16 file-btn fx-c"><span
                            class="letter">Upload Keystore/ JSON File</span> </label>
                    <input type="file" id="keystoreFile" style="display: none;">
                </div>
                <p class="access-modal-desc">
                    If you must, please double-check the URL & SSL cert.
                    <br>
                    It should say <a href="https://token.tripsia.io" class="text-color">https://token.tripsia.io</a>
                    in your URL bar
                </p>
                <p class="access-modal-semi-title">
                    Enter a Keystore Password
                    <span class="cabinet-select-inf-text-error show-handler-txt error-txt">Passphrase given is incorrect!</span>
                </p>

                <div class="form-gr private-form-group">
                    <input type="password" id="walletPassword" value="{{ publicKey }}" class="inputEdit">
                    <button class="showing-password">
                        <img src="{% static 'main/images/eye-icon.png' %}" alt="">
                    </button>
                </div>
                <button type="submit"
                        style="max-width: none"
                        class="disable-btn w-100 access-modal-bottom-btn changeButton checking"
                        onclick="importWallet(1005)"
                        data-id="errorTxt">
                    <img src="{% static 'main/images/repeat-icon.png' %}" alt="">
                    <h3 class="lh-50 f-18">Access My Wallet</h3></button>
            </form>
        </div>
    </div>
</div>
<div class="modal-wrap" id="privateKeyModal">
    <div class="access-modal-box">
        <div class="access-modal-head">
            <h3 class="access-modal-title">Access by Private Key</h3>
            <div class="access-modal-close-btn"><img src="{% static 'main/images/close-icn.png' %}" alt=""></div>
        </div>

        <div class="access-modal-bottom">
            <p class="flex-text access-modal-semi-title">
                <span class="f-semi">Enter a Private Key</span>
                <span class="cabinet-select-inf-text-error show-handler-txt error-txt">Passphrase given is incorrect!</span>
            </p>
            <form action="" onsubmit="return false;">
                <div class="form-gr mb-25">
                    <input type="password" id="privateKey" class="inputEdit">
                </div>

                <p class="access-modal-desc">
                    If you must, please double-check the URL & SSL cert.
                    <br>
                    It should say <a href="https://token.tripsia.io" class="text-color">https://token.tripsia.io</a>
                    in your URL bar
                </p>

                <button onclick="importWalletByPrivateKey(10002);"
                        style="max-width: none"
                        class="disable-btn w-100 access-modal-bottom-btn changeButton checking">
                    <img src="{% static 'main/images/repeat-icon.png' %}" alt="">
                    <h3 class="lh-50 f-18">Access My Wallet</h3>
                </button>
            </form>
        </div>
    </div>
</div>

<div style="display: none;" class="modal-wrap">
    <div class="access-modal-box">
        <div class="access-modal-head">
            <h3 class="access-modal-title">Access by MetaMask</h3>
            <div class="access-modal-close-btn"><img src="{% static 'main/images/close-icn.png' %}" alt=""></div>
        </div>

        <div class="access-modal-bottom">
            <div class="access-modal-images">
                <div class="access-modal-img">
                    <div class="access-modal-wrap">
                        <img src="{% static 'main/images/access-foto-1.png' %}" alt="">
                    </div>
                </div>

                <div class="access-modal-wrap">
                    <img src="{% static 'main/images/access-foto-2.png' %}" alt="">
                </div>
            </div>
        </div>
        <p class="access-modal-desc">
            Please use AsiaTradingPayWallet on a secure (SSL/HTTPS) connection to connect.
        </p>
        <button
                style="
         max-width: 220px;"
                class="success-button access-modal-top-btn"><h3>Access My Wallet</h3></button>
        <p class="access-modal-check">
            <input type="checkbox" id="access">
            <label for="access">
                <span class="check-icon"></span>
                <span>To Access my Wallet, I accept <a href="{% url 'tsp_termsconditions' %}"
                                                       class="link-col">Terms</a></span>
            </label>
        </p>
        <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en"
           class="success-button access-modal-bottom-btn">Download MetaMask for Chrome</a>
        <button class="success-button access-modal-bottom-btn">Download MetaMask for other browsers</button>
    </div>

</div>
<!--end modal-->


<section class="regular-padding pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="who-we-contant">
                    <div class="dream-dots text-left wow fadeInUp" data-wow-delay="0.2s"
                         style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <img src="{% static 'main/img/svg/section-icon-3.svg' %}" alt="">
                    </div>
                    <h4 class="wow fadeInUp" data-wow-delay="0.3s">TSP Introduction</h4>
                    <p class="wow mb-4 fadeInUp" data-wow-delay="0.4s">
                        Tripsia aims to expand blockchain adoption to the general
                        public around the world by introducing Etherum Blockchain
                        in Tripsia Pay, a central battle towards a decentralized
                        payment ecosystem. We are the first company in the world
                        to combine the benefits of the electronic transaction and
                        payment industry, and to offer the E-Commerce Marketplace,
                        Touch & Pay Cryptoccurrence Card, Online Cryptocrity Pay,
                        and End to End Solution for Unified Reward System.
                        Tripsia Pay's goal is for everyone to conveniently pay for
                        their travel packages online and offline.
                    </p>
                    <span class="wow fadeInUp link-col f-semi" data-wow-delay="0.6s" href="#">Try it with
            Tripsia!</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="welcome-video-area fadeInUp" data-wow-delay="0.5s">
                    <!-- Welcome Thumbnail -->
                    <div class="welcome-thumb">
                        <div class="welcome-thumb-dots">
                            <span></span><span></span><span></span>
                        </div>
                        <img src="{% static 'main/images/video-bg.png' %}" alt="">
                    </div>
                    <!-- Video Icon -->
                    <div class="video-icon">
                        <a href="https://www.youtube.com/watch?v=gbXEPHsTkgU" class="btn dream-btn video-btn"
                           id="videobtn"><i
                                class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= pb-0 start main About-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<section class="section-padding-100-0 pb-0">
    <div class="container">
        <div class="row main-about justify-content-between">
            <div class="col-lg-12 col-md-12">
                <img class="img-fluid" src="{% static 'main/img/tsp-dgrm.png' %}" alt="" style="width: 100%;">
            </div>
            <!--<div class="col-lg-5">
                <div class="main-about-box">
                    <div class="main-about-head" id="about">
                        <span class="main-about-title">Mobile Payment System</span>
                    </div>
                    <div class="main-about-content">
                        <p class="main-about-decs">
                            Our payment system is convenient and safe
                            based on patented technology. Mobile
                            payments are easy to pay from anywhere in
                            the world. It includes all payment solutions
                            related to travel, all information is stored on
                            a trusted blockchain.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="main-about-box">
                    <div class="main-about-head">
                        <span class="main-about-title">FOR Distributor</span>
                    </div>
                    <div class="main-about-content">
                        <p class="main-about-decs">
                            Travel Distributors can receive precise data
                            about travel through Tripsia's platform.
                            Through use patterns, symbols and information on
                            travelers, specific, valuefriendly travel packages
                            can be planned and developed.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="main-about-box">
                    <div class="main-about-head">
                        <span class="main-about-title">FOR Service Provider</span>
                    </div>
                    <div class="main-about-content">
                        <p class="main-about-decs">
                            Actual travel service provider can receive due
                            compensation, and can easily utilize the data of
                            tripsia to plan, register and market products.
                            In addition, a transparent and reliable service
                            process can be viewed through the payment
                            system for all travel packages.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="main-about-box">
                    <div class="main-about-head">
                        <span class="main-about-title">FOR Traveler</span>
                    </div>
                    <div class="main-about-content">
                        <p class="main-about-decs">
                            It solves only limited travel information through
                            some of the big travel agencies, which are problems
                            that we are experiencing so far. This allows you to get
                            real travel information and enjoy a truly high-quality,
                            low-cost trip through a transparent structure.
                        </p>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section><!--start main About-->


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main token-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<section class="section-padding-100-0 main-4">
    <div class="container main-token">
        <div class="section-heading text-center pt-5">
            <!-- Dream Dots -->
            <div class="dream-dots pt-5 justify-content-center fadeInUp" data-wow-delay="0.2s">
                <img src="{% static 'main/img/svg/section-icon-4.svg' %}" alt="">
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s">Tripsia Pay Ecosystem</h2>
            <p class="fadeInUp main-token-desc f-15" data-wow-delay="0.4s">From the time it was designed from the start,
                Tripsia Pay ecosystem has been delicately established to provide users
                with confidence in blockchain transactions. For a wide range of users, it is a way to interact with
                customers and brands of reliability and
                mutual benefit without restrictions, and the process is built on Ethereum, which provides infinite
                scalability and effectiveness.
            </p>

            <div class="main-token-img">
                <img src="{% static 'main/img/tsp-ecoSystem.png' %}" alt="">
            </div>
        </div>
    </div>
</section><!--end main token-->
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main token-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<section class="section-padding-100-0">
    <div class="container main-token">
        <!--<div class="section-heading text-center">
            //dreamDots
            <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                <img src="{% static 'main/img/svg/section-icon-5.svg' %}" alt="">
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s">Tripsia POI Mining is</h2>
            <p class="main-token-desc fadeInUp f-15" data-wow-delay="0.4s">tripsia POI Mining system offers many
                benefits to participants who play
                an important role in the ecosystem. The more people who
                engage in travel or enjoy traveling, the more rewards they make, the more they treat people who play
                positive
                roles in the real
                ecosystem. In addition, all these processes are automated mining systems by A.I Logic, which support
                thorough
                transparency and
                reliability because they are in a way that humans cannot intervene. Also, the more TSTs you have, the
                greater
                the rewards you get.</p>

            <div class="main-token-img">
                <img src="{% static 'main/img/page-5.png' %}" alt="">
            </div>
        </div>-->
        <div class="row section-heading text-left">
            <div class="col-lg-6 col-md-6">
                <h2 class="fadeInUp" data-wow-delay="0.3s">
                    Introduction
                </h2>
                <p class="main-token-desc fadeInUp f-15" data-wow-delay="0.4s">
                    Goods will be supplied from all parts of the world through the
                    Tripsia distributed error system. Ecosystem participants
                    anywhere in the world will purchase and sell in a peer-to-peer
                    manner. Therefore, participants have access to all tangible
                    items in the Tripsia market. And any seller is free to sell a
                    wide variety of products, which will provide a platform-level
                    transaction environment for large companies.
                    <br/><br/>
                    The flexibility offered by Tripsia e-commerce market place
                    allows participants to be free to act beyond sales and purchases.
                    <br/><br/>
                    Through the Royalty Program, people will be rewarded for
                    various participation. With the Tripsia distributed driver
                    ystem, all sellers and consumers, regardless of their location,
                    will be able to meet most of the needs of their business.
                    This range of markets around the world provides an immediate
                    and effective contact point for customers around the world
                    eliminating transaction overhead (management and fees).
                    All of these processes are implemented in a transparent and
                    effective manner based on ERC 1155.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 main-token-img pt-0 pb-2 px-3">
                <img class="w-75" src="{% static 'main/img/vector-smart-object-1.png' %}" alt="">
            </div>
        </div>
    </div>
</section><!--end main token-->


<!-- ##### Our Services Area Start ##### -->
<section class="our_services_area section-padding-100-0 clearfix" id="services">
    <div class="container">

        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                <img src="{% static 'main/img/svg/section-icon-1.svg' %}" alt="">
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s">Tripsia Pay characteristic</h2>
            <p class="fadeInUp" data-wow-delay="0.4s">Tripsia Pay will be a revolutionary cryptocurrency for E-commerce
                and payment
                systems to ensure optimal satisfaction to sellers and consumers.</p>
        </div>


        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.2s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="{% static 'main/img/main-service-icon-1.png' %}" alt="">
                    </div>
                    <h6>Unified Reward System</h6>
                    <p>
                        We will combine all sales entities to provide
                        an unprecedented opportunity to unleash
                        the full potential of the reward
                        program through an infinite customer base
                        and the rewards offered.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="{% static 'main/img/main-service-icon-2.png' %}" alt="">
                    </div>
                    <h6>Peer-to-Peer</h6>
                    <p>Tripsia Pay Platform provides a peer-to-peer
                        transaction environment that provides users
                        with the opportunity to engage in direct
                        exchange of goods and services.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.4s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="{% static 'main/img/main-service-icon-3.png' %}" alt="">
                    </div>
                    <h6>Proof of Delivery & Service</h6>
                    <p>Tripsia E-marketplace leverages smart
                        contracts to ensure fast, safe delivery and
                        system reliability of the exchange of goods
                        with Tripsia Pay. It provides a secure escrow
                        transaction environment
                        for both parties. Tooth</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.5s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="{% static 'main/img/main-service-icon-4.png' %}" alt="">
                    </div>
                    <h6>Exchanges Integration</h6>
                    <p>Through the integration of the Tripsia Platform
                        with the exchange, users can exchange Tripsia
                        Pay conveniently for other cryptocurrency
                        exchanges. It is also possible to exchange
                        other cryptocurrency bills with Tripsia Pay.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.6s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="{% static 'main/img/main-service-icon-5.png' %}" alt="">
                    </div>
                    <h6>Banking System Integration</h6>
                    <p>The seamless banking system integrated
                        into the Tripsia Platform will allow customers
                        to purchase Tripsia Pay using a connected
                        bank account. In addition, participants in the
                        ecosystem will be able to exchange Tripsia
                        Pay for legal currency.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.7s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="{% static 'main/img/main-service-icon-6.png' %}" alt="">
                    </div>
                    <h6>Open API Platform</h6>
                    <p>With the Tripsia Pay Open API Platform, users
                        do not need to know any form of programming
                        code or language to use the system.
                        It's designed for simple installation.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ##### Blog Area Start ##### -->
<section
        style="background-image: url({% static 'main/img/bg-7.png' %});
                background-repeat: no-repeat;
                background-size:cover;"
        class="our_blog_area clearfix section-padding-100-0" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <!-- Dream Dots -->
                    <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <img src="{% static 'main/img/svg/section-icon-1.svg' %}" alt="">
                    </div>
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">News</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s"> Tripsia news to open the world. </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <!-- Single Blog Post -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Post Thumbnail -->
                    <div class="blog_thumbnail">
                        <img src="{% static 'main/img/blog-img/1.jpg' %}" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="blog-content">
                        <!-- Dream Dots -->
                        <a href="" class="post-title">
                            <h4>Tripsia Pay wii upload on Web</h4>
                        </a>
                        <p>Tripsia Pay wii upload on Web, Tripsia Pay wii upload on
                            Web, Tripsia Pay wii upload on Web, Tripsia Pay wii upload
                            on Web, Tripsia Pay wii upload on Web, Tripsia Pay wii
                            upload on Web,Tripsia Pay wii upload on Web, Tripsia Pay
                            wii upload on Web, Tripsia Pay wii upload on Web, Tripsia
                            Pay wii upload on Web,Tripsia Pay wii upload on Web, ...¬</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Post Thumbnail -->
                    <div class="blog_thumbnail">
                        <img src="{% static 'main/img/blog-img/2.jpg' %}" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="blog-content">
                        <!-- Dream Dots -->
                        <a href="" class="post-title">
                            <h4>Tripsia Pay wii upload on Web</h4>
                        </a>
                        <p>Tripsia Pay wii upload on Web, Tripsia Pay wii upload on
                            Web, Tripsia Pay wii upload on Web, Tripsia Pay wii upload
                            on Web, Tripsia Pay wii upload on Web, Tripsia Pay wii
                            upload on Web,Tripsia Pay wii upload on Web, Tripsia Pay
                            wii upload on Web, Tripsia Pay wii upload on Web, Tripsia
                            Pay wii upload on Web,Tripsia Pay wii upload on Web, ...¬</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Post Thumbnail -->
                    <div class="blog_thumbnail">
                        <img src="{% static 'main/img/blog-img/3.jpg' %}" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="blog-content">
                        <!-- Dream Dots -->
                        <a href="" class="post-title">
                            <h4>Tripsia Pay wii upload on Web</h4>
                        </a>
                        <p>Tripsia Pay wii upload on Web, Tripsia Pay wii upload on
                            Web, Tripsia Pay wii upload on Web, Tripsia Pay wii upload
                            on Web, Tripsia Pay wii upload on Web, Tripsia Pay wii
                            upload on Web,Tripsia Pay wii upload on Web, Tripsia Pay
                            wii upload on Web, Tripsia Pay wii upload on Web, Tripsia
                            Pay wii upload on Web,Tripsia Pay wii upload on Web, ...¬</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ##### Our features Area start ##### -->
<section class="features section-padding-100" style="
            background-image:url('{% static 'main/img/bg-7.png' %}');
            background-repeat:no-repeat;
            background-size:cover;">
    <div class="container">
        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <img src="{% static 'main/img/icon-soc.png' %}" alt="">
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Tripsia Card - Touch & Pay</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="services-column col-lg-5 col-lg-offset-1 col-md-10 offset-md-1 col-xs-10 offset-xs-1">

                <!--Services Block Four-->
                <div class="services-block-four">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="{% static 'main/img/icon-soc.png' %}" alt="">
                        </div>
                        <h3><a href="#">Step 1</a></h3>
                        <div
                                class="text">The seller uses the Tripsia Card Reader Mobile App to conduct
the Tripsia Car Payment.
                        </div>

                    </div>
                </div>

                <!--Services Block Four-->
                <div class="services-block-four">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="{% static 'main/img/icon-check.png' %}" alt="">
                        </div>
                        <h3><a href="#">Step 2</a></h3>
                        <div
                                class="text">Seller is provided with a payment system for Standard
Visa or Master Card.7
                        </div>
                    </div>
                </div>

                <!--Services Block Four-->
                <div class="services-block-four" style="margin-bottom:0">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="{% static 'main/img/icon-reboot.png' %}" alt="">
                        </div>
                        <h3><a href="#">Step 3</a></h3>
                        <div
                                class="text">Seller accepts Tripsia Card Payment via Trippsia Card
Readr Hardware.

                        </div>
                    </div>
                </div>

            </div>
            <div class="service-img-wrapper col-lg-6 col-md-12 col-sm-12" >
                <div class="image-box pt-4" style="background-image:url('{% static 'main/img/circle1.png' %}');
                                        background-repeat:no-repeat;
                                        background-size:contain;
                                        background-position: center">
                    <img src="{% static 'main/img/creditCard.png' %}" class="center-block img-responsive phone-img" alt="">#}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Our features Area End ##### -->


<section class="partners section-padding-100-0 ">
    <div class="container pt-0">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <img src="{% static 'main/img/svg/section-icon-3.svg' %}" alt="">
                    </div>
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Our Partner</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Tripsia news to open the world. </p>
                </div>
            </div>
        </div>
    </div>
    <div style="padding:50px 0 70px;overflow:hidden">
        <div class="client-logo-row">
            <div class="client-logo"><img src="{% static 'main/img/clients/1.png' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/2.png' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/3.svg' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/4.png' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/5.svg' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/6.svg' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/7.svg' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/8.png' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/9.png' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/10.png' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/11.png' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/12.png' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/13.png' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/14.png' %}" alt=""></div>
            <div class="client-logo"><img src="{% static 'main/img/clients/15.png' %}" alt=""></div>
        </div>
    </div>

</section>

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start footer -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<footer class="regular-padding footer wh-col" style="background-image:url('{% static 'main/img/rectangle.png' %}');
        background-size:cover;background-repeat:no-repeat;">
    <div class="container">
        <div class="row equal-offsets text-center text-sm-left" style="padding:0;">
            <div class="col-lg-4">
                <div class="footer-logo">
                    <img src="{% static 'main/img/tspLogo.png' %}" alt="">
                </div>
                <div class="footer-desc txt-editor">
                    <p class="wh-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                        ducimus voluptatibus neque illo id repellat quisquam? Autem
                        expedita earum quae laborum ipsum ad, a eaque officiis
                        eligendi blanditiis odio necessitatibus.</p>
                </div>
                <ul class="footer-sotsial justify-content-center justify-content-sm-start">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1">
                <p class="footer-navigate-title wh-col">NAVIGATE</p>
                <ul class="footer-navigate">
                    <li><a href="">Advertisers</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href=" ">Company</a></li>
                    <li><a href="">Connect</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <p class="footer-navigate-title wh-col">PRIVACY & TOS</p>
                <ul class="footer-navigate">
                    <li><a href="/termsconditions/">Advertiser Agreement</a></li>
                    <li><a href="">Acceptable Use Policy</a></li>
                    <li><a href="/privacypolicy/">Privacy Policy</a></li>
                    <li><a href="">Technology Privacy</a></li>
                    <li><a href="">Developer Agreement</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 footer-inf-txt">
                <p class="footer-navigate-title wh-col" style="font-weight: bold!important;">
                    CONTACT US</p>
                <p class="wh-col">Mailing Address:xx00</p>
                <p class="wh-col">Suite 1100. Denver</p>
                <p class="wh-col">+999 90932 627</p>
                <p class="wh-col">support@tripsia.io</p>
            </div>
        </div>
    </div>
</footer><!--end footer-->
<!-- ########## All JS ########## -->
<!-- jQuery js -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'main/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'main/js/plugins.js' %}"></script>
<!-- Parallax js -->
<script src="{% static 'main/js/dzsparallaxer.js' %}"></script>

<script src="{% static 'main/js/jquery.syotimer.min.js' %}"></script>

<script src="{% static 'main/js/tsp_common.js' %}"></script>

<!-- script js -->
<script src="{% static 'main/js/script.js' %}"></script>

<!-- trpsia js -->
<script src="{% static 'main/js/base.js' %}"></script>
<script src="{% static 'main/js/ehterWalletManager.js' %}"></script>

</body>

</html>
