{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--font from googlefont-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <!--font from googlefont-->

    <!--style-->
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}"> <!--style-->

    <style>

        .cabinet__refresh__btn {
            background: #edf6fb;
            padding: 2px 5px;
            display: inline-flex;
            align-items: center;
        }

        .cabinet__refresh__btn img {
            width: 18px;
            height: 18px;
        }
        .cabinet-head-box{
            height: 150px!important;
        }

        .jus-con-end {
            justify-content: flex-end;
        }

        .ml-50 {
            margin-left: 50px;
        }

        .cabinet-head-box-icon {
            border-radius: 0 !important;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <title>Tripsia</title>
    <script type="text/javascript">

        var publicKey = $('#publicKeyValue').text();

        new QRCode(document.getElementById("publickKeyQr"), publicKey);

        var privateKey = $('#privateKeyValue').text();

        new QRCode(document.getElementById("privateKeyQr"), privateKey);


        function downloadPageAsImage() {
            var node = document.getElementById('walletNode');
            domtoimage.toJpeg(node, {quality: 0.95})
                .then(function (dataUrl) {
                    var link = document.createElement('a');
                    link.download = "tripsia" + '.jpeg';
                    link.href = dataUrl;
                    link.click();
                });
        }

    </script>

</head>
<body>


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start header -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->


<header class="header-area header-area-white header-area-white wow fadeInDown" data-wow-delay="0.2s">
    <div class="light classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="dreamNav">

                <!-- Logo -->
                <a class="nav-brand" href="{% url 'tsp_index' %}#home"><img src="{% static 'main/img/logo-tsp-2.png' %}"
                                                                            alt="logo"></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li><a href="{% url 'tsp_index' %}#home">Home</a></li>
                            <li><a href="{% url 'tsp_index' %}#about">About us</a></li>
                            <li><a href="{% url 'tsp_index' %}#roadmap">Roadmap</a></li>
                            <li><a href="{% url 'tsp_index' %}#team">API</a></li>
                        </ul>

                        <!-- Button -->
                        <div class="auth">
                            <div class="auth-item">
                            </div>
                            <div class="auth-item">
                                <div class="auth-desc">
                                    <span class="">{{ user.username }}</span>
                                </div>
                            </div>
                            <div class="auth-popup">
                                <ul>
                                    {#                  <li><a href="{% url 'walletcreate' %}">New Wallet</a></li>#}
                                    <li><a href="{% url 'walletaccess' %}">Access</a></li>
                                    <li><a href="{% url 'tstAccount:logout' %}">Log out</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="header-lang-wrap pos-r text-center">
                            <p class="lang-opener"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt=""></p>
                            <ul class="lang justify-content-center justify-content-lg-left">
                                <li><a href="index.html"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt="">English</a>
                                </li>
                                <li><a href="indexRU.html"><img src="{% static 'main/img/russian-flag-icon.jpg' %}"
                                                                alt="">Russian</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<main class="main-page cabinet">
    <div class="cabinet-wrap">
        <div class="cabinet-head mb-30" >
            <div class="container">
                <div class="row equal-offsets">
                    <div class="col-xl-4">
                        <div class="cabinet-head-box">
                            <div class="cabinet-head-box-icon" style="border-radius: 50%!important ">
                                <img src="{% static 'main/images/cabinet-head-icon.png' %}" alt="">
                            </div>
                            <div class="cabinet-head-box-content">
                                <p id="user_email" style="visibility: hidden">{{ user.email }}</p>
                                <p class="cabinet-head-box-title f-semi">
                                    Address
                                </p>
                                <div class="cabinet-head-box-desc">
                                    <p id="wallet_adress" class="f-13 f-light mb-2 token-long">{{ publicKey }}</p>
                                </div>
                                {#                <p class="f-11 copy-text-out-modal mb-2 link-col">Copy is completed</p>#}
                                <div class="cabinet-head-box-images">
                                    <a class="modal-opener cabinet-head-box-img" data-id="#qrCodeModal">
                                        <img src="{% static 'main/images/qr-code.png' %}" alt="">
                                    </a>
                                    <a class="cur-p cabinet-head-box-img" id="printWindow">
                                        <img src="{% static 'main/images/print-icon.png' %}" alt="">
                                    </a>
                                    <div class="cabinet-head-box-img cur-p copy-list-text">
                                        <img src="{% static 'main/images/list-icon.png' %}" alt="">
                                    </div>
                                </div>
                                <p class="f-11 copy-text-out-modal mb-2 link-col">Copy is completed</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="cabinet-head-box pl-0">
                            <div class="cabinet-head-box-icon" style="border-radius:50%!important;">
                                <img src="{% static 'main/images/cabinet-head-icon.png' %}" alt="">
                            </div>
                            <div class="cabinet-head-box-content pl-2">
                                <p id="user_email" style="visibility: hidden">{{ user.email }}</p>
                                <p class="cabinet-head-box-title f-semi pt-2">
                                    Balance
                                </p>
                                <div class="cabinet-head-box-desc">
                                    <p id="tsp_balance" class="f-13 f-light mb-2"></p>
                                </div>
                                <div class="cabinet-head-box-desc col-9 pl-0" onclick="getTspBalance();">
                                    <div class="refresh-btn cur-p">
                                        <img src="/static/main/img/refresh-btn.png" alt="">
                                    </div>
                                </div>

                                {#                <p class="f-11 copy-text-out-modal mb-2 link-col">Copy is completed</p>#}
                                <div class="cabinet-head-box-images" style="visibility: hidden">
                                    <a class="modal-opener cabinet-head-box-img" data-id="#qrCodeModal">
                                        <img src="{% static 'main/images/qr-code.png' %}" alt="">
                                    </a>
                                    <a class="cur-p cabinet-head-box-img" id="printWindow">
                                        <img src="{% static 'main/images/print-icon.png' %}" alt="">
                                    </a>
                                    <div class="cabinet-head-box-img cur-p copy-list-text">
                                        <img src="{% static 'main/images/list-icon.png' %}" alt="">
                                    </div>
                                </div>
                                <p class="f-11 copy-text-out-modal mb-2 link-col">Copy is completed</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div
                                style="background-image: url('{% static 'main/images/head-box-bg.png' %}');
                                        -webkit-background-size: 110%;background-size: 140%;
                                        background-repeat:no-repeat;"
                                class="cabinet-head-box">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="cabinet-middle">
            <div class="container">
                <div class="cabinet-middle-box">
                    <div class="cabinet-middle-box-head mb-25">
                        <span class="cabinet-middle-box-head-title f-semi" data-id="send">Send</span>
                        <span class="cabinet-middle-box-head-title f-semi box-title-disable"
                              data-id="test">Check Status</span>
                    </div>

                    <div class="cabinet-middle-box-btm" id="send">
                        <form action="">
                            <div class="row align-items-center equal-offsets justify-content-center">
                                <div class="col-lg-5">
                                    <p class="f-semi mb-18 cabinet-select-inf-text-paragraph">Type</p>
                                    <select class="cabinet-select" name="" id="">
                                        <option value="">TSP – Tripsia Pay</option>
                                        <option value="">PAY – None</option>
                                    </select>
                                </div>
                                <div class="col-lg-5">
                                    <div class="f-semi mb-18 cabinet-select-inf-text">
                                        <div class="cabinet-select-inf-text-item">Amount</div>
                                        <div class="cabinet-select-inf-text-item">
                                            <span class="error-col cabinet-select-inf-text-error show-handler-txt"
                                                  id="amountErrTxt">Not enough</span>
                                            <button class="showHandlerTextInform" data-id="#amountErrTxt">Entire
                                                Balance
                                            </button>
                                        </div>
                                    </div>
                                    <input id="tspAmount" type="text" class="cabinet-select" placeholder="0">
                                </div>
                                <div class="col-md-10">
                                    <p class="f-semi mb-18">To Address</p>
                                    <input id="toAddress" class="cabinet-select"
                                           placeholder="0xc1F2190A19F14Cc5e1659e207842E705dDBBcC80" type="text">
                                </div>
                                <div class="col-md-10">
                                    <p class="f-semi">Advanced</p>
                                </div>
                                <div class="col-12 padding-0"></div>
                                <div class="col-md-2"><p>Add Data</p></div>
                                <div class="col-md-8">
                                    <input type="text" class="cabinet-select"
                                           placeholder="Add Data (e.g. 0xc1F2190A19F14Cc5sdsd )">
                                </div>
                                <div
                                        style="padding: 0;"
                                        class="col-12"></div>
                                <div class="col-md-2"><p>Gas Limit</p></div>
                                <div class="col-md-8">
                                    <input type="text" class="cabinet-select" placeholder="1000+">
                                </div>
                                <div class="col-md-10 text-center"  >

                                    <button onclick="sendTSP();" type="submit"
                                            class="transaction-btn transaction-butt success-button cabinet-action-btn f-semi f-17">
                                        Send
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="cabinet-middle-box-btm" id="test">
                        <form action="">
                            <div class="row align-items-center equal-offsets justify-content-center">
                                <div class="col-lg-10">
                                    {#                  <p class="f-semi mb-10 cabinet-select-inf-text-paragraph">Check TX Status</p>#}
                                    <p class="mb-18 cabinet-check-status">During times of high volume (like during ICOs)
                                        transactions can
                                        be pending for hours, if not days. This tool aims to give you the ability to
                                        find and "cancel" /
                                        replace these TXs. This is not typically something you can do. It should not be
                                        relied upon & will
                                        only work when the TX Pools are full.</p>
                                    <input id="txHashValue" class="cabinet-select" style="background: #fff" type="text">
                                </div>
                                <div class="col-md-10 text-center">
                                    <button onclick="checkTxHash();" type="submit"
                                            class="transaction-btn transaction-butt cabinet-action-btn disable-btn f-semi f-17">
                                        Check TX Status
                                    </button>
                                </div>

                            </div>
                            <div class="transaction-window">
                                <div class="row align-items-center   equal-offsets justify-content-center">
                                    <div class="col-md-10">
                                        <p class="f-semi">Transaction Result</p>
                                    </div>
                                    <div class="col-12 padding-0"></div>
                                    <div class="col-md-2"><p class="text-right text-vertical">Tx Hash</p></div>
                                    <div class="col-md-8 form-gr f-16">
                                        <h5 type="text" class="cabinet-select in-input" id="txHashLabel" readonly></h5>
                                    </div>
                                    <div class="col-12 padding-0"></div>
                                    <div class="col-md-2"><p class="text-right text-vertical">From Address</p></div>
                                    <div class="col-md-8 form-gr f-16">
                                        <h5 type="text" class="cabinet-select in-input" id="fromLabel" readonly></h5>
                                    </div>
                                    <div class="col-12 padding-0"></div>
                                    <div class="col-md-2"><p class="text-right text-vertical">To Address</p></div>
                                    <div class="col-md-8 form-gr f-16">
                                        <h5 type="text" class="cabinet-select in-input" id="toLabel" readonly></h5>
                                    </div>
                                    <div class="col-12 padding-0"></div>
                                    <div class="col-md-2"><p class="text-right text-vertical">Amount</p></div>
                                    <div class="col-md-3 form-gr f-16">
                                        <h5 type="text" class="cabinet-select in-input" id="amountLabel" readonly></h5>
                                    </div>
                                    <div class="col-md-2"><p class="text-right text-vertical">Nonce</p></div>
                                    <div class="col-md-3 form-gr f-16">
                                        <h5 type="text" class="cabinet-select in-input" id="nonceLabel" readonly></h5>
                                    </div>
                                    <div class="col-12 padding-0"></div>
                                    <div class="col-md-2"><p class="text-right text-vertical">Gas Limit</p></div>
                                    <div class="col-md-3 form-gr f-16">
                                        <h5 type="text" class="cabinet-select in-input" id="limitLabel" readonly></h5>
                                    </div>
                                    <div class="col-md-2"><p class="text-right text-vertical">Gas Price</p></div>
                                    <div class="col-md-3 form-gr f-16">
                                        <h5 type="text" class="cabinet-select in-input" id="priceLabel" readonly></h5>
                                    </div>
                                    <div class="col-md-10 text-center">
                                        <a id="viewInEtherScan"
                                           class="lh-50 cabinet-action-btn success-button f-semi f-17">View in EtherScan
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start footer -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<footer class="regular-padding footer wh-col">
    <div class="container">
        <div class="row equal-offsets text-center text-sm-left">
            <div class="col-lg-4">
                <div class="footer-logo">
                    <img src="{% static 'main/images/logo.png' %}" alt="">
                </div>
                <div class="footer-desc txt-editor">
                    <p class="wh-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                        ducimus voluptatibus neque illo id repellat quisquam? Autem
                        expedita earum quae laborum ipsum ad, a eaque officiis
                        eligendi blanditiis odio necessitatibus.</p>
                </div>
                <ul class="footer-sotsial justify-content-center justify-content-sm-start">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1">
                <p class="footer-navigate-title">NAVIGATE</p>
                <ul class="footer-navigate">
                    <li><a href="">Advertisers</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href=" ">Company</a></li>
                    <li><a href="">Connect</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <p class="footer-navigate-title">PRIVACY & TOS</p>
                <ul class="footer-navigate">
                    <li><a href="terms.html">Advertiser Agreement</a></li>
                    <li><a href="">Acceptable Use Policy</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                    <li><a href="">Technology Privacy</a></li>
                    <li><a href="">Developer Agreement</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 footer-inf-txt">
                <p class="footer-navigate-title wh-col" style="font-weight: bold!important;">
                    CONTACT US</p>
                <p class="wh-col">Mailing Address:xx00</p>
                <p class="wh-col">Suite 1100. Denver</p>
                <p class="wh-col">+999 90932 627</p>
                <p class="wh-col">support@tripsia.io</p>
            </div>
        </div>
    </div>
</footer><!--end footer-->


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start modal -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->

<div id="qrCodeModal" class="modal-wrap">
    <div class="access-modal-box qr-code-modal">
        <div class="access-modal-head qr-code-modal-head">
            <h3 class="access-modal-title">Address</h3>
            <div class="access-modal-close-btn"><img src="{% static 'main/images/close-icn.png' %}" alt=""></div>
        </div>
        <div class="access-modal-bottom qr-code-modal-bottom">
            <div id="publickKeyQr" class="qr-code-modal-img">
                {#        <img src="{% static 'main/images/qr-code-1.png' %}" alt="">#}
            </div>
            <div class="qr-code-modal-desc">
                <p id="publicKeyValue" class="f-14 copy-text">{{ publicKey }}</p>
            </div>
            <button class="success-button w-100 f-semi qr-code-modal-action-btn">Copy</button>
            <p class="text-right text-copied link-col">Copy is completed</p>
        </div>
    </div>
</div>
<!--end modal-->
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= scripts -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<!-- jQuery js -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'main/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'main/js/plugins.js' %}"></script>
<!-- Parallax js -->
<script src="{% static 'main/js/dzsparallaxer.js' %}"></script>

<script src="{% static 'main/js/jquery.syotimer.min.js' %}"></script>

<script src="{% static 'main/js/tsp_common.js' %}"></script>

<!-- script js -->
<script src="{% static 'main/js/base.js' %}"></script>
<script src="{% static 'main/js/script.js' %}"></script>
<script src="{% static 'main/js/qrcode.min.js' %}"></script>
<script src="{% static 'main/js/ehterWalletManager.js' %}?ver=2000"></script>

<script src="{% static 'main/js/web3.min.js' %}"></script>
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= scripts -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->


</body>
</html>
