{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--font from googlefont-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <!--font from googlefont-->


  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}">

  <!-- Responsive Stylesheet -->
  <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">

    <title>TRIPSIA</title>
</head>
<body>
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start header -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->

<!-- ##### Header Area Start ##### -->
<header class="header-area wow fadeInDown in-inner-page" data-wow-delay="0.2s">
    <div class="light classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="dreamNav">

                <!-- Logo -->
                <a class="nav-brand" href="{% url 'tsp_index' %}#home"><img src="{% static 'main/img/logo-w.png' %}" alt="logo"></a>


                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                        <ul id="nav">
                            <li><a href="{% url 'tsp_index' %}#home">Home</a></li>
                            <li><a href="{% url 'tsp_index' %}#about">About us</a></li>
                            <li><a href="{% url 'tsp_index' %}#roadmap">Roadmap</a></li>
                            <li><a href="{% url 'tsp_index' %}#team">API</a></li>
                        </ul>

                        <!-- Button -->
                        <div class="header-account-wrap">
                            <a href="{% url 'tstAccount:get_login' %}" class="btn login-btn ml-10">Login</a>
                     <a href="{% url 'tstAccount:get_signup'%}" class="btn login-btn ml-10">Signup</a>
                        </div>

                        <div class="header-lang-wrap pos-r text-center">
                            <p class="lang-opener"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt=""></p>
                            <ul class="lang justify-content-center justify-content-lg-left">
                                <li><a href="indexRU.html"><img src="{% static 'main/img/russian-flag-icon.jpg' %}" alt="">Russian</a></li>
                                <li><a href="index.html"><img src="{% static 'main/img/usa-flag-icon.jpg' %}" alt="">English</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->


<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start main -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<main
        style="padding-bottom: 0;"
        class="regular-padding main-page">
    <div class="container">
        <div class="privacy-box">
            <h2 class="privacy-box-title text-center">TRIPSIA Privacy Policy</h2>
            <p class="privacy-box-date">-Last updated: April 1, 2019-</p>
            <div class="txt-editor privacy-box-content">
                <p>
                    TRIPSIA is a global digital Hwafé comprehensive trading platform. For the convenience of expression
                    in this
                    Agreement, we and the site are referred to as this Platform or Platform in this Agreement. All
                    natural persons
                    or other entities who log in to the platform are users of this platform and are referred to as "you"
                    or other
                    persons in the following terms for convenience in the representations of this Agreement. For the
                    convenience
                    of expression in this Agreement, we and you are collectively referred to as "the two parties" and we
                    or you are
                    unilaterally called "one party."

                </p>
                <p>
                    This platform considers and protects the privacy and rights of all members who use the platform's
                    Internet
                    service very important. This platform uses or discloses the members' personal information in
                    accordance
                    with the provisions of this Privacy Policy. Agreeing to the terms and conditions of this platform is
                    provided
                    that you have agreed to all the contents of this Privacy Policy. This Privacy Policy is part of the
                    service contract
                    that cannot be divided. We have the right to revise our privacy policy from time to time. We will
                    notify you
                    of any amendments to the Privacy Statement in the form of updating or disclosing the effective date
                    of the
                    new version of the Privacy Policy and highlight any changes that have been made. In some cases, we
                    notify
                    you of any changes to our Privacy Policy, but this is not our obligation. You should regularly check
                    your privacy
                    policy and check your corrections. If you do not agree with the amendment, you must discontinue your
                    access
                    to this site immediately. When an updated version of the Privacy Policy is released, your continued
                    access to
                    this Site means that you agree with the update and comply with the updated Privacy Policy.

                </p>
            </div>
            <br>
            <br>
            <br>
            <div class="txt-editor privacy-box-content">
                <h2 class="privacy-box-content-title">1. Collection Information and Use</h2>
                <p>(1) When registering a platform account, provide identification and service information according to
                    the
                    platform requirements. Identity information will help you verify that you are eligible to register
                    as a member
                    of this platform, including your name, address of residence, other certificates issued by your
                    country or
                    government that certify your identity. The service information will help you contact and serve you,
                    including
                    your phone number, your email address, and other account information.
                </p>
                <p>
                    (2) When using a platform, you must identify the platform and collect identification documents from the
                    platform to comply with global industry regulatory standards such as anti-money laundering (AML), user
                    understanding (KYC), and anti-terrorism financing (CTF). This rule applies to both personal and corporate
                </p>
            </div>
            <p></p>
        </div>
    </div>
</main> <!--end main-->

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= start footer -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<footer class="regular-padding footer wh-col">
    <div class="container">
        <div class="row equal-offsets text-center text-sm-left">
            <div class="col-lg-4">
                <div class="footer-logo">
                    <img src="{% static 'main/images/logo.png' %}" alt="">
                </div>
                <div class="footer-desc txt-editor">
                    <p class="wh-col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                        ducimus voluptatibus neque illo id repellat quisquam? Autem
                        expedita earum quae laborum ipsum ad, a eaque officiis
                        eligendi blanditiis odio necessitatibus.</p>
                </div>
                <ul class="footer-sotsial justify-content-center justify-content-sm-start">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 offset-lg-1">
                <p class="footer-navigate-title">NAVIGATE</p>
                <ul class="footer-navigate">
                    <li><a href="">Advertisers</a></li>
                    <li><a href="">Developers</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href=" ">Company</a></li>
                    <li><a href="">Connect</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <p class="footer-navigate-title">PRIVACY & TOS</p>
                <ul class="footer-navigate">
                    <li><a href="terms.html">Advertiser Agreement</a></li>
                    <li><a href="">Acceptable Use Policy</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                    <li><a href="">Technology Privacy</a></li>
                    <li><a href="">Developer Agreement</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 footer-inf-txt">
                <p class="footer-navigate-title wh-col" style="font-weight: bold!important;">
                    CONTACT US</p>
                <p class="wh-col">Mailing Address:xx00</p>
                <p class="wh-col">Suite 1100. Denver</p>
                <p class="wh-col">+999 90932 627</p>
                <p class="wh-col">support@tripsia.io</p>
            </div>
        </div>
    </div>
</footer><!--end footer-->

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= scripts -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<!-- jQuery js -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'main/js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!-- All Plugins js -->
<script src="{% static 'main/js/plugins.js' %}"></script>
<!-- Parallax js -->
<script src="{% static 'main/js/dzsparallaxer.js' %}"></script>

<script src="{% static 'main/js/jquery.syotimer.min.js' %}"></script>

<script src="{% static 'main/js/common.js' %}"></script>

<!-- script js -->
<script src="{% static 'main/js/script.js' %}"></script>
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= scripts -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->

</body>
</html>
