@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/Open_Sans/OpenSans-Light_0.ttf") format("truetype");
  }
  @font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/Open_Sans/OpenSans-Bold_0.ttf") format("truetype");
  }
  @font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/Open_Sans/OpenSans-Regular_0.ttf") format("truetype");
  }
  /*============MAIN COLOR=============*/
  $text-color:#a8a8a8;
  /*============HEADER STYLE===========*/
  .icon{
      background-color:#c1c1c1;
      width:50px;
      height:50px;
      display:inline-block;
      margin:0 4px;
      mask:{
        repeat: no-repeat;
        size: 90%;
        position: center center;
      }
      -webkit-mask:{
        repeat: no-repeat;
        size: 90%;
        position: center center;
      }

  }
  /*===========LOADER STYLE============*/

  .loader{
    background:rgba(255, 255, 255, 0.3);
    position:fixed;
    left: 0;
    top:0;
    z-index:-999;
    .round1{
      transition: all ease 0.4s;
      animation-name: loader;
      animation-iteration-count: infinite;
      animation-delay: 0.4s;  
      animation-duration: 0.8s;
      border-bottom:0;
      border-right:0;
      margin:250px 700px;
      width:220px;
      height: 220px;
      border:10px solid rgb(80, 80, 255);
      border-radius: 50%;
      .round2{
        margin-bottom:3px;
        margin-left:3px;
        border-left:none;
        border-top:none;
        width: 200px;
        height: 200px;
        border:8px solid rgb(80, 80, 255);
        border-radius: 50%;
        transition: all ease 0.4s;
        animation-name: loader1;
        animation-iteration-count: infinite;
        animation-delay: 0.4s;  
        animation-duration: 0.8s;
        .round3{
          margin-top:5px;
          margin-left:5px;
          width: 175px;
          height: 175px;
          border:6px solid rgb(80, 80, 255);
          border-radius: 50%;
          transition: all 0.4s ease;
          animation-name: loader1;
          animation-iteration-count: infinite;
          animation-delay: 0.4s;
          animation-duration: 0.8s;
        }
      }
    }
  }
  @keyframes loader{
    0%{
        transform:rotateZ(0);
    }
    5%{
      transform:rotateZ(18deg);
    }
    10%{
      transform:rotateZ(36deg);
    }
    15%{
      transform:rotateZ(54deg);
    }
    20%{
      transform:rotateZ(72deg);
    }
    25%{
      transform:rotateZ(90deg);
    }
    30%{
      transform:rotateZ(108deg);
    }
    35%{
      transform:rotateZ(126deg);
    }
    40%{
      transform:rotateZ(144deg);
    }
    45%{
      transform:rotateZ(162deg);
    }
    50%{
      transform:rotateZ(180deg);
    }
    55%{
      transform:rotateZ(198deg);
    }
    60%{
      transform:rotateZ(216deg);
    }
    65%{
      transform:rotateZ(234deg);
    }
    70%{
      transform:rotateZ(252deg);
    }
    75%{
      transform:rotateZ(270deg);
    }
    80%{
      transform:rotateZ(288deg);
    }
    85%{
      transform:rotateZ(306deg);
    }
    90%{
      transform:rotateZ(324deg);
    }
    95%{
      transform:rotateZ(342deg);
    }
    100%{
      transform:rotateZ(360deg);
    }
  }
  @keyframes loader1{
    0%{
      transform:rotateZ(0);
    }
    5%{
      transform:rotateZ(-18deg);
    }
    10%{
      transform:rotateZ(-36deg);
    }
    15%{
      transform:rotateZ(-54deg);
    }
    20%{
      transform:rotateZ(-72deg);
    }
    25%{
      transform:rotateZ(-90deg);
    }
    30%{
      transform:rotateZ(-108deg);
    }
    35%{
      transform:rotateZ(-126deg);
    }
    40%{
      transform:rotateZ(-144deg);
    }
    45%{
      transform:rotateZ(-162deg);
    }
    50%{
      transform:rotateZ(-180deg);
    }
    55%{
      transform:rotateZ(-198deg);
    }
    60%{
      transform:rotateZ(-216deg);
    }
    65%{
      transform:rotateZ(-234deg);
    }
    70%{
      transform:rotateZ(-252deg);
    }
    75%{
      transform:rotateZ(-270deg);
    }
    80%{
      transform:rotateZ(-288deg);
    }
    85%{
      transform:rotateZ(-306deg);
    }
    90%{
      transform:rotateZ(-324deg);
    }
    95%{
      transform:rotateZ(-342deg);
    }
    100%{
      transform:rotateZ(-360deg);
    }
  }


  /*===========HEADER MAIN=============*/

h4{
  font:{
    family:"Open Sans Bold",sans-serif;
    size:20px;
  }
}
.texth{
  font:{
    family:"Open Sans Light",sans-serif;
    size:16px;
  }
  color:#888888;
}

  /*===========ADVANTAGE STYLE========*/
  body{ 
    position: relative;
    header{
      width:100%;
      height: 100vh;
      background-image: url("../img/girl.jpg");
      background-repeat: no-repeat;
      background-position-x:center;
      background-position-y: center; 
      background-size: cover;
      
      nav{
        width:100%;
        position: fixed !important;
        box-shadow: 1px 1px 5px #c1c1c1;
        top:0;
        right:0;
        height: 70px;
        background-color: rgba(255, 255, 255, 0.84);
        z-index:9999;
        font:{
        family:"Open Sans Regular",sans-serif;     
      };
      .nav-link{
        letter-spacing: 0px;
        text-transform:uppercase;
        font-size:20px;
        font-weight: lighter;
        margin-right: 15px;
        z-index:99999;
      }
    }
    .row{
      h5{
        margin-top:200px;
        margin-left:60px; 
        font:{
          size:36px;
          family:"Open Sans Bold",sans-serif;
        }
      }
      span{
        margin-left:60px;
        display:block;
        font:{
          size:26px;
          family:"Open Sans Light",sans-serif;
          weight:lighter;
        }
        color:$text-color;
        &:first-child{
          padding-top:120px;
          
        }
      }
      .scroldown{
        cursor:default;
        position: absolute;
        bottom:-170px;
        left:0;
        margin:4px 50%;
        transform: translateX(5px);
        animation-name: scroldown;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        transition: all linear 0.4s;
        a{
          &:hover{
            img{
              cursor:default;
            }
          }
        }
      }
    }
  }
  /*===========MAIN MAIN==============*/
  main{
    .about{
      .col-md-12{
        
        h5{
          text-align: center;
          font:{
            family:"Open Sans Regular",sans-serif;
            size:42px;
            weight:balder;
          }
        }
        p{
          color:$text-color;
          text-align:center;
          font:{
            family:"Opens Sans Bold",sans-serif;
            size:30px;
            weight:lighter;
          }
        }
      }
    }
    .advantage{
      background-color:#e9e9e9;
      .col-md-12{
        h5{
          text-align: center;
          font:{
            family:"Open Sans Light",sans-serif;
            size:42px;
            weight:lighter;
          }
        }
        h5{
          text-align: center;
          font:{
            family:"Open Sans Regular",sans-serif;
            size:42px;
            weight:lighter;
          }
        }
      }
    }
    .sub_image{
      position:relative;
      img{
        width:33.5%;
        display:inline-block;
        &:nth-child(2){
          display:block !important;
        }
        &:nth-child(3){
          position: absolute;
          top:0;
          right:0;
          display:inline-block;
          width:66.5%;
        }
      }
    }
    .accord{
      .col-md-9{
        table{
          text-align:center;
          text-transform:uppercase;
          th{  
            font:{
              family:"Open Sans Bold",sans-serif;
              size:18px;
            }
          }
          td{
            font:{
              family:"Open Sans Light",sans-serif;
              size:16px;
              weight:bolder;
            }
          }
        }
      }
      .col-md-8{
        h4{
          text-align:center;
          font-size:30px !important;
        }
        .texth{
          font-size:20px !important;
          text-align:center;
        }
      }
      /* Style the buttons that are used to open and close the accordion panel */
      .accordion {
        font:{
          size:16px;
          color:#c1c1c1;
          family:"Open Sans Bold",sans-serif;
          weight:bold;
        };
        padding-top:0;
        border-top:1px solid #d6d6d6 !important;
        position:relative;
        background-color:transparent;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        &:hover{
          img{
            background-color: #c1c1c1;
            transform:rotate(45deg);
            transition: all 0.4s ease;
          }
        }
        &:nth-child(4){
          border-bottom:1px solid #d6d6d6 !important;
        }
        span{
          margin-top:-30px;
        }
        img{
           width:20px !important;
           text-align:right;
           position:absolute;
           right:10px;
           top:33%;
           border-radius:50%;
        }
     }
     ul{
       li{
          font:{
            family:"Open Sans Regular",sans-serif;
            size:13px;
            weight:lighter;
          }
          line-height: 30px;
       }
     }
      /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
      .active{
        background-color: transparent;
      }
      /* Style the accordion panel. Note: hidden by default */
      .panel {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
      max-height: 10px;
      transition: max-height 0.2s ease-out;
      }
    }
    .parallax{
      .col-md-12{
        img{
          width:100px;
          margin-top:15px;
        }
      }
      .simpleParallax{
        &::after{
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          content: '';
          background-color: rgba(0,0,0,0.6);
        }
      }
      //text-shadow:1px 1px 3px black;
      h4{
        font:{
          family:"Open Sans Bold",sans-serif;
          size:32px;
        }
        margin-left:-120px;
        margin-top:50px;
      }
      p{
        text-align:center;
        font:{
          family:"Open Sans Regular",sans-serif;
          size:24px;
        };
        margin-left:-290px;
        margin-top:30px;
      }
    }
    .feedback{
      background-color:#f5f5f5;
      height: 100%;
      .col-md-12{
        h4{
          font:{
            size:30px;
            family:"Open Sans Bold",sans-serif;
            weight:bold;
          }
          margin:0 14%;
        }
      }
    }
    .specialists{
      .row{
        .card{
          width:100%;
          .card-body{
            h4{
              text-align: left;
              font-size:22px;
            }
            .texth{
              font-size:18px;
              margin:0;
              text-align:left;
              width:100%;
            }
            .texth1{
              font:{
                family:"Open Sans Regular",sans-serif;
                size:16px;
              }
              color:#6e6e6e;
            }
          }
        }
        .col-md-12{
          h4{
            text-align:center;
            font:{
              family:"Open Sans Bold",sans-serif;
              size:36px;
            }
          }
          .texth{
            text-align:center;
            width:50%;
            margin:0 auto;
            font:{
              family:"Open Sans Light",sans-serif;
              size:22px;
            }
        }
      }
    }
    }
    .location{
    position:relative;
    .adresse{
      background-color:white;
      opacity:0.75;
      width:50%;
      height:100%;
      position:absolute;
      top:0;
      right:0;
      .texth{
        color:#272727;
        font-size:17px;
      }
      .iconinst{
        width:48px;
        height:48px;
        background-color:black;
        mask:{
          repeat: no-repeat;
          size: 90%;
          position: center center;
          image: url("../img/instagram.svg");
        }
        -webkit-mask:{
          repeat: no-repeat;
          size: 90%;
          position: center center;
          image:url("../img/instagram.svg");
        };
      }
      .icongmail{
        background-color:rgb(255, 60, 0) !important;
        width:65px;
        height:65px;
        background-color:black;
        mask:{
          repeat: no-repeat;
          size: 90%;
          position: center center;
          image: url("../img/gmail.svg");
        }
        -webkit-mask:{
          repeat: no-repeat;
          size: 90%;
          position: center center;
          image:url("../img/gmail.svg");
        };
      }
      .iconfacebook{
        background-color:rgb(0, 119, 255) !important;
        width:48px;
        height:48px;
        background-color:black;
        mask:{
          repeat: no-repeat;
          size: 90%;
          position: center center;
          image: url("../img/gmail.svg");
        }
        -webkit-mask:{
          repeat: no-repeat;
          size: 90%;
          position: center center;
          image:url("../img/facebook.svg");
        };
      }
    }
    }
}
  }
/*================ANIMATION=============*/
@keyframes scroldown{
0%{
  transform: translateY(0);
}
10%{
  transform: translateY(-5px);
}
20%{
  transform: translateY(-10px);
}
30%{
  transform: translateY(-15px);
}
40%{
  transform: translateY(-20px);
}
50%{
  transform: translateY(-25px);
}
60%{
  transform: translateY(-20px);
}
70%{
  transform: translateY(-15px);
}
80%{
  transform: translateY(-10px);
}
90%{
  transform: translateY(-10px);
}
100%{
  transform: translateY(0);
}
}

/*===============RESPONSIVE============*/
@media (max-width:767.9px){
body{
  .loader{
    z-index:999;
    .round1{
      margin:80px 285px;
      width:120px;
      height: 120px;
      border:6px solid rgb(80, 80, 255);
      .round2{
        width: 100px;
        height: 100px;
        border:4px solid rgb(80, 80, 255);
        .round3{
          width: 75px;
          height: 75px;
          border:3px solid rgb(80, 80, 255);
        }
      }
    }
  }
  h5{
    font-size:26px!important;
    font-weight: bolder;
  }
  h4{
    font-size:20px;
    font-weight: bolder;
  }
  header{
    nav{
      position:absolute!important;
      .navbar-brand{
        display:none;
      }
      h5{
        display:none;
      }
      .navbar-nav{
        margin-top:22px;
        .nav-item{
        background-color:rgba(255, 255, 255, 0.74);
        .nav-link{
          text-align:center;
        }
        }
      }
    }
    .container{
      .row, .preText{
          margin-top:130px;
        .stext{
          margin-top:100px;
          background-color:#8ae8c457;
          box-sizing:border-box;
          margin:100px auto;
          font:{
            size:30px;
          }
          h5{
            text-align:center;
            margin-top:50px;
            font:{
              size:23.5px;
            }
          }
          span{
            padding:0 5px;
            width:210px;
            background-color:rgba(255, 255, 255, 0.25);
            text-align:right;
            font:{
              size:22px;
            }
            color:#797979;
          }
        }.scroldown{
          display:none;
          
        }
      }
    }
  }
  main{
    .about{
      .info1{
        //margin-top:380px;
        font:{
          family:"Open Sans Regular",sans-serif;
          size:24px !important;
          weight:bold;
        }
      }
      p{
        font:{
          family:"Open Sans Light",sans-serif;
          size:22px !important;
          weight:lighter;
        }
      }
    }
    .advantages{
      .advantage{
        .col-ms-12{
          .nasha{
            font-size:24px!important;
          }
        }
      }
    }
    .accord{
      .price1{
        button{
          h4{
            font:{
              size:15px!important;
            }
          }
        }
        table{
          th{
            font:{
              size:11px!important;
            }
          }
          td{
            font:{
              size:10px!important;
            }
          }
        }
      }
      #service{
        font:{
          size:24px!important;
          weight:bolder;
        }
      }
      .texth{
        font:{
          size:20px!important;
        }
      }
      .accordion{
        span{
          display:none;
        }
        text-align:center;
        &:hover{
          background-color:#afafaf;
          color:white;
        }
      }
    }
    .parallax{
      img{
        width:100%;
        margin-top:0!important;
      }
      .container{
        .row{
          .sale{
              margin-left:-40px;
              width:70px!important;  
          }
          .col-sm-12{
            h4{
              
              font:{
                size:20px;
              }
            }
          }
          .col-sm-8{
            p{
              font-size:20px;
            }
          }
        }
      }
    }
    .feedback{
      h4{
        margin:0!important;
        font:{
          size:20px!important;
        }
      }
      .fb{
        p{
          font:{
            size:13px;
          }
          span{
            width:15px!important;
            height: 15px!important;
            bottom:-15px!important;
          }
        }
        h5{
          font:{
            size:20px!important;
          }
          text-align:right;
        }
      }
    }
    .specialists{
      h4{
        font:{
          size:20px!important;
        }
      }
      .texth{
        width: 100%!important;
        font:{
          size:15px!important;
        }
      }
      .card{
        h4{
          font:{
            size:15px!important;
          }
        }
        .texth{
          font:{
            size:12px!important;
          }
        }
        .texth1{
          font:{
            size:11px!important;
          }
        }
      }
    }
    .location{
      iframe{
        height: 210px;
      }
      .adresse{
        display:none;
      }
    }
  }
  footer{
    h4{
      font:{
        size:15px!important;
      }
    }
    p{
      font:{
        size:11px!important;
      }
    }
    background:#f9eddc;
    .iconinst{
      width:28px;
      height:28px;
      background-color:black;
      mask:{
        repeat: no-repeat;
        size: 90%;
        position: center center;
        image: url("../img/instagram.svg");
      }
      -webkit-mask:{
        repeat: no-repeat;
        size: 90%;
        position: center center;
        image:url("../img/instagram.svg");
      };
    }
    .icongmail{
      margin-left:50px;
      background-color:rgb(255, 60, 0) !important;
      width:35px;
      height:35px;
      background-color:black;
      mask:{
        repeat: no-repeat;
        size: 90%;
        position: center center;
        image: url("../img/gmail.svg");
      }
      -webkit-mask:{
        repeat: no-repeat;
        size: 90%;
        position: center center;
        image:url("../img/gmail.svg");
      };
    }
    .iconfacebook{
      margin-left:52px;
      background-color:rgb(0, 119, 255) !important;
      width:28px;
      height:28px;
      background-color:black;
      mask:{
        repeat: no-repeat;
        size: 90%;
        position: center center;
        image: url("../img/gmail.svg");
      }
      -webkit-mask:{
        repeat: no-repeat;
        size: 90%;
        position: center center;
        image:url("../img/facebook.svg");
      };
    }
  }
}
}
@media (max-width:500px){
  body header .container .row .stext, body header .container .preText .stext{
    margin:200px 0;
  }
  .instruments{
    width:6rem!important;
    margin-left:32%!important;
  }
}