@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/Open_Sans/OpenSans-Light_0.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold_0.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular_0.ttf") format("truetype"); }
/*============MAIN COLOR=============*/
/*============HEADER STYLE===========*/
.icon {
  background-color: #c1c1c1;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 4px;
  mask-repeat: no-repeat;
  mask-size: 90%;
  mask-position: center center;
  -webkit-mask-size: 90%;
  -webkit-mask-position: center center; }

/*===========LOADER STYLE============*/
.loader {
  background: rgba(255, 255, 255, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -999; }
  .loader .round1 {
    transition: all ease 0.4s;
    animation-name: loader;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
    animation-duration: 0.8s;
    border-bottom: 0;
    border-right: 0;
    margin: 250px 700px;
    width: 220px;
    height: 220px;
    border: 10px solid #5050ff;
    border-radius: 50%; }
    .loader .round1 .round2 {
      margin-bottom: 3px;
      margin-left: 3px;
      border-left: none;
      border-top: none;
      width: 200px;
      height: 200px;
      border: 8px solid #5050ff;
      border-radius: 50%;
      transition: all ease 0.4s;
      animation-name: loader1;
      animation-iteration-count: infinite;
      animation-delay: 0.4s;
      animation-duration: 0.8s; }
      .loader .round1 .round2 .round3 {
        margin-top: 5px;
        margin-left: 5px;
        width: 175px;
        height: 175px;
        border: 6px solid #5050ff;
        border-radius: 50%;
        transition: all 0.4s ease;
        animation-name: loader1;
        animation-iteration-count: infinite;
        animation-delay: 0.4s;
        animation-duration: 0.8s; }

@keyframes loader {
  0% {
    transform: rotateZ(0); }
  5% {
    transform: rotateZ(18deg); }
  10% {
    transform: rotateZ(36deg); }
  15% {
    transform: rotateZ(54deg); }
  20% {
    transform: rotateZ(72deg); }
  25% {
    transform: rotateZ(90deg); }
  30% {
    transform: rotateZ(108deg); }
  35% {
    transform: rotateZ(126deg); }
  40% {
    transform: rotateZ(144deg); }
  45% {
    transform: rotateZ(162deg); }
  50% {
    transform: rotateZ(180deg); }
  55% {
    transform: rotateZ(198deg); }
  60% {
    transform: rotateZ(216deg); }
  65% {
    transform: rotateZ(234deg); }
  70% {
    transform: rotateZ(252deg); }
  75% {
    transform: rotateZ(270deg); }
  80% {
    transform: rotateZ(288deg); }
  85% {
    transform: rotateZ(306deg); }
  90% {
    transform: rotateZ(324deg); }
  95% {
    transform: rotateZ(342deg); }
  100% {
    transform: rotateZ(360deg); } }
@keyframes loader1 {
  0% {
    transform: rotateZ(0); }
  5% {
    transform: rotateZ(-18deg); }
  10% {
    transform: rotateZ(-36deg); }
  15% {
    transform: rotateZ(-54deg); }
  20% {
    transform: rotateZ(-72deg); }
  25% {
    transform: rotateZ(-90deg); }
  30% {
    transform: rotateZ(-108deg); }
  35% {
    transform: rotateZ(-126deg); }
  40% {
    transform: rotateZ(-144deg); }
  45% {
    transform: rotateZ(-162deg); }
  50% {
    transform: rotateZ(-180deg); }
  55% {
    transform: rotateZ(-198deg); }
  60% {
    transform: rotateZ(-216deg); }
  65% {
    transform: rotateZ(-234deg); }
  70% {
    transform: rotateZ(-252deg); }
  75% {
    transform: rotateZ(-270deg); }
  80% {
    transform: rotateZ(-288deg); }
  85% {
    transform: rotateZ(-306deg); }
  90% {
    transform: rotateZ(-324deg); }
  95% {
    transform: rotateZ(-342deg); }
  100% {
    transform: rotateZ(-360deg); } }
/*===========HEADER MAIN=============*/
h4 {
  font-family: "Open Sans Bold",sans-serif;
  font-size: 20px; }

.texth {
  font-family: "Open Sans Light",sans-serif;
  font-size: 16px;
  color: #888888; }

/*===========ADVANTAGE STYLE========*/
body {
  position: relative;
  /*===========MAIN MAIN==============*/ }
  body header {
    width: 100%;
    height: 100vh;
    background-image: url("../img/girl.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover; }
    body header nav {
      width: 100%;
      position: fixed !important;
      box-shadow: 1px 1px 5px #c1c1c1;
      top: 0;
      right: 0;
      height: 70px;
      background-color: rgba(255, 255, 255, 0.84);
      z-index: 9999;
      font-family: "Open Sans Regular",sans-serif; }
      body header nav .nav-link {
        letter-spacing: 0px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: lighter;
        margin-right: 15px;
        z-index: 99999; }
    body header .row h5 {
      margin-top: 200px;
      margin-left: 60px;
      font-size: 36px;
      font-family: "Open Sans Bold",sans-serif; }
    body header .row span {
      margin-left: 60px;
      display: block;
      font-size: 26px;
      font-family: "Open Sans Light",sans-serif;
      font-weight: lighter;
      color: #a8a8a8; }
      body header .row span:first-child {
        padding-top: 120px; }
    body header .row .scroldown {
      cursor: default;
      position: absolute;
      bottom: -170px;
      left: 0;
      margin: 4px 50%;
      transform: translateX(5px);
      animation-name: scroldown;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transition: all linear 0.4s; }
      body header .row .scroldown a:hover img {
        cursor: default; }
  body main .about .col-md-12 h5 {
    text-align: center;
    font-family: "Open Sans Regular",sans-serif;
    font-size: 42px;
    font-weight: balder; }
  body main .about .col-md-12 p {
    color: #a8a8a8;
    text-align: center;
    font-family: "Opens Sans Bold",sans-serif;
    font-size: 30px;
    font-weight: lighter; }
  body main .advantage {
    background-color: #e9e9e9; }
    body main .advantage .col-md-12 h5 {
      text-align: center;
      font-family: "Open Sans Light",sans-serif;
      font-size: 42px;
      font-weight: lighter; }
    body main .advantage .col-md-12 h5 {
      text-align: center;
      font-family: "Open Sans Regular",sans-serif;
      font-size: 42px;
      font-weight: lighter; }
  body main .sub_image {
    position: relative; }
    body main .sub_image img {
      width: 33.5%;
      display: inline-block; }
      body main .sub_image img:nth-child(2) {
        display: block !important; }
      body main .sub_image img:nth-child(3) {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 66.5%; }
  body main .accord {
    /* Style the buttons that are used to open and close the accordion panel */
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    /* Style the accordion panel. Note: hidden by default */ }
    body main .accord .col-md-9 table {
      text-align: center;
      text-transform: uppercase; }
      body main .accord .col-md-9 table th {
        font-family: "Open Sans Bold",sans-serif;
        font-size: 18px; }
      body main .accord .col-md-9 table td {
        font-family: "Open Sans Light",sans-serif;
        font-size: 16px;
        font-weight: bolder; }
    body main .accord .col-md-8 h4 {
      text-align: center;
      font-size: 30px !important; }
    body main .accord .col-md-8 .texth {
      font-size: 20px !important;
      text-align: center; }
    body main .accord .accordion {
      font-size: 16px;
      font-color: #c1c1c1;
      font-family: "Open Sans Bold",sans-serif;
      font-weight: bold;
      padding-top: 0;
      border-top: 1px solid #d6d6d6 !important;
      position: relative;
      background-color: transparent;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s; }
      body main .accord .accordion:hover img {
        background-color: #c1c1c1;
        transform: rotate(45deg);
        transition: all 0.4s ease; }
      body main .accord .accordion:nth-child(4) {
        border-bottom: 1px solid #d6d6d6 !important; }
      body main .accord .accordion span {
        margin-top: -30px; }
      body main .accord .accordion img {
        width: 20px !important;
        text-align: right;
        position: absolute;
        right: 10px;
        top: 33%;
        border-radius: 50%; }
    body main .accord ul li {
      font-family: "Open Sans Regular",sans-serif;
      font-size: 13px;
      font-weight: lighter;
      line-height: 30px; }
    body main .accord .active {
      background-color: transparent; }
    body main .accord .panel {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
      max-height: 10px;
      transition: max-height 0.2s ease-out; }
  body main .parallax .col-md-12 img {
    width: 100px;
    margin-top: 15px; }
  body main .parallax .simpleParallax::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.6); }
  body main .parallax h4 {
    font-family: "Open Sans Bold",sans-serif;
    font-size: 32px;
    margin-left: -120px;
    margin-top: 50px; }
  body main .parallax p {
    text-align: center;
    font-family: "Open Sans Regular",sans-serif;
    font-size: 24px;
    margin-left: -290px;
    margin-top: 30px; }
  body main .feedback {
    background-color: #f5f5f5;
    height: 100%; }
    body main .feedback .col-md-12 h4 {
      font-size: 30px;
      font-family: "Open Sans Bold",sans-serif;
      font-weight: bold;
      margin: 0 14%; }
  body main .specialists .row .card {
    width: 100%; }
    body main .specialists .row .card .card-body h4 {
      text-align: left;
      font-size: 22px; }
    body main .specialists .row .card .card-body .texth {
      font-size: 18px;
      margin: 0;
      text-align: left;
      width: 100%; }
    body main .specialists .row .card .card-body .texth1 {
      font-family: "Open Sans Regular",sans-serif;
      font-size: 16px;
      color: #6e6e6e; }
  body main .specialists .row .col-md-12 h4 {
    text-align: center;
    font-family: "Open Sans Bold",sans-serif;
    font-size: 36px; }
  body main .specialists .row .col-md-12 .texth {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: "Open Sans Light",sans-serif;
    font-size: 22px; }
  body main .location {
    position: relative; }
    body main .location .adresse {
      background-color: white;
      opacity: 0.75;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0; }
      body main .location .adresse .texth {
        color: #272727;
        font-size: 17px; }
      body main .location .adresse .iconinst {
        width: 48px;
        height: 48px;
        background-color: black;
        mask-repeat: no-repeat;
        mask-size: 90%;
        mask-position: center center;
        mask-image: url("../img/instagram.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 90%;
        -webkit-mask-position: center center;
        -webkit-mask-image: url("../img/instagram.svg"); }
      body main .location .adresse .icongmail {
        background-color: #ff3c00 !important;
        width: 65px;
        height: 65px;
        background-color: black;
        mask-repeat: no-repeat;
        mask-size: 90%;
        mask-position: center center;
        mask-image: url("../img/gmail.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 90%;
        -webkit-mask-position: center center;
        -webkit-mask-image: url("../img/gmail.svg"); }
      body main .location .adresse .iconfacebook {
        background-color: #0077ff !important;
        width: 48px;
        height: 48px;
        background-color: black;
        mask-repeat: no-repeat;
        mask-size: 90%;
        mask-position: center center;
        mask-image: url("../img/gmail.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 90%;
        -webkit-mask-position: center center;
        -webkit-mask-image: url("../img/facebook.svg"); }

/*================ANIMATION=============*/
@keyframes scroldown {
  0% {
    transform: translateY(0); }
  10% {
    transform: translateY(-5px); }
  20% {
    transform: translateY(-10px); }
  30% {
    transform: translateY(-15px); }
  40% {
    transform: translateY(-20px); }
  50% {
    transform: translateY(-25px); }
  60% {
    transform: translateY(-20px); }
  70% {
    transform: translateY(-15px); }
  80% {
    transform: translateY(-10px); }
  90% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }
/*===============RESPONSIVE============*/
@media (max-width: 767.9px) {
  body .loader {
    z-index: 999; }
    body .loader .round1 {
      margin: 80px 285px;
      width: 120px;
      height: 120px;
      border: 6px solid #5050ff; }
      body .loader .round1 .round2 {
        width: 100px;
        height: 100px;
        border: 4px solid #5050ff; }
        body .loader .round1 .round2 .round3 {
          width: 75px;
          height: 75px;
          border: 3px solid #5050ff; }
  body h5 {
    font-size: 26px !important;
    font-weight: bolder; }
  body h4 {
    font-size: 20px;
    font-weight: bolder; }
  body header nav {
    position: absolute !important; }
    body header nav .navbar-brand {
      display: none; }
    body header nav h5 {
      display: none; }
    body header nav .navbar-nav {
      margin-top: 22px; }
      body header nav .navbar-nav .nav-item {
        background-color: rgba(255, 255, 255, 0.74); }
        body header nav .navbar-nav .nav-item .nav-link {
          text-align: center; }
  body header .container .row, body header .container .preText {
    margin-top: 130px; }
    body header .container .row .stext, body header .container .preText .stext {
      margin-top: 100px;
      background-color: #8ae8c457;
      box-sizing: border-box;
      margin: 100px auto;
      font-size: 30px; }
      body header .container .row .stext h5, body header .container .preText .stext h5 {
        text-align: center;
        margin-top: 50px;
        font-size: 23.5px; }
      body header .container .row .stext span, body header .container .preText .stext span {
        padding: 0 5px;
        width: 210px;
        background-color: rgba(255, 255, 255, 0.25);
        text-align: right;
        font-size: 22px;
        color: #797979; }
    body header .container .row .scroldown, body header .container .preText .scroldown {
      display: none; }
  body main .about .info1 {
    font-family: "Open Sans Regular",sans-serif;
    font-size: 24px !important;
    font-weight: bold; }
  body main .about p {
    font-family: "Open Sans Light",sans-serif;
    font-size: 22px !important;
    font-weight: lighter; }
  body main .advantages .advantage .col-ms-12 .nasha {
    font-size: 24px !important; }
  body main .accord .price1 button h4 {
    font-size: 15px !important; }
  body main .accord .price1 table th {
    font-size: 11px !important; }
  body main .accord .price1 table td {
    font-size: 10px !important; }
  body main .accord #service {
    font-size: 24px !important;
    font-weight: bolder; }
  body main .accord .texth {
    font-size: 20px !important; }
  body main .accord .accordion {
    text-align: center; }
    body main .accord .accordion span {
      display: none; }
    body main .accord .accordion:hover {
      background-color: #afafaf;
      color: white; }
  body main .parallax img {
    width: 100%;
    margin-top: 0 !important; }
  body main .parallax .container .row .sale {
    margin-left: -40px;
    width: 70px !important; }
  body main .parallax .container .row .col-sm-12 h4 {
    font-size: 20px; }
  body main .parallax .container .row .col-sm-8 p {
    font-size: 20px; }
  body main .feedback h4 {
    margin: 0 !important;
    font-size: 20px !important; }
  body main .feedback .fb p {
    font-size: 13px; }
    body main .feedback .fb p span {
      width: 15px !important;
      height: 15px !important;
      bottom: -15px !important; }
  body main .feedback .fb h5 {
    font-size: 20px !important;
    text-align: right; }
  body main .specialists h4 {
    font-size: 20px !important; }
  body main .specialists .texth {
    width: 100% !important;
    font-size: 15px !important; }
  body main .specialists .card h4 {
    font-size: 15px !important; }
  body main .specialists .card .texth {
    font-size: 12px !important; }
  body main .specialists .card .texth1 {
    font-size: 11px !important; }
  body main .location iframe {
    height: 210px; }
  body main .location .adresse {
    display: none; }
  body footer {
    background: #f9eddc; }
    body footer h4 {
      font-size: 15px !important; }
    body footer p {
      font-size: 11px !important; }
    body footer .iconinst {
      width: 28px;
      height: 28px;
      background-color: black;
      mask-repeat: no-repeat;
      mask-size: 90%;
      mask-position: center center;
      mask-image: url("../img/instagram.svg");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 90%;
      -webkit-mask-position: center center;
      -webkit-mask-image: url("../img/instagram.svg"); }
    body footer .icongmail {
      margin-left: 50px;
      background-color: #ff3c00 !important;
      width: 35px;
      height: 35px;
      background-color: black;
      mask-repeat: no-repeat;
      mask-size: 90%;
      mask-position: center center;
      mask-image: url("../img/gmail.svg");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 90%;
      -webkit-mask-position: center center;
      -webkit-mask-image: url("../img/gmail.svg"); }
    body footer .iconfacebook {
      margin-left: 52px;
      background-color: #0077ff !important;
      width: 28px;
      height: 28px;
      background-color: black;
      mask-repeat: no-repeat;
      mask-size: 90%;
      mask-position: center center;
      mask-image: url("../img/gmail.svg");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 90%;
      -webkit-mask-position: center center;
      -webkit-mask-image: url("../img/facebook.svg"); } }
@media (max-width: 500px) {
  body header .container .row .stext, body header .container .preText .stext {
    margin: 200px 0; }

  .instruments {
    width: 6rem !important;
    margin-left: 32% !important; } }

/*# sourceMappingURL=main.css.map */
