.new-service-box {
    background-color: #5a78f0;
}

.new-service-box:hover {
    background-color: #073c71;
}

.main-about-video {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.main-about-video video {
    margin-bottom: -2px;
}

.main-news-top-title {
    font-size: 19px;
    font-weight: 600;
}

.main-news-popular-title {
    font-size: 16px;
    font-weight: 600;
}

.main-news-top-desc {
    height: 145px;
}

.main-news-top-desc p {
    font-size: 14.3px;
    line-height: 24px;
}

.main-news-popular-content p {
    margin-top: 9PX;
    font-size: 12.2px;
    line-height: 20px;
}

.main-news-top-desc:after, .main-news-popular-desc::after {
    display: none;
}

@media (min-width: 992px) {
    .main-news-box {
        margin: 0 80px;
    }
}

.sotsial a {
    text-align: center;
}

.sotsial img {
    margin-bottom: 10px;
}

.sotsial span {
    font-size: 14px;
    padding-top: 15px;
}

.header-middle-content h1 {
    font-weight: 800;
    color: #000a2d;
    font-family: 'Acum';
}

.weak-active {
    opacity: 1;
    visibility: visible;
}

.weak-p-none, .good-p-none {
    display: none;
}

.header.in-page .main-nav li a {
    color: #4a70ad;
}

.footer-navigate-title {
    font-weight: bold !important;
}

.result-text p {
    color: #457fce;
    font-size: 20px;
    text-align: center;
}

.store-table table tr td:nth-child(4), .store-table-head table tr th:nth-child(4) {
    width: 21%;
    font-size: 16px;
}

/*  ==== Second Version ====  */
.hidden {
    display: none !important;
}

.success-button, .access-modal-head, .disable-btn.on-hover-active:hover, .cabinet-middle-box-head-title::before, .cabinet-select-inf-text button {
    background-color: #026d77 !important;
}

.text-color {
    color: #026d77;
}

.wallet-box-desc {
    text-align: center !important;
}

.error-txt {
    float: right;
}

.cabinet-middle-box-head-title {
    width: 49.5%;
    text-align: center;
}

.box-title-disable {
    color: #d6dbe0 !important;
}

.box-title-disable:before {
    background: #d6dbe0 !important;
}

.cabinet-middle-box-head span {
    cursor: pointer;
}

.welcome-video-area {
    margin-top: 50px !important;
}

.main-ilustration-9 {
    background: url(/static/main/img/bg-mob-1.png) no-repeat center 50%
}

.link {
    color: #026d77e0 !important;
}

.qr-head-2 {
    border-bottom: 2px solid #e8eaed;
    padding: 25px 20px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.qr-image p {
    font-size: 13px;
}

.f-semi-2 {
    font-weight: 400;
}

.f-black-2 {
    font-weight: 700 !important;
}

.f-11 {
    font-size: 11px !important;
}

.f-12 {
    font-size: 12px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-20 {
    font-size: 20px
}

.f-22 {
    font-size: 22px
}

.f-30 {
    font-size: 30px
}

.f-35 {
    font-size: 35px
}

.showing-password {
    background: #eaedef;
}

.btn-create, .btn-create:hover {
    font-size: 18px !important;
    padding: 0 35px !important;
    max-width: 100%;
    font-weight: 600;
    color: #fff;
    min-width: 200px;
    height: 50px;
    background: #999;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.in-input {
    background: #e5f1f1 !important;
    color: #abacad
}

.wallet-box-content::after {
    display: none !important;
}

.cabinet-select-inf-text-error, .cabinet-check-status, .cabinet-head-box-refresh-text {
    font-size: 11px !important;
    font-weight: 400 !important;
}

.access-modal-desc {
    font-size: 13px !important;
    font-weight: 400 !important;
}

.access-modal-semi-title {
    font-size: 16px !important;
}

.mb-40 {
    margin-bottom: 40px;
}

select {
    font-size: 14px;
}

.success-box {
    background-color: #fff;
}

.success-box-txt {
    color: #333;
}

.main-page {
    padding-top: 178px !important;
}

.section-heading > p {
    max-width: 801px !important;
}

#scrollUp {
    color: #000;
}

#scrollUp::before {
    background-color: #000;
}

.token-distribution, .partners {
    background-color: #f9fafe !important;
}

.partners {
    padding-top: 40px;
}

.regular-padding {
    /*margin-top: 100px;*/
}

.footer-inf-txt p {
    font-weight: 400!important;
    font-size: 15px!important;
    line-height: 30px!important;
}
.footer-inf-txt p+p {
    margin-top: 0!important;
}
.footer-inf-txt {
    margin-left: -20px;
}
.access-checkbox {
    font-size: 12px;
}
.check-icon-active {
    opacity: 1;
}
.token-long
{
    line-height: 16px;
}
.opacity{
    opacity: 0.5;
}

.text-vertical{
    margin-bottom: 20px!important;
}
.popup-tst
{
    display: flex;
}
.popup-tst .f-light {
    margin-right: 10px;
}
.popup-tst .auth-popup {
    left:-110px;
    top: calc(100%);
    text-align: center;
}
.popup-tst .auth-popup ul li a {
    padding:12px;
    border-bottom: 1px solid #eaeaea;

}
.success-button {margin: 0 auto;
    padding: 0;
    display: inline-block;
    vertical-align: middle;}
