/*============MAIN COLOR=========*/
/*============FONT STYLE=========*/
@font-face {
  font-family: "Realistica Demo";
  src: url("../fonts/Realistica-Demo.otf") format("truetype"); }
@font-face {
  font-family: "The Bredan Demo";
  src: url("../fonts/The-Bredan-Demo.otf") format("truetype"); }
.author {
  font-size: 10px;
  color: #e0e0e0;
  text-align: center; }

.symb {
  font-size: 40px;
  color: #e0e0e0; }

.title {
  font-size: 22px;
  color: #e09302;
  text-align: center;
  font-weight: bolder; }

.text {
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #525050; }

.menu {
  position: relative;
  font-size: 14px;
  color: #e09302;
  font-weight: bold;
  border-bottom: 1px solid #e09302; }

.afmenu {
  font-size: 10px;
  color: #757474; }

.special {
  position: absolute;
  font-size: 9px;
  top: -20px;
  right: 0;
  width: 50px;
  height: 12px;
  background-color: #e09302;
  color: #e0e0e0; }

/*============ICON STYLE=========*/
.icon {
  background-color: #ffa600;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 4px;
  mask-repeat: no-repeat;
  mask-size: 90%;
  mask-position: center center;
  -webkit-mask-size: 90%;
  -webkit-mask-position: center center; }

.icon-gmail {
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  mask-size: 90%;
  mask-position: center center;
  mask-image: url("../img/gmail.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 90%;
  -webkit-mask-position: center center;
  -webkit-mask-image: url("../img/gmail.svg"); }

.icon-instagram {
  mask-repeat: no-repeat;
  mask-size: 90%;
  mask-position: center center;
  mask-image: url("../img/instagram.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 90%;
  -webkit-mask-position: center center;
  -webkit-mask-image: url("../img/instagram.svg"); }

.icon-facebok {
  mask-repeat: no-repeat;
  mask-size: 90%;
  mask-position: center center;
  mask-image: url("../img/facebook.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 90%;
  -webkit-mask-position: center center;
  -webkit-mask-image: url("../img/facebook.svg"); }

/*============MAIN STYLE=========*/
body {
  font-family: "Realistica Demo",sans-serif; }
  body header {
    width: 100%;
    height: 100vh;
    background: url("../img/background/bgheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #e0e0e0 !important; }
    body header .navbar-brand {
      text-transform: uppercase; }
    body header a {
      color: #e0e0e0 !important; }
    body header .nav-link {
      font-size: 14px; }
    body header .bg-items .ingredients h5 {
      text-align: center;
      font-size: 75px;
      color: #e0e0e0 !important; }
    body header .bg-items .btn {
      margin: 0 auto;
      text-transform: uppercase;
      font-size: 10px;
      border-radius: 0; }
    body header .bg-items .btn-outline-dark {
      background-color: rgba(0, 0, 0, 0.658);
      color: #e0e0e0; }
    body header .bg-items .btn-outline-light {
      background-color: rgba(255, 255, 255, 0.329);
      color: #e0e0e0; }
  body main .cook {
    background-image: url("../img/background/pattern.png");
    background-size: cover;
    background-repeat: no-repeat; }
    body main .cook .col-md-4 img {
      margin-left: 35%; }
  body main .tips {
    width: 100%;
    background-image: url("../img/background/bgmain2.png");
    background-repeat: no-repeat;
    background-size: cover; }
    body main .tips .row .col-md-4 {
      background-color: rgba(0, 0, 0, 0.479); }
      body main .tips .row .col-md-4 h4 {
        color: #e0e0e0; }
      body main .tips .row .col-md-4 .text {
        color: #e0e0e0; }
  body main .mainMenu {
    background-image: url("../img/background/pattern.png");
    background-repeat: no-repeat;
    background-size: cover; }
  body main .feedback {
    background-image: url("../img/background/bgmain3.png");
    background-repeat: no-repeat;
    background-size: cover; }
    body main .feedback .col-md-8 {
      background-color: rgba(0, 0, 0, 0.863); }
      body main .feedback .col-md-8 .title {
        color: #e0e0e0; }
      body main .feedback .col-md-8 .text {
        color: #e0e0e0;
        font-size: 12px; }
  body main .book {
    background-image: url("../img/background/pattern.png");
    background-repeat: no-repeat;
    background-size: cover; }
    body main .book img {
      width: 36%;
      padding-left: 3%; }
      body main .book img:first-child {
        margin-left: 100px; }
    body main .book .text {
      font-size: 8px; }
    body main .book label {
      font-size: 11px;
      color: #e09302; }
    body main .book input {
      border-radius: 0;
      font-size: 9px;
      height: 18px;
      color: #8d8d8d; }
    body main .book .btn {
      width: 100px;
      font-size: 12px;
      line-height: 8px;
      border-radius: 0; }
  body footer {
    background-color: black; }
    body footer .col-md-4 .title {
      text-align: center;
      color: #e0e0e0;
      font-size: 14px; }
    body footer .col-md-4 .text {
      display: block;
      color: #e0e0e0;
      font-size: 11px;
      font-weight: lighter; }
      body footer .col-md-4 .text b {
        font-weight: bold;
        font-size: 13px; }
    body footer .col-md-4 .social1 {
      text-align: center; }
      body footer .col-md-4 .social1 .icon {
        background-color: #e0e0e0; }

/*# sourceMappingURL=main.css.map */
