
@import 'variables';
@import 'mixins';
@import 'operations';
@import 'fonts';


body {
	font-family: $fontBase, sans-serif;
	font-size: 14px;
	font-weight: 400;
}


img {
	max-width: 100%;
}


a,
button,
select,
input,
textarea {
	outline: 0 !important;
}



a {
	display: inline-block;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: none;
		color: inherit;
	}
}



button {
	padding: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
	color: inherit;
}



ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

li {
	text-align: inherit;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}


strong,
b {
	font-weight: 700;
}







/* Custom Classes
=================================================================*/
.ap-n {
	appearance: none;
}

.us-n {
	user-select: none;
}

.fx-c {
	display: flex;
	justify-content: center;
	align-items: center;
}


.h-100 {
	height: 100%;
}

.h-100vh {
	height: 100vh;
}

.mh-100vh {
	min-height: 100vh;
}


.ov-h {
	overflow: hidden !important;
}

.bg-cover {
	background: center / cover no-repeat;
}

.bg-contain {
	background: center / contain no-repeat;
}



.txt-editor {
  line-height: 30px;

	ul {
		margin-bottom: 1rem;
		padding-left: 40px;
		list-style: initial;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: .5rem;
	}
	
	p {
		margin-bottom: 1rem;
	}

	a {
		display: inline;
		text-decoration: underline;
	}
}

.placeholder {

	&::-webkit-input-placeholder {
		color: inherit;
	}
	
	&::-moz-placeholder {
		color: inherit;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: inherit;
	}

	&:-moz-placeholder {
		color: inherit;
		opacity: 1;
	}

	&::placeholder {
		color: inherit;
		opacity: 1;
	}
}

.spinner {

	& {
		-moz-appearance:textfield;
	}

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}



.equal-offsets {
	margin: -15px;

	> .col,
	> [class*=col-] {
		padding: 15px;
	}
}



.transition {
	transition: all .25s ease-in-out;
}
/*========== Custom Classes ==========*/







/* Internet Explorer
=================================================================*/
.ie_bx {
	width: 100%;
	padding-top: 100px;
	position: fixed;
	z-index: 10010;
	text-align: center;

	h2 {

		& + & {
			margin-top: 20px;
		}

		a {
			text-decoration: underline;
		}
	}
}
.ie_bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	background-color: rgba(#fff, 0.88);
}


/*========== heading ==========*/
h1 {
	font-weight: normal;
  font-size: 42px;
}

h2,.h2 {
	font-size: 30px;
	font-weight: normal;
}

h3, .h3 {
  font-size: 24px;
	font-weight: normal;
}

h4, .h4 {
	font-size: 20px;
	font-weight: normal;
}

.fz-18 {
	font-size: 18px;
}

h5 {
	font-size: 15px;
	font-weight: normal;
}

/*========== heading ==========*/



/*========== Internet Explorer ==========*/







/* Standards
=================================================================*/

/*========== Standards ==========*/























/* Header
*****************************************************************************************************/

/*********** Header ***********/















/* Main
*****************************************************************************************************/

/*********** Main ***********/















/* Footer
*****************************************************************************************************/

/*********** Footer ***********/

























/* Something
*****************************************************************************************************/
/*********** Something ***********/



/* Something
=================================================================*/
/*========== Something ==========*/



/* Something
----------------------------------------*/
/*---------- Something ----------*/



