@import 'variables';
@import 'mixins';

/* Min Width
*****************************************************************************************************/

/* 480px (Min Width)
=================================================================*/
@media (min-width: 480px) {

  /*========== 480px (Min Width) ==========*/
}

/* 576px (Min Width)
=================================================================*/
@media (min-width: 576px) {

  /*========== 576px (Min Width) ==========*/
}

/* 768px (Min Width)
=================================================================*/
@media (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
  /*========== 768px (Min Width) ==========*/
}

/* 992px (Min Width)
=================================================================*/
@media (min-width: 992px) {

  /*========== 992px (Min Width) ==========*/
}

/* 1200px (Min Width)
=================================================================*/
@media (min-width: 1200px) {

  /*========== 1200px (Min Width) ==========*/
}

/* 1590px (Min Width)
=================================================================*/
@media (min-width: 1590px) {

  /*========== 1590px (Min Width) ==========*/
}

/* Max Width
*****************************************************************************************************/

/* 1589px (Max Width)
=================================================================*/
@media (max-width: 1589px) {

  /*========== 1589px (Max Width) ==========*/
}

/* 1199px (Max Width)
=================================================================*/
@media (max-width: 1199px) {
  .main-about  {
    margin-top: -25px;
    margin-bottom: -25px;
    div[class*=col] {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  .classy-navbar .nav-brand {
    margin-right: 15px;
  }
  .classynav ul li a {
    padding: 0 15px;
  }
  .header-lang-wrap {
    width: 100px;
  }
  /*========== 1199px (Max Width) ==========*/
}

/* 991px (Max Width)
=================================================================*/
@media (max-width: 991px) {
  .main-about  {
    margin-top: -15px;
    margin-bottom: -15px;
    div[class*=col] {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  .main-about-img {
    position: static;
    margin: 0 0 15px;
    width: 100%;
    text-align: center;
  }
  .auth {
    padding: 25px 0;
    margin: 0;
    width: 100%;
    @at-root &-popup {
      top: 100%;
      left: 15px;
    }
    &::before {
      right: 10px;

    }
    @at-root &-desc {
      color: #fff;
    }
  }
  .account-wrap-right {
    display: none;
  }
  .header-lang-wrap {
    width: 100%;
  }
  .header-account-wrap .login-btn {
    display: block;
    max-width: 150px;
    margin: 20px auto;
  }
  .account-wrap-inner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .news-box {
    flex-direction: column;
    @at-root &-img {
      margin-right: 0;
      flex: 0 0 auto;
      margin-bottom: 15px;
      img {
        width: 100%;
        height: 220px;
      }
    }
  }
  .privacy-box {
    padding: 25px 20px;
    @at-root &-content {
      &.txt-editor {
        font-size: 18px;
      }
    }
    @at-root &-title {
      margin-bottom: 50px;
    }
    @at-root &-date {
      margin-bottom: 25px;
    }
  }
  .store-box {
    padding: 20px;
    overflow-x: auto;

    table {
      width: 700px;
    }
  }
  main.main-page {
    padding-top: 180px;
  }
  .regular-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .form-window-txt-box {
    flex-direction: column;
    align-items: center !important;

    .flex-item {
      flex: 1 1 100%
    }
  }
  .main-news-top-img img {
    height: 220px;
  }
  .main-service-content {
    height: auto;
  }
  .wth-line {
    &::before {
      width: 100%;
    }
  }
  /*========== 991px (Max Width) ==========*/
}

/* 767px (Max Width)
=================================================================*/
@media (max-width: 767px) {
  .cabinet-middle-box-head {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    @at-root &-title {
      width: 100% !important;
      padding-left: 0;
      padding-right: 0;
      & + & {
        margin-top: 25px;
      }
    }
  }
  .privacy-box {
    padding: 20px 10px;
    @at-root &-content {
      &.txt-editor {
        font-size: 16px;
      }
    }
    @at-root &-title {
      margin-bottom: 40px;
      font-size: 25px;
    }
    @at-root &-date {
      margin-bottom: 25px;
      font-size: 20px;
      text-align: center;
    }
  }
  .main-nav {
    flex-direction: column;
    align-items: center;
    display: none;

    li {
      line-height: 45px;

      & + li {
        margin-left: 0;
      }
    }
  }
  main.main-page {
    padding-top: 60px;
  }
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-top-line {
    position: static;

    &.active {
      background: transparent;
    }
  }
  .regular-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* 575 (Max Width)
=================================================================*/
@media screen and (max-width: 575px) {
  h3 {
    font-size: 16px;
  }
  .success-button h3 {
    font-size: 16px;
  }
  h3 {
    font-size: 16px;
  }
  h2 {
    font-size: 20px;
  }
  h1{
    font-size: 25px;
  }

  .access-modal-title {
    font-size: 16px;
  }
  .account-wrap-inner {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .access-modal-action-wrap {
    flex-direction: column;
  }
  .regular-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .main-features-icon {
    margin-right: 0;
    flex: 1 1 auto;
    margin-bottom: 15px;
  }
  .main-features-box {
    flex-direction: column;
    text-align: center;
  }
  .main-service-title {
    font-size: 25px;
  }
  .main-service-box {
    padding: 20px;
    flex-direction: column;
  }
  .main-service-icon {
    margin-right: 0;
    margin-bottom: 15px;
  }


  /*========== 575px (Max Width) ==========*/
}

/* 479px (Max Width)
=================================================================*/
@media (max-width: 479px) {
  .success-button {
    height: auto;
    padding: 10px 30px;
  }
  h3 {
    font-size: 16px;
  }
  .success-button h3 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  h2 {
    font-size: 18px;
  }
  h1{
    font-size: 20px;
  }
  .success-box {
    padding: 25px 15px;
    width: calc(100% - 10px);
  }
  .form-window {
    padding: 25px 15px;
  }
  .regular-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .showing-password {
    display: none !important;
  }
  /*========== 479px (Max Width) ==========*/
}

@media screen and (max-width: 375px) {

}



