//@import "fonts";
@import "base";
@import "variables";
@import "operations";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  line-height: 16px;
  color: $txt-col;
  font-weight: 400;
  background: #fff;
  font-family: $fontBase;
  font-size: 18px;
}

.regular-padding {
  padding-top: 88px;
  padding-bottom: 88px;
}

.wh-col {
  color: #fff !important;
}

.d-f {
  display: flex;
}

.link-col {
  color: $link-col !important;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.circle {
  border-radius: 50%;
}

.cur-p {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.f-black {
  font-weight: 800;
}

.f-semi {
  font-weight: 600;
}

.f-light {
  font-weight: 300;
}

.f-italic {
  font-style: italic;
}

.disable-btn {
  padding: 0 25px;
  max-width: 100%;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  height: 50px;
  background: #999999;
  border-radius: 5px;
  @extend .transition;

  &.on-hover-active {
    &:hover {
      background: #457fce;
    }
  }

  h3 {
    font-size: 22px;
  }

  & + & {
    margin-left: 10px;
  }
}

.mb-25 {
  margin-bottom: 25px;
}

.lh-50 {
  line-height: 50px;
}

.flex-text {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  justify-content: space-between;

  .flex-text-item {
    padding: 10px;
    flex: 0 0 auto;
  }

  span {
    display: inline-block;
    padding: 10px;
    flex: 0 0 auto;
  }
}

.f-13 {
  font-size: 13px;
}

.f-11 {
  font-size: 11px;
}

.f-15 {
  font-size: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-18 {
  margin-bottom: 18px;
}

.padding-0 {
  padding: 0 !important;
}

.f-17 {
  font-size: 17px;
}

.head-title {
  color: #424242;
  font-size: 33px;
  margin-bottom: 20px;
  text-align: center;
  @extend .f-semi;
}

.text-copied {
  opacity: 0;
  color: #457fce;
  font-size: 14px;
  margin-top: 12px;
  @extend .transition;
}

.show-handler-txt {
  opacity: 0;
  @extend .transition;
}

input, textarea {
  &.form-control {
    font-size: 14px;
  }

  &::-webkit-input-placeholder {
    font-size: 12px;
  }

  &::-moz-placeholder {
    font-size: 12px;
  }

  &:-ms-input-placeholder {
    font-size: 12px;
  }

  &:-moz-placeholder {
    font-size: 12px;
  }
}

.hidden-txt {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;

  &.show {
    opacity: 1;
    height: auto;
    visibility: visible;
  }
}

.cyrilic-font {
  font-family: Roboto, sans-serif !important;
}


//========
// | start header | ========

.classynav ul.lang {
  li {
    position: static;
  }
}



#nav {
  li.active {
    a {
      font-weight: 900;
      color: $link-col;
    }
  }
}

.sticky #nav li.active a {
  color: #fff;
}

.header-lang-wrap {
  width: 100px;
}

.header-top-line {
  position: fixed;
  padding: 20px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  @extend .transition;

  &.active {

    background: $link-col;

    .lang {
    }

    .header-top-line-btn {
      color: #fff;
      font-weight: 300;

      &.active {
        color: $link-col;
      }
    }

    .main-nav {

      li {
        a {
          color: #fff;
        }
      }
    }
  }

}

.lang-opener {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding-right: 20px;
  @extend .pos-r;

  &.active {
    &::before {
      transform: rotate(180deg)
    }
  }

  &::before {
    content: '\f107';
    font-family: 'FontAwesome', serif;
    right: 0;
    top: -5px;
    font-size: 20px;
    @extend .pos-a, .transition;
  }

  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    @extend .circle;
  }
}

.lang {
  padding: 5px;
  background: #fff;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  border-radius: 5px;
  top: calc(100% + 15px);
  width: 150px;
  left: 50%;
  margin-left: -75px;
  z-index: 3;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  @extend .pos-a, .transition;

  li {
    padding-top: 5px;
    padding-bottom: 5px;

    & + li {
      border-top: 1px solid #eceef0;
    }

    a {
      font-size: 12px !important;
      color: rgba(76, 76, 73, 1) !important;;
    }

    img {
      height: 23px;
      width: 23px;
      object-fit: cover;
      display: inline-block;
      margin-right: 5px;
      @extend .circle;
    }
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    left: 50%;
    bottom: 100%;
    margin-left: -5px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    @extend .pos-a;
  }

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.header {
  padding: 40px 0;
  @extend .bg-cover;
  @at-root &-top-line {
    &.active {
      box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    }
  }

  &.in-page {
    //padding: 0;
    box-shadow: 0 0 0 1px #edeff2, 0 0 0 2px #e4e8ec;

    .header-top-line {
      background: #fff;

      .header-top-line-btn.active {
        background: $link-col;
        color: #fff;
      }

      &.active {
        .lang {
          a {
            color: $link-col
          }
        }

        .header-top-line-btn {
          color: $link-col;
        }

        .header-top-line-btn.active {
          background: $link-col;
          color: #fff;
        }
      }
    }

    .main-nav {
      li:hover {
        a {
          color: $txt-col
        }
      }

      li {
        a {
          color: $link-col;
        }
      }

      li.active {
        a {
          color: $link-col;
        }
      }
    }
  }

  @at-root &-top-line-btn {
    font-size: 14px;
    color: #073c71;
    border-radius: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 2px 10px;
    &.active {
      background: #fff;
      color: #052571;
    }
  }
  @at-root &-middle {
    margin-top: 100px;
    @at-root &-desc {
      color: #424242;
    }
    @at-root &-title {
      color: $link-col;
      margin-bottom: 40px;
      @extend .f-italic, .f-semi;
    }
    @at-root &-img {
      background-image: url(../images/head-img-bg.png);
      background-repeat: no-repeat;
      background-position: top right;
    }
  }
}

.main-nav {
  display: flex;

  a {
    color: $link-col;
    font-weight: 100;
    @extend .transition;
  }

  li {
    & + li {
      margin-left: 60px;
    }

    &.active {
      a {
        font-weight: 400;
      }
    }

    &.active, &:hover {
      a {
        color: #fff;
      }
    }
  }
}

.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
  pointer-events: none;
  display: block;
  content: "";
  border-radius: .25em;
  background-color: $link-col;
  height: .25em;
  position: absolute;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: top .2s .2s, left .1s, transform .2s, background-color .4s .2s;
}

nav {
  z-index: 1;
}

.burger {
  height: 3em;
  width: 3em;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;

  &.open {
    .burger-lines {
      background-color: initial;

      &::before {
        transform: rotate(-45deg);
        left: .5em;
        top: 0;
      }

      &::after {
        left: .5em;
        top: 0;
        transform: rotate(45deg);
      }
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
  }

  &-lines {
    top: 50%;
    margin-top: -.125em;
    width: 100%;
    transition: top .2s .2s, left .1s, transform .2s, background-color .4s .2s;

    &::before {
      left: 1em;
      top: 1em;
      width: 2em;
    }

    &::after {
      width: 2em;
      top: -1em;
    }
  }
}

.text-decoration-underline {
  text-decoration: underline;
}

a.text-decoration-underline {
  @extend .transition;

  &:hover {
    text-decoration: none;
  }
}

//========
// | end header | ========

//========
// | start main service | ========
.main-service {
  @at-root &-desc {
    p {
      color: #fff;
    }
  }
  @at-root &-content {
    height: 110px;
  }
  @at-root &-icon {
    flex: 0 0 95px;
    margin-right: 50px;
  }
  @at-root &-box {
    align-items: center;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, .5);
    @extend .d-f, .transition;
    &:hover {
      background: #5a78f0;
    }
  }
  @at-root &-title {
    margin-bottom: 25px;
    font-size: 30px;
    max-height: 80px;
    color: #fff !important;
    @extend .ov-h;
  }
  @at-root &-box {
    padding: 40px 45px;
    border-radius: 5px;
    color: #fff;
    &.first {
      background: #1baf90;

      &:hover {
        background: #11a3c6;
      }
    }

    &.second {
      background: #11a3c6;

      &:hover {
        background: #1baf90;
      }
    }
  }
}

//========
// | end main service | ========

//========
// | start main about section | ========
.main-about {
  margin-top: -70px;
  margin-bottom: -70px;
  @extend .pos-r;
  @at-root &-img {
    width: 330px;
    height: 330px;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -175px;
    z-index: 1;
    @extend .pos-a;
  }
  div[class*=col] {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @at-root &-desc {
    font-size: 11px;
    color: #888888;
  }
  @at-root &-content {
    background: #f9fafe;
    padding: 20px 50px;
  }
  @at-root &-title {
    font-size: 17px;
    color: #000;
  }
  @at-root &-head {
    padding: 18px;
    background: #ecedf1;
  }
  @at-root &-box {
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  }
  //========
  // | start main about section | ========
}

//========
// | start main token | ========
.main-token {
  p.main-token-desc {
    max-width: 980px !important;
  }

  @at-root &-img {
    padding-top: 65px;
  }
}

//end main token

//========
// | end main about section | ========

//========
// | start main features | ========
.main-features {
  background-image: url(../images/globus-bg.png);
  -webkit-background-size: contain;
  background-size: 500px;
  background-position: left 100px;
  background-repeat: no-repeat;
  @extend .pos-r, .ov-h;

  &::after {
    content: '';
    width: 440px;
    height: 440px;
    right: -220px;
    z-index: -1;
    top: 70px;
    background: #c7d9f0;
    @extend .circle, .pos-a;
  }

  &::before {
    content: '';
    width: 240px;
    height: 240px;
    right: -140px;
    top: 260px;
    background: #abc5e9;
    @extend .circle, .pos-a;
  }

  @at-root &-desc {
    font-size: 18px;
  }
  @at-root &-title {
    @extend .f-semi, .f-italic;
  }
  @at-root &-icon {
    flex: 0 0 110px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 110px;
      height: 100px;
      object-fit: contain;
    }
  }
  @at-root &-box {
    align-items: center;
    @extend .d-f;
    @at-root &-title {
      margin-bottom: 25px;
      font-size: 32px;
    }
  }
}

.section-title {
  margin-bottom: 100px;
}

//========
// | start main features | ========

//========
// | start main faq | ========
.main-faq {
  @at-root &-desc {
    display: none;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
  }
  @at-root &-box {
    @at-root &-title {
      font-size: 20px;
      line-height: 25px;
      padding: 20px 40px 20px 0;
      border-bottom: 2px solid #f5f6f7;
      @extend .pos-r, .cur-p;
      &::after {
        content: '';
        height: 2px;
        width: 0;
        background: $link-col;
        bottom: 0;
        left: 0;
        @extend .pos-a, .transition;
      }

      &.active {
        &::after {
          width: 100%;
        }

        &::before {
          transform: rotate(90deg);
        }
      }

      &::before {
        content: '';
        width: 30px;
        height: 30px;
        top: 50%;
        margin-top: -15px;
        right: 10px;
        background: #686868 url('../images/arrow-right.png') no-repeat center center;
        @extend .circle, .pos-a, .transition;
      }
    }
  }
}

.section-title-wth-line {
  border-bottom: 3px solid #c8c8c8;
  padding: 0 15px 15px 15px;
}

//========
// | end main faq | ========

//========
// | start main news | ========
.main-news {
  @at-root &-box {
    @extend .d-f;
  }
  @at-root &-title {
    margin-bottom: 40px;
  }
  @at-root &-popular {
    @extend .d-f;
    & + & {
      margin-top: 35px;
    }

    @at-root &-desc {
      @include TextMask(80, 18, true)
    }

    @at-root  &-img {
      flex: 0 0 90px;
      margin-right: 15px;
      background: #e7eaed;
      @include fix-img(90px, 90px)
    }
  }
  @at-root &-top {
    @at-root &-desc {
      color: #666666;
      @include TextMask(115, 18, true)
    }
    @at-root &-title {
      margin-bottom: 15px;
    }
    @at-root &-img {
      margin-bottom: 20px;
      background: #e7eaed;
      @include fix-img(150px, 290px);
    }
  }
}

//========
// | end main news | ========

//========
// | start footer | ========
.footer {
  background: #026d77;
  @at-root &-desc {
    font-size: 16px;
    font-weight: 300;
    p.wh-col {
      opacity: 0.5;
    }
  }
  @at-root &-inf-txt {
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      opacity: 0.5;

      & + p {
        margin-top: 10px;
      }
    }
  }
  @at-root &-navigate {
    font-size: 16px;
    line-height: 30px;
    @extend .f-light;
    li {
      opacity: 0.5;
    }
  }
  @at-root &-navigate-title {
    margin-bottom: 20px;
    min-height: 48px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    opacity: 1 !important;
    @extend .f-semi;
  }
  @at-root &-logo {
    margin-bottom: 30px;
  }
  @at-root &-sotsial {
    margin: -10px;
    @extend .d-f;
    li {
      padding: 10px;
    }
  }
}

//========
// | end footer | ========

//========
// | start  create service page| ========
.main-page {
  background: #f5f7fb;
  @at-root &-title {
    margin-bottom: 20px;
  }
  @at-root &-desc {
    margin-bottom: 60px;
  }
}

.form-window {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, .1);
  padding: 58px;
  border: 2px solid #eaedef;
  background: #fff;
  border-radius: 5px;
  @at-root &-txt-box {
    margin-bottom: 30px;
    opacity: 0;
    visibility: hidden;
    @extend .transition;
  }
  @at-root &-links {
    display: flex;
    justify-content: center;
    a {
      color: #457fce;
      @extend .transition;

      &:hover {
        color: $txt-col;
      }
    }

    li {
      padding: 10px;

      & + li {
        @extend .pos-r;

        &::before {
          content: '';
          height: 2px;
          width: 2px;
          top: 50%;
          margin-top: -1px;
          left: 0;
          background: #555555;
          @extend .pos-a;
        }
      }
    }
  }
  @at-root &-txt {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
  }
  @at-root &-important-txt {
    font-weight: 600;
  }
  @at-root &-inf-txt {
  }
  @at-root &-action {
    margin-bottom: 40px;
  }
  @at-root &-desc {
    font-size: 17px;
    margin-bottom: 25px;
  }
  @at-root &-title {
    margin-bottom: 45px;
  }
}

.in-input {
  background: #ebeef2;
  color: #abacad
}

.success-button {
  height: 50px;
  padding: 0 30px;
  background-color: #457fce;
  border-radius: 3px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  h3 {
    font-size: 22px;
  }
}

.form-gr {
  margin-bottom: 20px;
  @extend .pos-r;

  .showing-password {
    top: 0;
    right: 0;
    width: 90px;
    height: 100%;
    border-radius: 0 5px 5px 0;
    @extend .pos-a, .fx-c, .transition;

    &.active, &:hover {
      background: #eaedef;
    }
  }

  input {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d6dbe0;
    padding: 10px 25px;
    @extend .transition;

    &.good {
      border: 2px solid #97b7e4;
    }

    &.invalid {
      border: 1px solid #d04847;

      &::placeholder {
        color: #d04847
      }
    }
  }
}

.invalid {
  border: 1px solid #d04847 !important;

  &::placeholder {
    color: #d04847
  }
}

.error-col {
  color: #d04847 !important;
}

.f-14 {
  font-size: 14px;
}

.success-col {
  color: #457fce
}

.link {
  color: #457fce;
  @extend .transition;

  &:hover {
    color: $txt-col;
  }
}

//========
// | end create service page| ========

//========
// | start my wallet page| ========
.wallet-box {
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  width: 100%;
  border: 1px solid #e1e4e9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
  @at-root &-content {
    line-height: 20px;
    @include TextMask(60, 18, true)
  }
  @at-root &-title {
    color: #333333;
    font-weight: 600;
    margin-bottom: 10px;
  }
  @at-root &-icon {
    margin-bottom: 10px;
    @include fix-img(130px, 140px);
    img {
      object-fit: contain;
    }
  }
}

.warning-txt-box {
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 25px;

  .error-col {
    font-weight: 400;
  }
}

//========
// | end my wallet page| ========

//========
// | success icon| ========

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .18);
  display: none;
  padding-top: 150px;

  &.success-modal-wrap {
    padding-top: 0;
  }
}

.success-box {
  border-radius: 5px;
  max-width: 470px;
  margin: 0 auto;
  width: 100%;
  padding: 40px;
  text-align: center;
  background: #457fce;
  transform: translateY(50%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  @at-root &-txt {
    margin-bottom: 30px;
  }
  @at-root &-title {
    margin-bottom: 20px;
  }
}

.snow-button {
  color: $link-col;
  border-radius: 5px;
  font-size: 25px;
  min-width: 220px;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  background: #fff;
  @extend .fx-c;
}

$circle-length: 151px;
$check-length: 36px;

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle-length $circle-length;
  stroke: #bff540;
}

#successAnimationCheck {
  stroke-dasharray: $check-length $check-length;
  stroke: #bff540;
}

#successAnimationResult {
  fill: #fff;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;

  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle
  }

  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck
  }

  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }
}

//========
// | success icon| ========

.sotsial {
  display: flex;

  li {
    & + li {
      margin-left: 20px;
    }
  }
}

.qr {
  font-size: 12px;
  @at-root &-head-title {
    color: #073c71;
    font-size: 20px;
    font-style: italic;
  }
  @at-root &-link {
    font-size: 12px;
    color: #424242;
  }
  @at-root &-image-item {
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;
  }
  @at-root &-bottom {
    padding-left: 10px;
    padding-right: 10px;
    ul {
      border-top: 1px solid #e9ecf1;
      display: flex;
      justify-content: space-between;
      margin: -15px;
      font-size: 12px;

      img {
        display: block;
        margin: 0 auto 10px;
      }

      li {
        padding: 15px;
      }
    }
  }
  @at-root &-image {
    text-align: center;
    img {
      display: inline-block;
    }

    p {
      font-size: 12px;
      color: #457fce;
    }

    & + & {
      margin-top: 60px;
    }
  }
  @at-root &-wrap {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    background: #f5f7fb;
  }
  @at-root &-img {

  }
  @at-root &-head {
    border-bottom: 2px solid #e8eaed;
    padding: 25px 20px;
    background: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    @at-root &-img {
      margin-right: 10px;
    }
    img {
      flex: 0 0 auto;
    }

    span {
      display: inline-block;
      padding: 10px;
    }

    p {
      flex: 0 0 100%;
    }
  }
  @at-root &-content {
    writing-mode: tb;
    @at-root &-desc {
      margin-right: -10px;
    }
    @at-root &-title {
      font-weight: 600;
      margin-right: 20px;
    }
  }
}

.transaction-window {
  display: none;
}

body {
  word-break: break-word;
}

//========
// | access modal | ========
.access-modal {
  @at-root &-action-wrap {
    display: flex;
    margin: -10px;
    @at-root &-item {
      padding: 10px;
      flex: 1 1 auto;
    }
  }
  @at-root &-semi-title {
    color: #333;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @at-root &-close-btn {
    right: 20px;
    top: 20px;
    @extend .pos-a, .cur-p;
  }
  @at-root &-top-btn {
  }
  @at-root &-bottom-btn {
    font-size: 13px;
    margin-bottom: 0;
    padding: 0 20px;
    width: 180px;
    min-width: auto;
    display: inline-block;
    @extend .transition;

    & + & {
      margin-left: 10px;
    }
  }
  @at-root &-check {
    color: #333333;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 23px;
    @extend .fx-c;
    [type=checkbox] {
      display: none;

      &:checked {
        & + label {
          .check-icon {
            opacity: 1;
          }
        }
      }

      & + label {
        @extend .cur-p, .fx-c;

        .check-icon {
          width: 22px;
          height: 22px;
          background: url(../images/check-icon.png) top left no-repeat;
          padding-left: 22px;
          margin-right: 10px;
          opacity: 0.4;
          display: inline-block;
          -webkit-background-size: contain;
          background-size: contain;
          @extend .transition;
        }
      }
    }
  }
  @at-root &-desc {
    line-height: 18.4px;
    font-size: 14px;
    color: #919191;
    margin-bottom: 20px;
  }
  @at-root &-wrap {
    padding: 15px;
    border: 1px solid #e8eaed;
  }
  @at-root &-images {
    display: flex;
    justify-content: center;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 20px;
  }
  @at-root &-img {
    padding-left: 30px;
    padding-right: 30px;
    & + & {
      @extend .pos-r;

      &::before {
        content: '';
        width: 27px;
        top: 50%;
        margin-top: -6px;
        left: -13px;
        height: 11px;
        background: url(../images/access-arrow.png) center center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        @extend .pos-a;
      }
    }
  }
  @at-root &-bottom {
    padding: 25px 35px;
    background: #ffff;
  }
  @at-root &-box {
    width: 480px;
    max-width: 100%;
    text-align: center;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    & + & {
      margin-top: 25px;
    }
  }
  @at-root &-title {
    font-size: 23px;
  }
  @at-root &-head {
    background: #457fce;
    padding: 13px;
    @extend .pos-r;
  }
  //end access modal
}

//========
// | cabinet page| ========
.cabinet {
  padding: 40px 0;
  @at-root &-action-btn {
    width: 345px;
    max-width: 100%;
  }
  @at-root &-select {
    height: 48px;
    padding: 2px 20px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e5e9ec;
    width: 100%;
    @extend .cur-p;
    option {
      @extend .cur-p;
    }

    @at-root &-inf-text {
      display: flex;
      justify-content: space-between;
      @at-root &-paragraph {
        min-height: 26px;
      }
      @at-root &-error {
        color: #c1272d;
        font-size: 14px;
        margin-right: 5px;
      }
      button {
        background: #457fce;
        border-radius: 30px;
        color: #fff;
        font-size: 13px;
        padding: 5px 10px;
      }
    }
  }
  @at-root &-head-box {
    height: 190px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .1);
    border: 1px solid #dbe0e5;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    @extend .pos-r, .ov-h, .fx-c;
    @at-root &-desc {
      .f-light {
        height: 28px;
      }
    }
    &::before {
      content: '';
      width: 0;
      height: 0;
      right: 0;
      top: 0;
      border-width: 15px;
      border-style: solid;
      border-color: #d6dbe0 #d6dbe0 transparent transparent;
      @extend .pos-a;
    }

    @at-root &-refresh-text {
      opacity: 0;
      font-size: 13px;
      color: #026c76;
      @extend .transition;
    }

    @at-root &-icon {
      padding: 20px;
      background: #ccecec;
      width: 110px;
      height: 110px;
      flex: 0 0 110px;
      margin-right: 20px;
      @extend .circle, .fx-c;
    }
    @at-root &-title {
      margin-bottom: 15px;
    }
    @at-root &-images {
      display: flex;
      flex-wrap: wrap;
      margin: -8px;
    }
    @at-root &-img {
      padding: 8px;
      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
      }
    }
  }
  @at-root &-middle {
    @at-root &-box {
      box-shadow: 6px 6px 10px rgba(0, 0, 0, .1);
      background: #fff;
      padding: 25px 15px;
      border-radius: 5px;
      border: 1px solid #e0e4e7;
      @at-root &-head {
        padding: 0 75px;
        display: flex;
      }
      @at-root &-head-title {
        color: #333333;
        font-size: 30px;
        padding: 0 25px 15px;
        display: inline-block;
        width: 50%;
        @extend .pos-r;
        &::before {
          content: '';
          height: 5px;
          width: 100%;
          bottom: -3px;
          left: 0;
          background: #457fce;
          @extend .pos-a;
        }
      }
    }
  }
  @at-root .copy-text-out-modal {
    color: #457fce;
    opacity: 0;
    @extend .transition;
  }
  //cabinet page
}

//========
// | text box | ========
.text-box {
  background: #fff;
  padding: 70px 80px;
  @at-root &-title {
    margin-bottom: 70px;
    font-size: 33px;
  }
  //end text box
}

.base-col {
  color: $base-col;

  p {
    color: $base-col;
  }
}

.modal-opener {
  @extend .cur-p;
}

//========
// | store | ========
.store {
  @at-root &-table, &-table-head {
    height: 315px;
    overflow-y: auto;
    margin-bottom: 30px;
    scrollbar-color: #ccc #fff;
    scrollbar-width: thin;
    scrollbar-face-color: #ccc;
    scrollbar-shadow-color: #ccc;
    scrollbar-highlight-color: #ccc;
    scrollbar-3dlight-color: #ccc;
    scrollbar-darkshadow-color: #ccc;
    scrollbar-track-color: #D9D1AC;
    scrollbar-arrow-color: #D9D1AC;
    &::-webkit-scrollbar {
      background-color: #fff;
      width: 2px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d6dbe0;
      border-radius: 16px;
      border: none;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;

      img {
        width: 70px;
        height: 20px;
        object-fit: contain;
      }
    }

    tr:not(:first-child) {
      border-bottom: 1px solid #e8ebee;
    }

    td {
      padding: 15px;
    }

    th {
      padding: 15px 0;
      background: #f4f6fa;
      font-size: 16px;
      color: #333333;
      font-weight: 400;
    }
  }
  @at-root .store-table-head {
    height: auto;
    margin-bottom: 0 ;
  }
  @at-root &-box {
    background: #fff;
    padding: 57px 47px 37px 50px;
    border: 1px solid #e4e8ec;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    @at-root &-desc {
      margin-bottom: 35px;
    }
    @at-root &-title {
      font-size: 33px;
      color: #424242;
      margin-bottom: 15px;
    }
  }
  //end store
}

//========
// | qr code modal | ========

.qr-code-modal {
  @at-root &-bottom {
    padding-top: 40px;
  }
  @at-root &-action-btn {
    font-size: 22px;
  }
  @at-root &-desc {
    color: #919191;
    margin-bottom: 25px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  @at-root &-img {
    margin-bottom: 15px;
    @extend .fx-c;
    img {
      width: 175px;
      height: 175px;
      object-fit: contain;
    }
  }
  //qr code modal
}

//========
// | privacy box | ========
.privacy-box {
  padding: 70px 75px 25px;
  background: #fff;
  @at-root &-content {
    &.txt-editor {
      color: #333333;
      font-size: 20px;
    }

    &-title {
      font-size: 28px;
      color: #000;
      text-align: center;
      margin-bottom: 40px !important;
      @extend .f-semi;
    }
  }
  @at-root &-date {
    color: #000;
    margin-bottom: 80px;
    @extend .f-semi;
  }
  @at-root &-title {
    color: #000;
    font-size: 33px;
    margin-bottom: 65px;
    @extend .f-semi;
  }
  //privacy box
}

//========
// | search box | ========
.search-result-wrap {
  background: #fff;
  padding: 40px 0;
}

.search-box {
  margin-bottom: 75px;
  @extend .pos-r;
  @at-root &-btn {
    right: 0;
    top: 0;
    height: 100%;
    width: 140px;
    background: #457fce;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 17px;
    @extend .pos-a, .f-semi;
  }
  input {
    width: 100%;
    height: 45px;
    border: 1px solid #e0e4e8;
    border-radius: 5px;
    padding-left: 22px;
  }

  //search box
}

//========
// | news box | ========

.news-wrap .news:last-of-type {
  .news-box {
    border-bottom: 0;
  }
}

.news-box {
  padding: 55px 30px 45px;
  display: flex;
  border-bottom: 1px solid #dadfe3;
  @at-root &-more-btn {
    margin-top: 40px;
  }
  @at-root &-desc {
    line-height: 22px;
    color: #333333;
  }
  @at-root &-title {
    color: #000000;
    font-size: 25px;
    margin-bottom: 23px;
    display: inline-block;
    border-bottom: 2px solid #000;
    @extend .f-semi;
  }
  @at-root &-img {
    flex: 0 0 170px;
    margin-right: 35px;
    @include fix-img(140px, 170px);
  }
  //news box
}

//========
// | search result box | ========
.search-result {
  @at-root &-box {
    padding: 35px;
    min-height: 370px;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .15);
    @at-root &-link {
      color: #457fce;
      line-height: 36px;
      @extend .transition;
    }
    @at-root &-title {
      font-size: 33px;
      margin-bottom: 35px;
    }
  }
  //search result box
}

//========
// | store modal | ========
.store-modal {
  @at-root &-desc {
    color: #919191;
    font-size: 14px;
    margin-bottom: 30px;
  }
  @at-root &-bottom {
    background: #fff;
    padding: 30px;
    height: 480px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      background-color: #fff;
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d6dbe0;
      border-right: 5px solid #fff;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    @at-root &-title {
      margin-bottom: 10px;
      color: #333333;
      font-size: 16.56px;
      padding-left: 10px;
    }
  }
  @at-root &-box {
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    textarea {
      width: 100%;
      background: #f4f6fa;
      border-radius: 5px;
      border: 2px solid #e3e6eb;
      padding: 15px;
    }

    input {
      background: #f4f6fa;
      height: 38px;
    }

    .access-modal-close-btn {
      top: 15px;
    }
  }
  @at-root &-title {
    line-height: 50px;
  }
  @at-root &-head {
    min-height: 50px;
    background: #457fce;
    text-align: center;
    color: #fff;
    @extend .pos-r;
  }
  //store modal
}

//========
// | finding element box | ========
.finding-element {
  display: none;
  margin-bottom: 60px;
  @at-root &-desc {
    line-height: 25px;
    color: #333333;
    font-size: 20px;
  }
  @at-root &-title {
    color: #000;
    font-size: 25px;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    display: inline-block;
    @extend .f-semi;
  }
  @at-root &-box {
    padding: 70px 45px;
    border-bottom: 1px solid #d8dde2;
  }
  //finding element box
}

//========
// | private modal window | ========
.private-form-group {
  margin-bottom: 30px;

  //private modal window
}

//========
// | user auth | ========
.auth {
  display: inline-flex;
  align-items: center;
  margin: -8px;
  padding-right: 10px;
  @extend .pos-r, .cur-p;
  @at-root &-disabled {
    opacity: 0.7;
  }
  &::before {
    content: '';
    width: 16px;
    height: 10px;
    right: -10px;
    background: url('../images/arrow-down.png') no-repeat;
    @extend .pos-a, .transition;
  }

  &.active {
    &::before {
      transform: rotate(180deg);
    }

    .auth-popup {
      opacity: 1;
      visibility: visible;
    }
  }

  @at-root &-popup {
    top: calc(100% + 30px);
    left: 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    @extend .pos-a, .transition;
    &::before {
      content: '';
      width: 0;
      height: 0;
      right: 20px;
      bottom: 100%;
      margin-left: -5px;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #fff transparent;
      @extend .pos-a;
    }

    li {
      display: block;
      width: 100%;
    }

    a {
      min-width: 150px;
      font-size: 12px;
      padding: 20px 20px;
      width: 100%;
      color: #333333 !important;
      font-weight: 500;
      @extend .cur-p;

      &:hover {
        background: #c5efee;
        color: $link-col !important;
      }
    }
  }
  @at-root &-item {
    padding-left: 8px;
    padding-right: 8px;
  }
  //user auth
}

//========
// | main carousel | ========
.header-middle-carousel {
  background: url(../images/case.png) no-repeat left top;
  -webkit-background-size: contain;
  background-size: contain;
  transform: rotate3d(1, 1, 1, -50deg);
  -webkit-transform: rotate3d(1, 1, 1, -45deg);
  width: 240px;
  height: 500px;
  padding: 0 0;
  margin-right: auto;
  margin-left: auto;

}

.header-middle-carousel-item {
  img {
    width: 240px;
    height: 500px;
    object-fit: contain;
    object-position: left top;
  }

  //main carousel

}

//========
// | main header | ========

.main-header {
  background-size: contain !important;
  background-position: right top;
  background-repeat: no-repeat;
}

.welcome-content {
  h1, p {
    color: #272e3a !important;
  }

  //========
  // | main header | ========
}

//========
// | account | ========
.form-control[readonly] {
  background: #fff;
}

.form-label {
  margin-bottom: 5px;
  text-align: left;
}

.form-control {
  height: 46px;
}

.btn-style {
  height: 50px;
  background: #026c76;
  color: #fff;
  font-weight: 600;
  @extend .transition;

  &.disabled {
    background: #999999;
  }
}

.wth-check {
  text-align: left;

  label {
    display: flex;
    align-items: center;
  }

  span {
    font-size: 11px;
    @extend .transition;
  }

  @at-root &-control {
    left: -99999px;
    @extend .pos-a;
    &:checked {
      border: 1px solid red;

      & + label {
        span {
          color: $link-col;
        }

        i {
          color: $link-col;
        }
      }
    }
  }
  i {
    color: #d8dde1;
    margin-right: 10px;
    @extend .transition;
  }
}

//========
// | account | ========
.account {
  padding-top: 90px;
  select {
  }
  @at-root &-action-wrap {
    padding-top: 30px;
  }
  @at-root &-check-square {
    width: 16px;
    height: 16px;
    border: 1px solid $link-col;
    display: inline-block;
    margin-right: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;

    @extend .transition;
  }
  @at-root &-check-wrap {
    @at-root &-bottom {
      label {
        text-align: left;
        padding-right: 45px;
        @extend .pos-r;

        a {
          right: 10px;
          @extend .pos-a;
        }
      }
    }
    @at-root &-disable {
      label {
        cursor: auto !important;
      }

      .account-check-square {
        border: 1px solid #e8ebee;
      }
    }
    & + & {
      margin-top: 10px;
    }

    @at-root &-top {
      border-bottom: 1px solid #d6dbe0;
    }
    input {
      display: none;

      &:checked {
        + label {
          color: $link-col;

          .account-check-square {
            background-image: url('../img/check-icon.png');
          }
        }
      }
    }

    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      @extend .transition;
    }
  }
  @at-root .wth-icon {
    select {
      text-indent: 35px;
    }
    input {
      padding-left: 50px;
    }

    @extend .pos-r;
    &::before {
      content: '';
      top: 32%;
      left: 25px;
      width: 15px;
      height: 15px;
      -webkit-background-size: contain;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      @extend .pos-a;
    }

    &.user {
      &::before {
        background-image: url('../img/user-icon.png');
      }
    }

    &.password {
      &::before {
        background-image: url('../img/password-icon.png');
      }
    }
  }
  @at-root &-location-bar {
    @extend .pos-r;
    &::before {
      content: '';
      width: 90px;
      height: 100%;
      left: 5px;
      top: 0;
      -webkit-background-size: contain;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('../img/https-icon.png');
      @extend .pos-a;
    }

    input {
      height: 30px;
      padding-left: 101px;
      font-size: 12px;
      font-weight: 600;

      &:focus, &:active {
        outline: none;
      }
    }
  }
  @at-root &-min-txt-desc {
    font-size: 11px;
    font-weight: 300;
  }
  @at-root &-txt-info {

  }
  @at-root  &-content {
    padding: 120px 0 80px;
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
  }
  @at-root &-title {
    font-size: 28px;
    color: #000;
    margin-bottom: 30px;
    font-weight: 600;
  }
  @at-root &-wrap {
    display: flex;
    @at-root &-inner {
      width: 50%;
      background: #fff;
    }
    &-right {
      width: 50%;
      background-repeat: no-repeat;
      @extend .bg-cover;
    }
  }
  //========
  // | account | ========
}

//========
// | account | ========

//========
// | changebutton | ========
.changeButton {
  @extend .pos-r;

  &.rotate {
    h3 {
      display: none;
    }
    img {
      opacity: 1;
    }
  }

  img {
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -12px;
    animation: rotate 1s linear infinite;
    opacity: 0;
    @extend .pos-a;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

//========
// | changebutton | ========

//========
// | nav drawer | ========
.dark.breakpoint-on .classy-navbar .classy-menu, .dark.breakpoint-on .classynav > ul > li > a {
  background: #026c76;
}

.dark .classy-navbar-toggler .navbarToggler span {
  background: #333;
}

.sticky .dark .classy-navbar-toggler .navbarToggler span, .in-inner-page .navbarToggler span {
  background: #fff !important;
}

.sticky .lang-opener::before, .in-inner-page .lang-opener::before {
  color: #fff;
}

.breakpoint-on .login-btn {
  color: #fff !important;
}


@import "media";
//
//* {
//  box-shadow: 0 0 10px rgba(0,0,0,.5);
//}
